.ccf-ontology-search {
  width: 100%;

  .field {
    width: 100%;
    padding-bottom: 1.34375em;
    font-size: inherit;
    line-height: 1.125;
    letter-spacing: normal;

    ::ng-deep .mat-mdc-text-field-wrapper {
      margin: 0;
      height: 2.75rem;

      .mat-mdc-form-field-flex {
        align-items: center;
        height: 2.75rem;

        .mat-mdc-form-field-infix {
          padding: 1rem 0;

          input {
            margin-left: .4rem;
          }
        }

        .mat-mdc-form-field-icon-prefix {
          padding: 0;
        }

        mat-icon {
          padding-right: 0;
        }
      }
    }
  }
}


::ng-deep .ccf-ontology-search.detached {
  border: 0.125rem solid;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  max-height: 18rem;
  padding: 0;
  box-shadow: none;

  .results-container {
    width: 23.75rem;
    margin-bottom: 1rem;
    overflow: auto;
    max-height: 15rem;
    scrollbar-width: thin;

    mat-option {
      min-height: 1.5rem;
      font-size: 1rem;
      font-weight: 500;

      .search-term {
        text-decoration: underline;
      }
    }
  }
}

.autocomplete-open {
  ::ng-deep .mdc-notched-outline {
    .mdc-notched-outline__leading {
      border-radius: 0.25rem 0 0 0;
      border-bottom: none;
    }

    .mdc-notched-outline__trailing {
      border-radius: 0 0.25rem 0 0;
      border-bottom: none;
    }
  }
}
