.ccf-ontology-search {
  width: 25rem;
  margin-top: 1.5rem;

  .field {
    margin-left: 1.5rem;
    width: 100%;
    
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0 0.25rem 0.25rem 0;
      margin: 0;
    }

    .mat-form-field-wrapper {
      margin: 0;
      

      .mat-form-field-flex {
        .mat-form-field-infix {
          border: none;
          height: 3rem;
          

          input {
            margin-left: .4rem;
          }
        }
        .mat-form-field-prefix {
          top: .5rem;
          border: none;
        }
      }
    }

    .mat-form-field-outline-start {
      border-radius: 0.25rem 0 0 0.25rem;
      min-width: 2.5rem;
	  }
  }
}

::ng-deep .ccf-ontology-search.detached {
  border: 2px solid;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 18rem;

  .results-container {
    width: 23.75rem;
    margin-bottom: 1rem;
    overflow: auto;
    max-height: 15rem;
    scrollbar-width: thin;

    mat-option {
      height: 1.5rem;
      width: 23.75rem;
      
      .search-term {
        text-decoration: underline;
      }
    }
  }

}

.autocomplete-open {
  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-start {
      border-radius: 4px 0 0 0;
      border-bottom: none;
    }

    .mat-form-field-outline-end {
      border-radius: 0 4px 0 0;
      border-bottom: none;
    }
  }
}