:host {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }

  button {
    margin: 1rem;
    min-width: 6rem;
    background-color: #007cbe;
    display: flex;
    justify-content: center;
  }
}