<div class="container">
  <div class="left" #left>
    <ccf-organ [blocks]="blocks$ | async" [filter]="filter$ | async" [sex]="sex$ | async" [side]="side$ | async" [organ]="organ$ | async" [scene]="(scene$ | async) ?? []"
               (sexChange)="updateInput('sex', $event); sexChange.emit($event)" (nodeClick)="nodeClicked.emit($event)" (sideChange)="updateInput('side', $event); sideChange.emit($event)">
    </ccf-organ>
  </div>
  <div class="right" #right>
    <ccf-stats-list [statsLabel]="statsLabel$ | async" [stats]="stats$ | async">
    </ccf-stats-list>
    <ccf-link-cards
      [ruiUrl]="ruiUrl$ | async"
      [euiUrl]="euiUrl$ | async"
      [asctbUrl]="asctbUrl$ | async"
      [hraPortalUrl]="hraPortalUrl$ | async"
      [onlineCourseUrl]="onlineCourseUrl$ | async"
      [paperUrl]="paperUrl$ | async"
      >
    </ccf-link-cards>
  </div>
</div>
