.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-family: Inter;
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: left;
  position: relative;
  background-color: white;
  color: black;


  .left {
    width: auto;
  }

  .right {
    margin-left: 2rem;
    width: 29rem;
  }
}