@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .outline-button {
    color: mat.get-color-from-palette($foreground, light-button-text);
    background-color: mat.get-color-from-palette($background, button-bg);

    &:hover {
      background-color: mat.get-color-from-palette($background, button-background-hover)
    }
  }

  .popup-container {
    background-color: mat.get-color-from-palette($background, modal);
    border-color: mat.get-color-from-palette($foreground, modal-borders);
  }

  .show-hide {
    color: mat.get-color-from-palette($foreground, contrast-icon);

    &:hover {
      background-color: map-get($background, info-button-hover) !important;
    }
  }

  .refresh-icon {
    &:hover {
      background-color: map-get($background, info-button-hover) !important;
    }
  }
}
