@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .outline-button {
    color: mat-color($foreground, light-button-text);
    background-color: mat-color($background, button-bg);
  }

  .popup-container {
    background-color: mat-color($background, modal);
    border-color: mat-color($foreground, modal-borders);
  }

  .show-hide {
    color: mat-color($foreground, contrast-icon);

    &:hover {
      color: mat-color($accent);
    }
  }

  .icon {
    color: mat-color($foreground, main);

    &:active {
      color: mat-color($foreground, icon-active);
    }

    &:hover {
      background: mat-color($foreground, icons-hover);
    }
  }
}
