.filter {
  &.hidden {
    display: none !important;
  }

  margin-top: 2rem;
}

.button-container {
  &.hidden {
    display: none !important;
  }

  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.outline-button {
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem #0000001d;
}

.patient-filters {
  display: flex;
  width: 90%;
  padding-top: 1rem;

  &.hidden {
    display: none !important;
  }

  ccf-dual-slider {
    margin-left: .5rem;
    width: 33%;
  }

  ccf-dropdown {
    width: 33%;
  }
}
