.filter {
  &.hidden {
    opacity: 0;
    transition-duration: 0.2s;
  }

  &.assays {
    .option {
      margin-right: 0 rem;
      width: 25%
    }
  }

  margin-top: 2rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  ::ng-deep button {
    border-width: 1px;
    border-style: solid;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  button {
    border-width: 1px;
    border-style: solid;
  }

  &.hidden {
    opacity: 0;
    transition-duration: 0.2s;
  }

  .right-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  
    .outline-button {
      box-shadow: 0.1rem 0.1rem 0.2rem 0rem #0000001d;
    }
    
    .refresh-icon {
      padding: 0.25rem;
      border-radius: 0.25rem;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s;
    
      .refresh {
        cursor: pointer;
        transition: .6s;
        transition-property: background;
      }
    }
  }
}

.patient-filters {
  display: flex;
  width: 90%;
  padding-top: 1rem;

  &.hidden {
    opacity: 0;
    transition-duration: 0.2s;
  }

  ccf-dual-slider {
    margin-left: .5rem;
    width: 33%;
  }

  ccf-dropdown {
    width: 33%;
  }
}
