@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-header {
    border-bottom-color: mat.get-color-from-palette($foreground, header-border);
    background-color: mat.get-color-from-palette($background, app-bar);
    color: mat.get-color-from-palette($foreground, headers);
    box-shadow: 0px 1px 5px 1px map-get($foreground, app-bar-shadow);
    ;
    z-index: 2;

    .icon {
      color: mat.get-color-from-palette($foreground, icon);
    }

    .text {
      color: mat.get-color-from-palette($foreground, logo);
    }

    .home:hover * {
      color: mat.get-color-from-palette($accent);
    }

    .info {
      color: mat.get-color-from-palette($foreground, info-icon);
    }
  }
}
