:host {
  display: flex;
  align-items: center;
  min-height: 4rem;
  padding: 0 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .text {
    padding: 0.25rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.5rem;
  }


  .link {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25rem 0;
  }

  .home {
    * {
      transition: color .6s;
    }

    .backbutton {
      // Material icons do not always fill the space given
      // Scale up size for icon to look correct
      font-size: 2.25rem;
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  .portal {
    height: 100%;
    width: 25rem;
    align-items: center;
    display: flex;
  }

  .logo {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .filler {
    flex-grow: 1;
    margin: 0;
  }
}
