<div class="item-entry" [class.selected]="selection ? getId(0, selection) === getId(0, item) : false" (mouseleave)="mouseOut()" *ngFor="let item of items; trackBy: getId" >
  <mat-icon class="opacity-icon visible" (mouseenter)="mouseOver(item)" svgIcon="app:opacity"></mat-icon>
  <div class="item-name" [class.hidden]="item.id == selection?.id" title="{{item.name}}">{{ item.name }}</div>
  <!-- <div class="opacity-setting" [class.hidden]="isHidden(item)">{{ item.opacity }}</div> -->

  <div class="slider" [class.hidden]="item.id != selection?.id">
    <ccf-opacity-slider #slider [visible]="item.visible"
    (opacityChange)="updateOpacity($event)" (opacityReset)="resetOpacity()"
    [opacity]="selection ? selection?.opacity : 20" (visibilityToggle)="toggleVisibility(item)">
    </ccf-opacity-slider>
  </div>

</div>
