:host {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  max-height: 18rem;
  overflow-y: auto;
  scrollbar-width: thin;

  .reset {
    cursor: pointer;
  }

  .item-entry {
    display: flex;
    height: 2.25rem;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    .opacity-icon {
      z-index: 2;
    }

    .item-name {
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0.5rem;

      &.hidden {
        display: none
      }
    }

    .slider {
      width: calc(100% - 2rem);
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;
      transition-property: width;
      left: 2rem;
      position: absolute;

      &.hidden {
        width: 0rem;

        ccf-opacity-slider {
          display: none;
        }
      }
    }
  }
}