:host {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  margin-right: 0;
  margin-left: 0;
  max-height: 18rem;
  overflow-y: auto;
  scrollbar-width: thin;

  .item-entry {
    display: flex;
    height: 2.25rem;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    .visibility-icon {
      margin-left: .5rem;
      position: absolute;
      transition: .6s;

      &.hidden {
        opacity: 0;
      }
    }

    .visibility-icon, .item-name {
      cursor: pointer;
    }

    .item-name {
      margin-left: 2.5rem;
      user-select: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .opacity-setting {
      margin-left: auto;
      margin-right: 1rem;

      &.hidden {
        display: none;
      }
    }
  }

}