@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-visibility-menu {
    .icon {
      color: mat-color($foreground, main);

      &:hover {
        background: mat-color($foreground, icons-hover);
      }
    }

    .opacity-icon {
      &.fade {
        color: mat-color($foreground, icons-disabled);
      }
    }
  }
}