@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .ccf-visibility-menu {
    .visibility-icon {
      color: mat-color($foreground, icon);
      &.highlighted {
        color: mat-color($accent);
      }
    }
  }
}