@use '@angular/material' as mat;
@use 'themes/common/theming';
@use 'themes/common/typography';
@use 'themes/_default_light';
@use 'themes/_default_dark';
@use 'themes/hubmap_light';
@use 'themes/hubmap_dark';
@use 'themes/sennet_light';
@use 'themes/sennet_dark';
@use 'themes/gtex_light';
@use 'themes/gtex_dark';

@import 'swiper/swiper.min.css';

@include mat.core();
@include mat.all-component-typographies(typography.$config);

.default-theme-light {
  @include theming.ccf-theme(default_light.$theme);
}

.default-theme-dark {
  @include theming.ccf-theme(default_dark.$theme);
}

.hubmap-theme-light {
  @include theming.ccf-theme(hubmap_light.$theme);
}

.default-theme-light, .default-theme-dark {
  .home {
    width: 19rem !important;
  }

  .logo {
    background-size: cover !important;
  }
}

.hubmap-theme-dark {
  @include theming.ccf-theme(hubmap_dark.$theme);
}

.sennet-theme-light {
  @include theming.ccf-theme(sennet_light.$theme);
}

.sennet-theme-dark {
  @include theming.ccf-theme(sennet_dark.$theme);
}

.sennet-theme-light, .sennet-theme-dark {
  .home {
    width: 15rem !important;
  }

  .logo {
    height: 100% !important;
  }
}

.gtex-theme-light {
  @include theming.ccf-theme(gtex_light.$theme);
}

.gtex-theme-dark {
  @include theming.ccf-theme(gtex_dark.$theme);
}

.gtex-theme-light, .gtex-theme-dark {
  .home {
    width: 11rem !important;
  }

  .logo {
    height: 100%;
  }

  .ccf-header {
    border-bottom-width: 20px !important;
    box-shadow: none;
  }
}

.default-theme-light, .sennet-theme-light, .hubmap-theme-light, .gtex-theme-light {
  .mdc-tooltip {
    background: rgba(97, 97, 97);
  }
}

.default-theme-dark, .sennet-theme-dark, .hubmap-theme-dark, .gtex-theme-dark {
  .cls-2-spinal-cord, .cls-1-placenta {
    fill: #212121;
  }
  .mat-mdc-dialog-container {
    border-color: #e0e0e0;
  }
  ::-webkit-scrollbar {
    background: #757575;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ccf-ui-font, ""), Inter, Inter Variable, sans-serif;
  background-color: white;
}

mat-icon {
  user-select: none;
}

button {
  font-family: var(--ccf-ui-font, ""), Inter, Inter Variable, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3);
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.5);
}

/* Tooltip styles */
.mdc-tooltip {
  border-radius: 4px;
  .mdc-tooltip__surface {
    font-size: 10px !important;
  }
}

.mat-mdc-dialog-container {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}
