.filters-popover {
  position: inherit;

  &.expanded {
    position: relative;

    .popup-container {
      right: inherit;
    }

    .popup-body {
      padding-left: 4em !important;
    }
  }
}


  .popup-container {
    position: absolute;
    z-index: 5;
    top: 1.2rem;
    left: 1.48rem;
    box-shadow: 0.2rem 0.2rem 1rem 0rem #00000058;

    &.visible {
      border-width: 1px;
      padding: 2rem;
      width: 47.5rem;
      height: 40rem;
      transition: all .2s ease-in-out 0s;

      .popup-body {
        opacity: 1;
        transition: opacity .2s ease-in-out .3s;
      }
    }

    &.hidden {
      border-width: 0;
      padding: 0;
      width: 0;
      height: 0 !important;
      transition: all .2s ease-in-out .3s;

      .popup-body {
        opacity: 0;
        transition: opacity .2s ease-in-out 0s;
        pointer-events: none;
      }
    }
  }

.show-hide {
  background: none;
  border: none;
  z-index: 10;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.6s;
}
