.filters-popover {
  position: inherit;

  &.expanded {
    position: relative;

    .popup-container {
      right: inherit;
    }

    .popup-body {
      padding-left: 4em !important;
    }
  }
}

.popup-container {
  position: absolute;
  z-index: 5;
  top: 1.2rem;
  left: 1.48rem;
  box-shadow: 0.2rem 0.2rem 1rem 0rem #00000058;
  transition: all 0.3s ease-in-out;

  .popup-body {
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }

  &.visible {
    padding: 2rem 2rem 2rem 1.5rem;
    width: 52rem;
    height: 36.75rem;
    border-width: 1px;

    .popup-body {
      opacity: 1;
    }
  }

  &.hidden {
    padding: 0;
    width: 0;
    height: 0;
    transition-delay: 0.2s;
    pointer-events: none;

    .popup-body {
      opacity: 0;
    }
  }
}

.show-hide {
  background: none;
  border: none;
  z-index: 10;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.6s;

  .funnel {
    // margin-top: 0.25rem;
  }
}
