<div class="filters-popover" [class.expanded]="drawerExpanded">
  <button (click)="toggleFilterVisible()" class="show-hide" [class.open]="filtersVisible">
    <div *ngIf="filtersVisible; else notShow">
      <mat-icon class="icon">close</mat-icon>
    </div>
    <ng-template #notShow>
      <mat-icon svgIcon="filter" class="icon funnel"></mat-icon>
    </ng-template>
  </button>
  <div #container class="popup-container" [class.visible]="filtersVisible" [class.hidden]="!filtersVisible">
      <ccf-filters-content class="popup-body" [technologyFilters]="technologyFilters" [providerFilters]="providerFilters"
        [spatialSearchFilters]="spatialSearchFilters" [hidden]="!filtersVisible" [filters]="filters"
        (applyFilters)="applyFilters($event)" (spatialSearchSelected)="spatialSearchSelected.emit($event)"
        (spatialSearchRemoved)="spatialSearchRemoved.emit($event)">
      </ccf-filters-content>
  </div>
</div>
