<div class="filters-popover" [class.expanded]="drawerExpanded">
  <button (click)="toggleFilterVisible()" class="show-hide" [class.open]="filtersVisible">
    <div *ngIf="filtersVisible; else notShow">
      <mat-icon class="icon">close</mat-icon>
    </div>
    <ng-template #notShow>
      <mat-icon svgIcon="filter" class="icon funnel"></mat-icon>
    </ng-template>
  </button>
  <div class="popup-container" [class.visible]="filtersVisible" [class.hidden]="!filtersVisible">
    <div class="popup-body">
      <ccf-filters-content [technologyFilters]="technologyFilters" [providerFilters]="providerFilters" [hidden]="!filtersVisible" [filters]="filters" (applyFilters)="applyFilters($event)"></ccf-filters-content>
    </div>
  </div>
</div>
