.filters-popover {
  position: inherit;

  &.expanded {
    position: relative;

    .popup-container {
      right: inherit;
    }

    .popup-body {
      padding-left: 4em !important;
    }
  }
}

.popup-container {
  position: absolute;
  border-width: 0px;
  border-style: solid;
  width: 0em;
  height: 16.5rem; // 22.5rem
  z-index: 5;
  top: 0;
  right: 24rem;
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;
  transition-property: width;
  transition-duration: 0.3s;

  .popup-body {
    position: relative;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
  }

  &.visible {
    width: 35rem;
    border-width: 1px;

    .popup-body {
      padding: 1.5rem;
      opacity: 1;
      transition-delay: 0.3s;
      transition-duration: 0.3s;
    }
  }
}

.show-hide {
  background: none;
  border: none;
  z-index: 10;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 0;
}
