@use '@angular/material' as mat;

@use '../../app/modules/header/header.component.theme' as header;
@use '../../../../../libs/ccf-shared/src/lib/components//info/info-dialog/info-dialog.component.theme.scss' as infoDialog;
@use '../../../../../libs/ccf-shared/src/lib/components/info/info-button/info-button.component.theme.scss' as infoButton;
@use '../../app/shared/components/drawer/drawer.theme' as drawer;
@use '../../app/modules/right-sidebar/right-sidebar.component.theme.scss' as rightSidebar;
@use '../../app/shared/components/block-size-input/block-size-input.component.theme.scss' as blockSizeInput;
@use '../../app/shared/components/slices-input/slices-input.component.theme.scss' as slicesInput;
@use '../../app/shared/components/rotation-slider/rotation-slider.component.theme.scss' as rotationSlider;
@use '../../app/shared/components/tag-list/tag-list.theme.scss' as tagList;
@use '../../app/shared/components/tag-search/tag-search.component.theme.scss' as tagSearch;
@use '../../app/modules/left-sidebar/left-sidebar.component.theme.scss' as leftSidebar;
@use '../../app/shared/components/name-input/name-input.component.theme' as nameInput;
@use '../../../../../libs/ccf-shared/src/lib/components/organ-selector/organ-selector.component.theme' as organSelector;
@use '../../app/shared/components/labeled-slide-toggle/labeled-slide-toggle.component.theme' as slideToggle;
@use '../../app/shared/components/visibility-menu/visibility-menu.component.theme' as visibilityMenu;
@use '../../app/shared/components/extraction-set-dropdown/extraction-set-dropdown.component.theme' as extractionSets;
@use '../../../../../libs/ccf-shared/src/lib/components/opacity-slider/opacity-slider.component.theme' as opacitySlider;
@use '../../../../../libs/ccf-shared/src/lib/components/spatial-search-keyboard-ui/spatial-search-keyboard-ui.component.theme' as spatialKeyBoardUI;
@use '../../app/shared/components/details-label/details-label.component.theme' as detailsLabel;
@use '../../app/modules/content/content.component.theme.scss' as content;
@use '../../app/modules/content/stage-nav/stage-nav.component.theme.scss' as stageNav;
@use '../../app/shared/components/visibility-toggle/visibility-toggle.component.theme.scss' as visibilityToggle;
@use '../../app/modules/review/review-button/review-button.component.theme.scss' as reviewButton;
@use '../../app/modules/review/review-modal/review-modal.component.theme.scss' as reviewModal;
@use '../../app/modules/content/video-modal/video-modal/video-modal.component.theme.scss' as videoModal;
@use '../../app/modules/content/video-modal/video-modal-launcher/video-modal-launcher.component.theme.scss' as videoModalLauncher;
@use '../../app/shared/components/json-file-reader/json-file-reader.theme.scss' as jsonFileReader;
@use '../../app/modules/registration-modal/registration-content/registration-content.component.theme.scss' as registrationContent;
@use '../../app/shared/components/registration-metadata/registration-metadata.component.theme' as registrationMetadata;



@mixin ccf-theme($theme) {
  @include mat.core-theme($theme);

  @include mat.button-theme($theme);
  @include mat.checkbox-theme($theme);
  @include mat.expansion-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.input-theme($theme);
  @include mat.radio-theme($theme);
  @include mat.select-theme($theme);
  @include mat.slide-toggle-theme($theme);
  @include mat.toolbar-theme($theme);
  @include mat.tooltip-theme($theme);
  @include mat.slider-theme($theme);

  @include header.theme($theme);
  @include infoDialog.theme($theme);
  @include infoButton.theme($theme);
  @include drawer.theme($theme);

  @include rightSidebar.theme($theme);
  @include blockSizeInput.theme($theme);
  @include slicesInput.theme($theme);
  @include rotationSlider.theme($theme);
  @include tagList.theme($theme);
  @include tagSearch.theme($theme);
  @include spatialKeyBoardUI.theme($theme);
  @include leftSidebar.theme($theme);
  @include nameInput.theme($theme);
  @include organSelector.theme($theme);
  @include slideToggle.theme($theme);
  @include visibilityMenu.theme($theme);
  @include extractionSets.theme($theme);
  @include opacitySlider.theme($theme);
  @include detailsLabel.theme($theme);
  @include visibilityToggle.theme($theme);

  @include content.theme($theme);
  @include stageNav.theme($theme);

  @include reviewButton.theme($theme);
  @include reviewModal.theme($theme);
  @include videoModal.theme($theme);
  @include videoModalLauncher.theme($theme);
  @include jsonFileReader.theme($theme);
  @include registrationContent.theme($theme);
  @include registrationMetadata.theme($theme);

  // Overrides goes here!
}
