
// General
$background-color: #fafafa;
$border-color: #e0e0e0;

// Icons
$icon-color: #757575;
$active-icon-color: #000000;

// Buttons
$active-button-color: #20558a;
$active-button-contrast-color: #ffffff;

// Search drawer
$search-drawer-background-color: #f5f5f5;

// Age slider
$age-slider-background-color: #ffffff;
$age-slider-bar-color: #e0e0e0;
$age-slider-selection-color: #20558a;
