@use '@angular/material' as mat;


$config: mat.define-legacy-typography-config(
  $body-1: mat.define-typography-level(1rem, 1.5rem, 500),
  $font-family: 'var(--ccf-ui-font, ""), Inter, Inter Variable, sans-serif'
);
