.layers-container {
  padding-top: 1rem;
}

.layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
    visibility: hidden !important;
}

.color-selector-placeholder {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}
