<ccf-scheme-dropdown (schemeChange)="updateLayerScheme($event)"></ccf-scheme-dropdown>

<div class="layers-container">
    <div class="layer" *ngFor="let layer of layers">
        <mat-checkbox [checked]="layer.selected" (change)="checkboxOnChange(layer)">
            {{ layer.label }}
        </mat-checkbox>
        <div>
            <ccf-color-picker-launcher [class.hidden]="!layer.selected" [layer]="layer"
                (layerChange)="layerChange($event, layer)" *ngIf="layer.selected"></ccf-color-picker-launcher>
        </div>
    </div>
</div>