.layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

.hidden {
    visibility: hidden !important;
}

.color-selector-placeholder {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}
