@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-tag-list {
    .assigned {
      color: mat-color($foreground, text);
    }

    .added {
      color: mat-color($foreground, legend-contrast);
    }

    .icon.remove {
      color: mat-color($foreground, contrast-icon);
    }
  }
}
