language: node_js
node_js:
- '12'
sudo: required
dist: trusty
addons:
  chrome: stable
  sonarcloud:
    organization: "$SONAR_KEY"
    token: "$SONAR_TOKEN"

cache: npm
install:
  - npm ci
script: skip
jobs:
  include:
  - stage: test
    name: Run Tests
    if: NOT (tag IS present)
    script:
    - npm run build:libs
    - npm run test
    - sonar-scanner -X
  - stage: deploy
    name: Deploy Portal Version (as branch)
    if: branch = main
    script:
    - npm run build:libs
    - npm run build -- --output-hashing=none --base-href=/ccf-ui/
    - cp dist/ccf-ui/index.html dist/ccf-ui/404.html
    - touch dist/ccf-ui/.nojekyll
    - npm run compodoc
    deploy:
      provider: pages
      target-branch: portal-version
      skip-cleanup: true
      github-token: "$GITHUB_TOKEN"
      keep-history: false
      local-dir: dist/ccf-ui
      on:
        branch: main
  - stage: deploy
    name: Deploy Portal Version
    if: tag IS present
    script:
    - npm run build:libs
    - npm run build -- --output-hashing=none --base-href=/
    - npm run compodoc
    deploy:
      provider: releases
      api_key: "$GITHUB_TOKEN"
      file_glob: true
      file: dist/ccf-ui/**/*
      skip_cleanup: true
      on:
        tags: true
  - stage: deploy
    name: Deploy Staging Version
    if: branch = develop
    script:
    - npm run build:libs
    - npm run build -- --base-href=/
    - cp dist/ccf-ui/index.html dist/ccf-ui/404.html
    - touch dist/ccf-ui/.nojekyll
    - npm run compodoc
    deploy:
      provider: pages
      target-branch: staging
      skip-cleanup: true
      github-token: "$GITHUB_TOKEN"
      keep-history: false
      local-dir: dist/ccf-ui
      on:
        branch: develop
  - stage: deploy
    name: Deploy v0.6.0 to GitHub Pages
    if: branch = main-v0.6.0
    script:
    - npm run build:libs
    - npm run build -- --base-href=/ccf-ui/
    - cp dist/ccf-ui/index.html dist/ccf-ui/404.html
    - touch dist/ccf-ui/.nojekyll
    - npm run compodoc
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: "$GITHUB_TOKEN"
      keep-history: false
      local-dir: dist/ccf-ui
      on:
        branch: main-v0.6.0
  - stage: test
    name: Test building production version on PRs
    if: type = pull_request
    script:
    - npm run build:libs
    - npm run build
  - stage: test
    name: Test compodoc success on PRs
    if: type = pull_request
    script:
    - npm run compodoc
  - stage: test
    name: Run linter
    if: NOT (tag IS present)
    script:
    - npm run build:libs
    - npm run lint
notifications:
  slack:
    secure: kmHjR6duu+E+c+JEBLjECE5mSboVOrz599dOubVU7eqwVNUGvbe3YDGIKAc0S6akqsW0q9bVUWM2Zi+J4ROHrlMi1A+VQRJAW+2DG+6wu8fmdZiA0u/fK2w9IMRPFDDk80mMZN7TzSPMu5nRv6UGbVqpNeqRWotd2XtyLOu3+KRYKggUjKKz5D3oiYYGaHZWj6foDG7u42q33RQ55LlWff0GmAUuYVSfOUlxAYevOTuV9QF8NfFRnlQAfIYucM9177dd9cfWUdRgWPL7VGDUrANF2NtrfTUcWMM/zl6Vk7KMTxcCr1Oy0osxPE4DlpD8Mdz+i54tqKtcopJirBUnogZx+6MoMqMpTu7mU9pmB1H5rhAqlddYUMxiiyUvAvsScm3G5tY7azvqB0i6qalveTXuZWTa3CZUKHHTkDaDd0tnCvnLqWUaxZ2TeS//67q4EvreTfIdD4hD4phXjqfS+x0Ha8w7MpjwNln651svxsnpv+Ak6ET8N/NVRY61LhzAocMHitqMZMycTgyf8l5rciUtWE2cIuDiH86SBF+KeDYnoCCBwN8qXUTktVie37PeBX2drO84wNc8tmzjpIguXyCQUCBN/t0BodC4BIH+/oasfsYtKpXj6LQaV4/brf+t+hZX2FYssS44UZAKn3CQ92Mp7YurngUMHBqaMC6wPu4=
