::ng-deep  .mat-checkbox.mat-accent {
  .mat-checkbox-checkmark-path {
    stroke: white !important;
  }
}

.filter-label {
  margin-bottom: 0.5em;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option {
  margin-right: 1.5em;
  width: 8em;
  color: #fafafa;
}
