:host {
  position: absolute;
  top: calc(50% - 2rem - 1px);
  right: calc(-1rem - 1px);
  width: calc(1rem + 1px);
  height: 3rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;

  &.ccf-drawer-toggle-button-end {
    right: unset;
    left: calc(-1rem - 1px);

    border-left-style: solid;
    border-right-width: 0;
    border-left-width: 1px;
    border-radius: 4px 0px 0px 4px;
  }

  .expand-collapse-icon {
    position: relative;
    right: 0.25rem;
  }

  &.ccf-drawer-toggle-button-end .expand-collapse-icon {
    right: unset;
    left: -0.25rem;
  }
}

.mat-icon {
  transform: scale(1,2);
  top: .6rem;
}
