@use '~@angular/material/theming' as *;
@use '../../app/core/header/header.component.theme' as header;
@use '../../app/modules/filters/filters.theme' as filters;
@use '../../app/modules/color-scheme/color-scheme.theme' as colorScheme;
@use '../../app/modules/image-viewer/image-viewer.theme' as imageViewer;
@use '../../app/modules/results-browser/results-browser-item/results-browser-item.component.theme' as resultsBrowserItem;
@use '../../app/modules/results-browser/results-browser/results-browser.component.theme' as resultsBrowser;
@use '../../app/modules/scheme-dropdown/scheme-dropdown.component.theme' as schemeDropdown;
@use '../../app/shared/components/checkbox/checkbox.component.theme' as checkbox;
@use '../../app/shared/components/drawer/drawer.theme' as drawer;
@use '../../app/shared/components/dropdown/dropdown.component.theme' as dropdown;
@use '../../app/shared/components/dual-slider/dual-slider.component.theme' as dualSlider;
@use '../../app/shared/components/spinner-overlay/spinner-overlay.theme' as spinner;

@use '../../app/modules/ontology-exploration/ontology-search/ontology-search.component.theme' as search;
@use '../../app/modules/ontology-exploration/ontology-tree/ontology-tree.component.theme' as tree;

@mixin ccf-theme($theme) {
  @include mat-core-theme($theme);
  @include mat-toolbar-theme($theme);
  @include mat-icon-theme($theme);
  @include mat-form-field-outline-theme($theme);
  @include mat-input-theme($theme);
  @include mat-checkbox-theme($theme);
  @include mat-progress-spinner-theme($theme);

  @include header.theme($theme);
  @include drawer.theme($theme);
  @include colorScheme.theme($theme);
  @include resultsBrowser.theme($theme);
  @include resultsBrowserItem.theme($theme);
  @include schemeDropdown.theme($theme);
  @include checkbox.theme($theme);
  @include dropdown.theme($theme);
  @include dualSlider.theme($theme);
  @include imageViewer.theme($theme);
  @include spinner.theme($theme);
  @include filters.theme($theme);
  @include search.theme($theme);
  @include tree.theme($theme);

  // Overrides goes here!
}
