@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .outline-button {
    color: mat-color($accent);
    border-color: mat-color($foreground, icon);

    &:hover {
      background-color: mat-color($accent);
    }

    &:focus {
      outline: mat-color($primary, "white");
    }
  }

  .popup-container {
    background-color: mat-color($background, popup);
  }

  .show-hide {
    color: mat-color($foreground, contrast-icon);

    &:hover {
      color: mat-color($accent);
    }
  }
}
