.mat-expansion-panel {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: 1px solid #424242;
  border-radius: 0 !important;

  .mat-expansion-panel-header {
    color: #9e9e9e;
    padding: 0;

    ::ng-deep .mat-expansion-indicator {
      position: relative;
      right: 1em;
    }
  }

  .data-container {
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    font-size: .75rem;
    .data-labels, .data-values {
      display: flex;
      flex-direction: column;
      
      .label, .value {
        height: 1rem;
      }
      
      .label {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
      }
    }
  }
}
