<div class="ccf-home wrapper">
  <div class="container">
    <h2>HuBMAP User Interface v0.1.0</h2>
    <div class="subtitle">
        Proof-of-Concept User Interface (UI) for the Common Coordinate Framework (CCF) to be delivered by the MC-IU team in June 2019. 
    </div>
    <div class="list-header">
        The current user interface supports: 
    </div>
    <div class="list-container">
      <ul class="list">
        <li>Visual browsing of tissue samples and metadata at the whole body, organ, tissue, and cell level.</li>
      </ul>
    </div>
    <div class="list-header">
      The user interface will add these features by June 2019:
    </div>
    <div class="list-container">
      <ul class="list">
        <li>Semantic search and filter by ontology and metadata, results are presented in the Tissue Browser.</li>
        <li>Connect with data authors to inquire about technology details.</li>
        <li>Data download at the whole body, organ, tissue, and cell level, i.e., link to https://sampledata.hubmapconsortium.org.</li>
        <li>Submit questions and comments on the CCF UI.</li>
      </ul>
    </div>
    <div class="revision-text">
        Revision: 04/12/2019
    </div>
    <div class="logo">
      <img src="assets/images/nih_master_logo.svg" alt="NIH logo">
    </div>
  </div>
</div>