.ccf-home.wrapper {
    .container {
        margin: auto;
        display: block;
        width: 55%;
        padding-top: 13%;
    }
    .subtitle {
        margin: 1rem 1rem 1rem 0;
    }
    .list-header {
        font-size: 0.9em;
    }
    .list-container {
        .list {
            font-size: 0.9em;
        }
    }
    .revision-text {
        margin: 1rem 1rem 1rem 0;
        font-size: 0.8em;
    }
    .logo {
        width: 20rem;
        margin: auto;
    }
}
