<div class=block-size-input>
  <div class="block-size-header">
    Tissue Block Size (mm)
    <mat-icon class="block-size-refresh" (click)="refreshBlockSize()">refresh</mat-icon>
  </div>
  <div class="size-input-form">
    <div class="form-dimension">
      <mat-form-field>
        <mat-label class="form-label">Width (X)</mat-label>
        <input class="form-input" [(value)]="values.width" matInput placeholder="" (input)="updateBlockSize($event, 'width')">
      </mat-form-field>
    </div>
    <div class="form-dimension">
      <mat-form-field>
        <mat-label class="form-label">Height (Z)</mat-label>
        <input class="form-input" [(value)]="values.height" matInput placeholder="" (input)="updateBlockSize($event, 'height')">
      </mat-form-field>
    </div>
    <div class="form-dimension">
      <mat-form-field>
        <mat-label class="form-label">Depth (Y)</mat-label>
        <input class="form-input" [(value)]="values.depth" matInput placeholder="" (input)="updateBlockSize($event, 'depth')">
      </mat-form-field>
    </div>
  </div>
</div>