<div class="block-size-input">
  <div class="block-size-header">
    Tissue Block Size (mm)
    <mat-icon class="block-size-refresh" (click)="refreshBlockSize()">refresh</mat-icon>
  </div>
  <div class="size-input-form">
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Width (X)</mat-label>
        <input class="form-input" [(value)]="tissueData.width" matInput placeholder="" (input)="updateTissueData($event, 'width')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Height (Z)</mat-label>
        <input class="form-input" [(value)]="tissueData.height" matInput placeholder="" (input)="updateTissueData($event, 'height')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Depth (Y)</mat-label>
        <input class="form-input" [(value)]="tissueData.depth" matInput placeholder="" (input)="updateTissueData($event, 'depth')">
      </mat-form-field>
    </div>
  </div>
</div>

<div class="slices-input">
  <div class="slices-header">
    Tissue Slices
    <mat-icon class="slices-refresh" (click)="refreshSlices()">refresh</mat-icon>
  </div>
  <form class="slices-input-form">
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Thickness</mat-label>
        <input class="form-input" [(value)]="tissueData.thickness" matInput (input)="updateTissueData($event, 'thickness')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label"># Slices</mat-label>
        <input class="form-input" [(value)]="tissueData.numSlices" matInput (input)="updateTissueData($event, 'numSlices')">
      </mat-form-field>
    </div>
  </form>
</div>