@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-header {
    border-bottom-color: mat.get-color-from-palette($foreground, header-border);
    background-color: mat.get-color-from-palette($background, app-bar);
    color: mat.get-color-from-palette($foreground, headers);
    box-shadow: 0rem 0.063rem 0.313rem 0.063rem map-get($foreground, header-shadow);

    .logo {
      color: mat.get-color-from-palette($foreground, logo);
    }

    .logo:hover {
      color: mat.get-color-from-palette($accent);
    }

    .download {
      color: mat.get-color-from-palette($foreground, header-download-icon);

      &:hover {
        color: mat.get-color-from-palette($accent);
      }
    }

    .info, .refresh {
      color: mat.get-color-from-palette($foreground, icon);

      &:hover {
        color: mat.get-color-from-palette($accent);
      }
    }

    .authentication {
      background-color: mat.get-color-from-palette($background, authentication);
      color: mat.get-color-from-palette($foreground, header-button);
      box-shadow: 0rem 0.313rem 0.313rem -0.25rem map-get($foreground, button-shadow);

      &:hover {
        background-color: mat.get-color-from-palette($foreground, icons-hover);
      }
    }
  }
}
