<mat-toolbar class="ccf-header">
  <a class="home" [href]="homeUrl">
    <div class="logo" aria-hidden="false" aria-label="Reset tool" [matTooltip]="logoTooltip" matTooltipPosition="right">
    </div>
  </a>

  <div class="filler"></div>

  <a mat-button class="authentication" [class.disabled]="loginDisabled || !homeUrl" *ngIf="!loggedIn" [href]="homeUrl + 'login'" rel="noreferrer noopener" target="_blank">LOGIN</a>
  <a mat-button class="authentication" [class.disabled]="loginDisabled || !homeUrl" *ngIf="loggedIn" [href]="homeUrl + 'logout'" rel="noreferrer noopener" target="_blank">LOGOUT</a>
</mat-toolbar>
