.ccf-header {
  height: 4rem;
  padding: 0 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;

  .home {
    height: 100%;
    width: 25rem;
    align-items: center;
    display: flex;
    padding: 0.25rem 0;
  }

  .logo {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .download {
    height: 1.5rem;
  }

  // Styled to match the HuBMAP Portal
  .authentication {
    width: 8.25rem;
    border-radius: 0.125rem;
    font-weight: 500;
  }

  .logo, .download, .refresh {
    display: flex;
    align-items: center;
    transition: color 1s;
    cursor: pointer;
    text-decoration: none;
  }

  :not(:last-child) {
    margin-right: 1.5rem;
  }

  .filler {
    flex-grow: 1;
    margin: 0;
  }

  .filter-labels {
    display: flex;
    align-items: center;
    height: 100%;
    font: 400 1rem/1.25rem Inter, sans-serif;
  }

  .disabled {
    display: none;
  }
}
