<mat-toolbar class="ccf-header">
  <a class="portal-home" [href]="hubmapPortalUrl">
    <mat-icon class="logo"  aria-hidden="false" aria-label="Reset tool" matTooltip="Human BioMolecular Atlas Project"
    matTooltipPosition="right" svgIcon="app:logo"></mat-icon>
  </a>

  <div class="filler"></div>
  <div class="filter-labels">
    <div>Sex: {{filters?.sex}}</div>
    <div>Age: {{filters?.ageRange[0]}}-{{filters?.ageRange[1]}}</div>
    <div>BMI: {{filters?.bmiRange[0]}}-{{filters?.bmiRange[1]}}</div>
  </div>

  <mat-icon class="refresh button" (click)="refreshClicked.emit()">refresh</mat-icon>

  <a class="download" [href]="hubmapPortalUrl" rel="noreferrer noopener" target="_blank">
    <mat-icon class="download-icon" aria-hidden="false" aria-label="Download content" (click)="downloadClicked.emit()">
      cloud_download
    </mat-icon>
  </a>
  <ccf-info-button></ccf-info-button>

  <a mat-button class="authentication" *ngIf="!loggedIn" [href]="hubmapPortalUrl + 'login'" rel="noreferrer noopener" target="_blank">LOGIN</a>
  <a mat-button class="authentication" *ngIf="loggedIn" [href]="hubmapPortalUrl + 'logout'" rel="noreferrer noopener" target="_blank">LOGOUT</a>
</mat-toolbar>
