@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-app-tutorial {
      .description {
        color: mat-color($foreground, contrast-text);
      }
  }
}