@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-thumbnail-carousel {
    .prev,
    .next {
      & > button {
        background-color: unset;
      }

      .swiper-button-disabled,
      .swiper-button-lock {
        color: mat.get-color-from-palette($foreground, disabled);
      }
    }

    .fade {
      background-image: linear-gradient(to right, transparent, white);
    }

    .slide {
      .thumbnail {
        border-top-color: white;
        border-bottom-color: #d50000;
        border-right-color: white;
        border-left-color: #00c853;

        background-color: black;
        color: white;
        // Text stroke
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;

        &:after {
          background-color: #2979ff;
        }
      }

      .link {
        background-color: mat.get-color-from-palette($background, hover-background);

        &,
        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          color: #636363;
        }
      }
    }
  }
}
