@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin slider-theme($cls, $color, $lightColor) {
  .slider-box#{$cls} {
    .label {
      color: $color;
    }

    .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
      background-color: $lightColor;
    }
    .mat-slider.mat-slider-horizontal .mat-slider-track-background,
    .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
      background-color: $lightColor;
    }
    .mat-accent .mat-slider-thumb {
      background-color: $color;
    }
    .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
      background-color: $color;
    }
    .mat-slider.mat-slider-horizontal .mat-slider-thumb-label {
      background-color: $color;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-rotation-slider {
    .header .reset {
      color: mat.get-color-from-palette($foreground, main);

      &:hover {
        background: mat.get-color-from-palette($foreground, icons-hover);
      }
    }

    @include slider-theme('.red', mat.get-color-from-palette($foreground, slider-red), mat.get-color-from-palette($foreground, slider-red-light));
    @include slider-theme('.green', mat.get-color-from-palette($foreground, slider-green), mat.get-color-from-palette($foreground, slider-green-light));
    @include slider-theme('.blue', mat.get-color-from-palette($foreground, slider-blue), mat.get-color-from-palette($foreground, slider-blue-light));
  }
}
