<div class="header">
  <span class="text title" matTooltip="Use sliders below to rotate tissue block for registration">Tissue Block Rotation</span>
  <div class="filler"></div>
  <mat-icon matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" class="icon reset" (click)="resetRotation()">refresh</mat-icon>
</div>

<div class="slider-box red">
  <span class="text label">X</span>
  <div class="slider-container">
    <mat-slider
      class="slider"
      [max]="180"
      [min]="-180"
      [step]="1"
      [thumbLabel]="true"
      [tickInterval]="180"
      (input)="changeRotation($event.value, 'x')"
      [value]="rotation.x"
    ></mat-slider>
  </div>
  <span class="text value">{{ rotation.x }}</span>
</div>

<div class="slider-box green">
  <span class="text label">Y</span>
  <div class="slider-container">
      <mat-slider
           class="slider"
           [max]="180"
           [min]="-180"
           [step]="1"
           [thumbLabel]="true"
           [tickInterval]="180"
           (input)="changeRotation($event.value, 'y')"
           [value]="rotation.y"
      ></mat-slider>
  </div>
  <span class="text value">{{ rotation.y }}</span>
</div>

<div class="slider-box blue">
  <span class="text label">Z</span>
  <div class="slider-container">
      <mat-slider
           class="slider"
           [max]="180"
           [min]="-180"
           [step]="1"
           [thumbLabel]="true"
           [tickInterval]="180"
           (input)="changeRotation($event.value, 'z')"
           [value]="rotation.z"
      ></mat-slider>
    </div>
  <span class="text value">{{ rotation.z }}</span>
</div>
