:host {
  .header {
    display: flex;
    align-items: center;
    height: 1.5rem;

    .title {
      font-weight: bold;
    }

    .reset {
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  .slider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-left: 0.5rem;

    .value {
      width: 1.5rem;
      text-align: center;
    }

    .slider-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: .5rem;
      padding-top: 1rem;

      .slider {
        width: 100%;
      }
    }
  }

  .filler {
    flex-grow: 1;
  }
}

::ng-deep {
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 3px;
    border-radius: 4px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background: none;
    opacity: 50%;
  }
}
