<div class="container">
    <div class="header">
        <div class="title">Tissue Block Rotation</div>
        <mat-icon class="reset">refresh</mat-icon>
    </div>

    <div class="sliders">
        <div class="slider-row">
            <div class="slider-label red">X</div>
            <div class="slider-container red">
                <input type="range" step="0.05" min="-1" max="1" value="0" class="slider red">
            </div>
            <div class="slider-display">0</div>
        </div>

        <div class="slider-row">
            <div class="slider-label green">Y</div>
            <div class="slider-container green">
                <input type="range" step="0.05" min="-1" max="1" value="0" class="slider red">
            </div>
            <div class="slider-display">0</div>
        </div>

        <div class="slider-row">
            <div class="slider-label blue">Z</div>
            <div class="slider-container blue">
                <input type="range" step="0.05" min="-1" max="1" value="0" class="slider red">
            </div>
            <div class="slider-display">0</div>
        </div>
    </div>
</div>