:host {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;

    .title {
      font-weight: 600;
    }

    .reset {
      transform: scaleX(-1);
      cursor: pointer;
      transition: .6s;
    }
  }

  .slider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-left: 0.5rem;

    .label {
      width: 1rem;
    }

    .value {
      width: 2.75rem;
      text-align: center;
    }

    .slider-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      padding-top: 1rem;

      .slider {
        width: 100%;
        
        &:not(.cdk-focused) {
          ::ng-deep .mat-slider-thumb {
            width: 1.25rem;
            height: 1.25rem;
            transform: none;
          }
        }
      }

      ::ng-deep .mat-slider-horizontal {
        .mat-slider-wrapper {
          right: 0.625rem;
          &:after {
            margin-top: -0.25rem;
            height: 0.625rem !important;
          }
        }
      
        .mat-slider-ticks-container {
          margin-top: -0.25rem;
          height: 0.625rem;

          .mat-slider-ticks {
            height: 0.625rem;
          }
        }
      
      }
    }

    .filler {
      flex-grow: 1;
    }
  }
}
