@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .ccf-app {
    color: map-get($foreground, text);
  }

  .drawer-icons {
    .button, .close-button {
      &:hover {
        background-color: map-get($background, info-button-hover) !important;
      }
    }

    .close-button {
      color: mat.get-color-from-palette($foreground, contrast-icon);
      background-color: mat.get-color-from-palette($background, modal);
    }
  }
}
