<div class="ccf-app mat-app-background">
  <ccf-spinner-overlay text="Loading CCF Exploration User Interface (EUI)" [active]="spinnerActive$ | async">
  </ccf-spinner-overlay>
  <ccf-header [hubmapPortalUrl]="portalUrl$ | async" [loggedIn]="loggedIn" *ngIf="(spinnerActive$ | async) === false">
  </ccf-header>

  <ccf-drawer-container class="main-drawers">
    <ccf-drawer class="left-drawer" opened #left (stateChange)="filterbox.removeBox()">
      <div>
        <div class="filter-data">
          <ccf-filters-popover [filters]="data.filter$ | async" [drawerExpanded]="right.expanded"
                               (filtersChange)="data.updateFilter($event)" [technologyFilters]="data.technologyFilterData$ | async"
                               [providerFilters]="data.providerFilterData$ | async" #filterbox>
          </ccf-filters-popover>

          <div class="filter-text">
            <div class="sex filter-tag">Sex: <strong>{{(data.filter$ | async)?.sex}}</strong></div>
            <div class="age filter-tag">Age:
              <strong>{{(data.filter$ | async)?.ageRange[0]}}-{{(data.filter$ | async)?.ageRange[1]}}</strong></div>
            <div class="bmi filter-tag">BMI:
              <strong>{{(data.filter$ | async)?.bmiRange[0]}}-{{(data.filter$ | async)?.bmiRange[1]}}</strong></div>
          </div>
        </div>
        <ccf-ontology-selection [termData]="data.ontologyTermsFullData$ | async"
                                [occurenceData]="data.termOccurencesData$ | async"
                                placeholderText="Search ontology terms"
                                (ontologySelection)="ontologySelected($event)">
        </ccf-ontology-selection>
        <ccf-cell-type-selection  [termData]="data.ontologyTermsFullData$ | async"
                                  [occurenceData]="data.termOccurencesData$ | async"
                                  placeholderText="Search cell type terms"
                                  (ontologySelection)="ontologySelected($event)">
        </ccf-cell-type-selection>
        <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
      </div>
    </ccf-drawer>
    <ccf-drawer class="right-drawer" position="end" opened #right (stateChange)="filterbox.removeBox()">
      <ccf-viewer class="portal-view" [class.opened]="viewerOpen" [url]="url" (closed)="viewerOpen = false">
      </ccf-viewer>

      <div class="drawer-icons">
        <div class="drawer-icons-left">
          <button class="button" (click)="filterbox.removeBox(); right.toggleExpanded();"
                  [matTooltip]="right.expanded ? 'Exit Fullscreen' : 'Enter Fullscreen'">
            <mat-icon class="icon">{{ right.expanded ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
          </button>
          <button class="scheme-toggle button" (click)="toggleScheme()"
                  [matTooltip]="theming.getTheme() === 'light-theme' ? 'Enter Dark Mode' : 'Enter Light Mode'">
            <mat-icon class="icon">{{ theming.getTheme() === 'light-theme' ? 'brightness_2' : 'brightness_5' }}
            </mat-icon>
          </button>
          <button class="button">
            <mat-icon class="refresh icon" (click)="reset(left, right, filterbox)" matTooltip="Reset View">refresh
            </mat-icon>
          </button>
        </div>
        <ccf-info-button videoID="YAHJqvD3Q_8" infoTitle="HuBMAP CCF Exploration User Interface" matTooltip="Open Info">
        </ccf-info-button>
      </div>
      <ccf-results-browser
        [listResults]="listResultsState.listResults$ | async"
        [aggregateData]="data.aggregateData$ | async"
        [resultLabel]="ontologySelectionLabel"
        (listResultSelected)="listResultsState.selectListResult($event)"
        (listResultDeselected)="listResultsState.deselectListResult($event)"
        (linkClicked)="openiFrameViewer($event)"
        [highlighted]="listResultsState.highlightedNodeId$ | async"
        (itemHovered)="listResultsState.highlightNode($event)"
        (itemUnhovered)="listResultsState.unHighlightNode()">
      </ccf-results-browser>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>


    <ccf-drawer-content>
      <div [class.closed]="!organListVisible" class="selector-drawer" [class.expanded]="selector.expanded">
        <ccf-organ-selector #selector class="organ-selector" [multiselect]="true"
                            [occurenceData]="(data.termOccurencesData$ | async) ?? {}"
                            [organList]="scene.referenceOrgans$ | async"
                            (organsChanged)="scene.setSelectedReferenceOrgans($event)"
                            [selectedOrgans]="scene.selectedReferenceOrgans$ | async">
        </ccf-organ-selector>
      </div>
      <div class="close-button-wrapper" [class.closed]="!organListVisible">
        <div *ngIf="organListVisible" class="close-button" (click)="selector.expanded = !selector.expanded">
          <mat-icon class="expand-collapse-icon" aria-hidden="false" aria-label="Expand carousel drawer">
            {{ selector.expanded ? 'arrow_drop_up': 'arrow_drop_down' }}
          </mat-icon>
        </div>
        <div *ngIf="!selector.expanded" class="close-button" (click)="organListVisible = !organListVisible">
          <mat-icon class="expand-collapse-icon" aria-hidden="false" aria-label="Close carousel drawer">
            {{ organListVisible ? 'arrow_drop_up': 'arrow_drop_down' }}
          </mat-icon>
        </div>
      </div>
      <ccf-body-ui #bodyUI class="stage-content"
                    [scene]="scene.scene$ | async"
                    (nodeClick)="scene.sceneNodeClicked($event)"
                    (nodeHoverStart)="scene.sceneNodeHovered($event)"
                    (nodeHoverStop)="scene.sceneNodeUnhover()"
                    [bounds]="{x:2.2,y:2,z:0.4}"
                    [class.expanded-stage]="!organListVisible">
      </ccf-body-ui>
    </ccf-drawer-content>
  </ccf-drawer-container>
</div>
