<div class="ccf-app mat-app-background">
  <ccf-header [hubmapPortalUrl]="hubmapPortalUrl" [loggedIn]="loggedIn" [filters]="data.filter$ | async" (refreshClicked)="reset(left, right, filterbox, viewer)"></ccf-header>
  <ccf-spinner-overlay text="Loading data" [active]="spinnerActive$ | async"></ccf-spinner-overlay>
  <ccf-image-viewer-popover #viewer></ccf-image-viewer-popover>

  <ccf-drawer-container class="main-drawers">
    <ccf-drawer class="left-drawer" opened #left (stateChange)="filterbox.removeBox()">
      <ccf-ontology-selection [termData]="data.ontologyTermsFullData$ | async" [occurenceData]="data.termOccurencesData$ | async" (ontologySelection)="ontologySelected($event)"></ccf-ontology-selection>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>
    <ccf-drawer class="right-drawer" position="end" opened #right (stateChange)="filterbox.removeBox()">
      <div class="drawer-icons">
        <ccf-filters-popover [filters]="data.filter$ | async" [drawerExpanded]="right.expanded"
                             (filtersChange)="data.updateFilter($event)" #filterbox></ccf-filters-popover>
        <button class="button" (click)="filterbox.removeBox(); right.toggleExpanded();">
          <mat-icon class="icon">{{ right.expanded ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
        <button class="scheme-toggle button" (click)="toggleScheme()">
          <mat-icon class="icon">{{ theming.getTheme() === 'light-theme' ? 'brightness_2' : 'brightness_5' }}</mat-icon>
        </button>
      </div>
      <ccf-results-browser
        [dataLoading]="spinnerActive$ | async"
        (resultClicked)="openViewer(viewer, $event)"
        [data]="data.listData$ | async"
        [aggregateData]="data.aggregateData$ | async"
        [resultLabel]="ontologySelectionLabel"
      ></ccf-results-browser>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>
    <ccf-drawer-content>
      <ccf-body-ui [filter]="data.filter$ | async" (filterChange)="data.updateFilter($event)"></ccf-body-ui>
    </ccf-drawer-content>
  </ccf-drawer-container>
</div>
