<div class="ccf-app mat-app-background">
  <ccf-spinner-overlay [text]="loadingMessage$ | async" [active]="spinnerActive$ | async">
  </ccf-spinner-overlay>
  <ccf-header [class.hide]="(header$ | async) === false" [logoTooltip]="logoTooltip$ | async" [homeUrl]="homeUrl$ | async" [loggedIn]="loggedIn" [loginDisabled]="(loginDisabled$ | async)" [baseRef]="baseHref$ | async" *ngIf="(spinnerActive$ | async) === false">
  </ccf-header>

  <ccf-drawer-container class="main-drawers" [class.header-hidden]="(header$ | async) === false">
    <ccf-drawer class="left-drawer" opened #left (stateChange)="filterbox.removeBox()">
      <div class="left-drawer-container">
        <div class="filter-data">
          <ccf-filters-popover [filters]="data.filter$ | async" [drawerExpanded]="right.expanded"
                               (filtersChange)="data.updateFilter($event)" [technologyFilters]="data.technologyFilterData$ | async"
                               [providerFilters]="data.providerFilterData$ | async" [spatialSearchFilters]="selectableSearches$ | async"
                               (spatialSearchSelected)="setSelectedSearches($event)"
                               (spatialSearchRemoved)="removeSpatialSearch($event)" #filterbox>
          </ccf-filters-popover>

          <div class="filter-text">
            <div class="sex filter-tag">Sex: <strong>{{(data.filter$ | async)?.sex}}</strong></div>
            <div class="age filter-tag">Age:
              <strong>{{(data.filter$ | async)?.ageRange[0]}}-{{(data.filter$ | async)?.ageRange[1]}}</strong></div>
            <div class="bmi filter-tag">BMI:
              <strong>{{(data.filter$ | async)?.bmiRange[0]}}-{{(data.filter$ | async)?.bmiRange[1]}}</strong></div>
          </div>
        </div>
        <ccf-button-toggle
        class="button-toggle-group"
        [menuOptions]="menuOptions"
        [enableTooltip]="true"
        [tooltips]="tooltips"
        [selectedItems]="selectedtoggleOptions"
        (selectionChange)="toggleSelection($event)"
        ></ccf-button-toggle>
        <div class="ontologies">

          <ccf-ontology-selection class="ontology-selection"
                                  [class.firefox]="isFirefox"
                                  *ngIf="isItemSelected('AS')"
                                  [showtoggle]="false"
                                  [treeModel]="ontologyTreeModel$ | async"
                                  [termData]="data.ontologyTermsFullData$ | async"
                                  [occurenceData]="data.ontologyTermOccurencesData$ | async"
                                  placeholderText="Search anatomical structures..."
                                  (ontologySelection)="ontologySelected($event, 'anatomical-structures')"
                                  [header]="header$ | async">
          </ccf-ontology-selection>
          <ccf-ontology-selection class="cell-type-selection"
                                  [class.firefox]="isFirefox"
                                  *ngIf="isItemSelected('CT')"
                                  [showtoggle]="false"
                                  [treeModel]="cellTypeTreeModel$ | async"
                                  [termData]="data.cellTypeTermsFullData$ | async"
                                  [occurenceData]="data.cellTypeTermOccurencesData$ | async"
                                  placeholderText="Search cell types..."
                                  (ontologySelection)="ontologySelected($event, 'cell-type')"
                                  [header]="header$ | async">
          </ccf-ontology-selection>
          <ccf-ontology-selection class="biomarker-selection"
                                  [class.firefox]="isFirefox"
                                  *ngIf="isItemSelected('B')"
                                  [showtoggle]="true"
                                  [treeModel]="biomarkersTreeModel$ | async"
                                  [termData]="data.biomarkerTermsFullData$ | async"
                                  [occurenceData]="data.biomarkerTermOccurencesData$ | async"
                                  placeholderText="Search Biomarkers..."
                                  (ontologySelection)="ontologySelected($event, 'biomarkers')"
                                  [header]="header$ | async">
            </ccf-ontology-selection>

            <div class="no-selection-notice" *ngIf="selectedtoggleOptions.length === 0">
              No anatomical structures, cell types, or biomarkers selected. Use the above AS, CT, and B buttons to view the registered listings.
            </div>
        </div>
        <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
      </div>
    </ccf-drawer>
    <ccf-drawer class="right-drawer" position="end" opened #right (stateChange)="filterbox.removeBox()">
      <ccf-viewer class="portal-view" [class.opened]="viewerOpen" [url]="url" (closed)="viewerOpen = false">
      </ccf-viewer>

      <div class="drawer-icons">
        <div class="drawer-icons-left">
          <button class="button" (click)="filterbox.removeBox(); right.toggleExpanded();"
                  [matTooltip]="right.expanded ? 'Exit Fullscreen' : 'Enter Fullscreen'">
            <mat-icon class="icon">{{ right.expanded ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
          </button>
          <button class="scheme-toggle button" (click)="toggleScheme()"
                  [matTooltip]="isLightTheme ? 'Enter Dark Mode' : 'Enter Light Mode'">
            <mat-icon class="icon">{{ isLightTheme  ? 'brightness_2' : 'brightness_5' }}
            </mat-icon>
          </button>
          <button class="button">
            <mat-icon class="refresh icon" (click)="reset(left, right, filterbox)" matTooltip="Reset View">refresh
            </mat-icon>
          </button>
        </div>
        <ccf-info-button videoID="YAHJqvD3Q_8" infoTitle="HRA Exploration User Interface" [documentationUrl]="(baseHref$ | async) + 'assets/docs/README.md'" matTooltip="Open Info">
        </ccf-info-button>
      </div>
      <ccf-results-browser
        [listResults]="listResultsState.listResults$ | async"
        [aggregateData]="data.aggregateData$ | async"
        [resultLabel]="selectionLabel"
        (listResultSelected)="listResultsState.selectListResult($event)"
        (listResultDeselected)="listResultsState.deselectListResult($event)"
        (linkClicked)="openiFrameViewer($event)"
        [highlighted]="listResultsState.highlightedNodeId$ | async"
        (itemHovered)="listResultsState.highlightNode($event)"
        (itemUnhovered)="listResultsState.unHighlightNode()"
        [header]="header$ | async">
      </ccf-results-browser>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>


    <ccf-drawer-content [class.header-hidden]="(header$ | async) === false">
      <div [class.closed]="!organListVisible" class="selector-drawer" [class.expanded]="selector.expanded">
        <ccf-organ-selector #selector class="organ-selector" [multiselect]="true"
                            [occurenceData]="(data.ontologyTermOccurencesData$ | async) ?? {}"
                            [organList]="scene.referenceOrgans$ | async"
                            (organsChanged)="scene.setSelectedReferenceOrgans($event)"
                            [selectedOrgans]="scene.selectedReferenceOrgans$ | async">
        </ccf-organ-selector>
      </div>
      <div class="close-button-wrapper" [class.closed]="!organListVisible">
        <div *ngIf="organListVisible" class="close-button" (click)="selector.expanded = !selector.expanded">
          <mat-icon class="expand-collapse-icon" aria-hidden="false" aria-label="Expand carousel drawer">
            {{ selector.expanded ? 'arrow_drop_up': 'arrow_drop_down' }}
          </mat-icon>
        </div>
        <div *ngIf="!selector.expanded" class="close-button" (click)="organListVisible = !organListVisible">
          <mat-icon class="expand-collapse-icon" aria-hidden="false" aria-label="Close carousel drawer">
            {{ organListVisible ? 'arrow_drop_up': 'arrow_drop_down' }}
          </mat-icon>
        </div>
      </div>
      <ccf-run-spatial-search></ccf-run-spatial-search>
      <ccf-body-ui #bodyUI class="stage-content"
                    [scene]="scene.scene$ | async"
                    (nodeClick)="scene.sceneNodeClicked($event)"
                    (nodeHoverStart)="scene.sceneNodeHovered($event)"
                    (nodeHoverStop)="scene.sceneNodeUnhover()"
                    [bounds]="{x:2.2,y:2,z:0.4}"
                    [class.expanded-stage]="!organListVisible"
                    [class.selector-expanded]="selector.expanded">
      </ccf-body-ui>
    </ccf-drawer-content>
  </ccf-drawer-container>
</div>
