@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-app {
    color: map-get($foreground, text);
  }

  .button, .close-button {
    background-color: map-get($background, background);

    &:hover {
      background-color: map-get($background, info-button-hover);
    }
  }

  .close-button {
    color: mat.get-color-from-palette($foreground, contrast-icon);
    background-color: mat.get-color-from-palette($background, modal);
  }
}
