.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3.5rem;

  .legend-item {
    margin-right: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    width: 10rem;

    .item-color {
      margin-right: 1rem;
      height: 1rem;
      width: 1rem;
    }
  }
}

.circle {
  border-radius: 100%;
}
