.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  height: 6rem;

  .legend-item {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    height: 1.5rem;

    .item-color {
      margin-right: 1rem;
      height: 1rem;
      width: 1rem;
    }

    .item-title {
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
}

.circle {
  border-radius: 100%;
}
