@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-viewer {
    background-color: white;
    box-shadow: -0.25rem 0rem 0.6rem 0.1rem map-get($foreground, header-shadow);

    .toolbar {
      color: mat.get-color-from-palette($foreground, text-muted);
      box-shadow: -0.25rem 0rem 0.2rem 0.1rem map-get($foreground, header-shadow);

      a:link, a:visited, a:active, a:hover {
        color: mat.get-color-from-palette($foreground, text-muted);
      }

      .close {
        color: white;
        background-color: mat.get-color-from-palette($foreground, text-muted);
      }
    }

    .overlay {
      background-color: white;
    }
  }
}
