:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  width: 487px;
  height: 345px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  font-size: 16px;

  .button {
    cursor: pointer;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
  
    .col1 {
      display: flex;
      align-items: center;

      .title {
        margin-right: 1rem;
      }
    }

    button {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 0.25rem;
      transition: 0.6s;
    }
  }

  .sex-toggle {
    display: flex;

    .label, .radio {
      margin-right: 2rem;
    }
  }

  .organ-selector {
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        bottom: 0rem;
        height: 0.125rem;
      }
    }
  }

  .continue-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 222px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);

    &.disabled {
      pointer-events: none;
      opacity: .5;
    }
  }
}