<div class="viewer-sidebar">
  <div class="viewer-close-header">
    <div class="viewer-close-header-text">Close Tissue Viewer</div>
    <button class="viewer-close-button" (click)="close()">
      <mat-icon class="viewer-close-header-icon">close</mat-icon>
    </button>
  </div>
  <div class="sample-info">
    <div class="sample-region">Kidney, left</div>
    <div class="patient-details">Patient: Female, Age: 30, BMI: 55</div>
  </div>
  <div class="viewer-select">
    <div class="layer">Layer stuff goes here</div>
    <div class="about">About stuff goes here</div>
</div>