<div class="viewer-sidebar">
  <div class="viewer-close-header">
    <button class="viewer-close-button" (click)="close()">
      <mat-icon class="viewer-close-header-icon">close</mat-icon>
    </button>
  </div>
  <div class="sample-info">
    <div class="sample-region">{{ data.organName }}</div>
    <div class="patient-details">{{ data.label }}</div>
  </div>
  <ccf-image-viewer-accordion class="accordion-options" [layers]="layers" [metadata]="data.metadata"
                              [isLoading]="isLoading" (layerChange)="layerChange.emit($event)"
                              (schemeChange)="schemeChange.emit($event)">
  </ccf-image-viewer-accordion>
</div>
