<div class="viewer-sidebar">
  <div class="viewer-close-header">
    <div class="viewer-close-header-text">Close Tissue Viewer</div>
    <button class="viewer-close-button" (click)="close()">
      <mat-icon class="viewer-close-header-icon">close</mat-icon>
    </button>
  </div>
  <div class="sample-info">
    <div class="sample-region">{{ data.organName }}</div>
    <div class="patient-details">{{ data.label }}</div>
  </div>
  <ccf-image-viewer-accordion class="accordion-options" [metadata]="data.metadata"></ccf-image-viewer-accordion>
</div>