@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .block-size-input {
    color: mat-color($foreground, text);
  }

  .block-size-refresh {
    color: mat-color($foreground, icon);
  }

  .size-input-form {
    .form-entry {
      .mat-form-field-label-wrapper {
        color: mat-color($foreground, input-label);
        .form-label {
          color: mat-color($foreground, input-label);
        }
      }
    }
  }
}
