<div class="block-size-input">
  <div class="block-size-header">
    Tissue Block Size (mm)
    <mat-icon class="block-size-refresh" (click)="refreshBlockSize()">refresh</mat-icon>
  </div>
  <div class="size-input-form">
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Width (X)</mat-label>
        <input matInput class="form-input" type="number" placeholder="" [value]="tissueData.x"
               (input)="updateTissueData($event, 'x')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Height (Y)</mat-label>
        <input matInput class="form-input" type="number" placeholder="" [value]="tissueData.y"
               (input)="updateTissueData($event, 'y')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Depth (Z)</mat-label>
        <input matInput class="form-input" type="number" placeholder="" [value]="tissueData.z"
               (input)="updateTissueData($event, 'z')">
      </mat-form-field>
    </div>
  </div>
</div>
