<div class="header" matTooltip="Set the tissue block width, height and depth (dimensions)">
  <span class="text title">Tissue Block Dimensions (mm)</span>
  <div class="filler"></div>
  <mat-icon matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" class="icon refresh" (click)="refreshBlockSize()">refresh</mat-icon>
</div>

<div class="size-inputs">
  <mat-form-field class="field" floatLabel="always">
    <mat-label class="text label">Width (X)</mat-label>
    <input matInput class="input" type="number" placeholder="" [value]="blockSize.x"
           (input)="updateBlockSizes($event, 'x')" matTooltip="Enter tissue block width.">
  </mat-form-field>

  <mat-form-field class="field" floatLabel="always">
    <mat-label class="text label">Height (Y)</mat-label>
    <input matInput class="input" type="number" placeholder="" [value]="blockSize.y"
           (input)="updateBlockSizes($event, 'y')" matTooltip="Enter tissue block height.">
  </mat-form-field>

  <mat-form-field class="field" floatLabel="always">
    <mat-label class="text label">Depth (Z)</mat-label>
    <input matInput class="input" type="number" placeholder="" [value]="blockSize.z"
           (input)="updateBlockSizes($event, 'z')" matTooltip="Enter tissue block depth.">
  </mat-form-field>
</div>
