@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-block-size-input {
    .icon {
      color: mat.get-color-from-palette($foreground, main);

      &:hover {
        background: mat.get-color-from-palette($foreground, icons-hover);
      }
    }

    .mdc-text-field {
      background: white !important;
    }

    .mat-mdc-form-field-focus-overlay {
      background: transparent;
    }

    .form-input-label {
      color: mat.get-color-from-palette($foreground, icon-disabled);
    }

    .mdc-line-ripple::after {
      border-bottom-color: mat.get-color-from-palette($accent) !important;
    }
  }
}
