@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .ccf-block-size-input {
    .icon {
      color: mat-color($foreground, main);

      &:hover {
        background: mat-color($foreground, icons-hover);
      }
    }

    .label {
      color: mat-color($foreground, placeholder-text);
    }

    .mat-form-field-ripple {
      background-color: mat-color($accent) !important;
    }
  }
}
