<div class="block-size-input">
  <div class="block-size-header">
    Tissue Block Size (mm)
    <mat-icon class="block-size-refresh" (click)="refreshBlockSize()">refresh</mat-icon>
  </div>
  <div class="size-input-form">
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Width (X)</mat-label>
        <input class="form-input" value="{{tissueData.x}}" matInput placeholder="" (input)="updateTissueData($event, 'x')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Height (Y)</mat-label>
        <input class="form-input" [(value)]="tissueData.y" matInput placeholder="" (input)="updateTissueData($event, 'y')">
      </mat-form-field>
    </div>
    <div class="form-entry">
      <mat-form-field>
        <mat-label class="form-label">Depth (Z)</mat-label>
        <input class="form-input" [(value)]="tissueData.z" matInput placeholder="" (input)="updateTissueData($event, 'z')">
      </mat-form-field>
    </div>
  </div>
</div>