:host {
  .header {
    display: flex;
    height: 1.5rem;
    align-items: center;

    .title {
      font-weight: bold;
    }

    .refresh {
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  .size-inputs {
    display: flex;

    .field {
      width: 33.33%;

      &:not(:last-child) {
        padding-right: 0.75rem;
      }

      .input {
        text-align: center;
      }
    }
  }

  .filler {
    flex-grow: 1;
  }
}
