:host {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    height: 1.5rem;
    align-items: center;

    .title {
      font-weight: bold;
    }

    .refresh {
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  .size-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .field {
      width: 30%;

      .label {
        display: block;
        text-align: center;
      }

      .input {
        text-align: center;
      }
    }
  }

  .filler {
    flex-grow: 1;
  }
}
