@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-visibility-menu {
    .icon {
      color: mat.get-color-from-palette($foreground, main);

      &:hover {
        background: mat.get-color-from-palette($foreground, icons-hover);
      }
    }

    .opacity-icon {
      &.fade {
        color: mat.get-color-from-palette($foreground, icons-disabled);
      }
    }
  }
}
