:host {
    height: 3rem;
    display: flex;
    align-items: center;

    .toggle-wrapper {
        display: flex;
        padding-left: .5rem;
        cursor: pointer;
        align-items: center;

        .visibility-icon {
            height: 24px;
            width: 24px;
        }

        .toggle-label {
            font-weight: bold;
            margin-left: 1rem;
        }
    }
}