:host {
  height: 3rem;
  display: flex;
  align-items: center;

  .toggle-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    padding-left: .5rem;
    cursor: pointer;
    align-items: center;
    position: relative;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      transition: .6s;
      position: absolute;

      &.hidden {
        opacity: 0;
      }
    }

    .toggle-label {
      font-weight: bold;
      margin-left: 2.5rem;
    }
  }
}