@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-visibility-toggle {
    .visibility-icon {
      color: mat-color($foreground, icon);
      &.visible {
        color: mat-color($accent);
      }
    }
  }
}