@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-visibility-toggle {

    .toggle-wrapper {
      border-color: mat.get-color-from-palette($foreground,  chip-border-primary);

      &:hover {
        background-color: mat.get-color-from-palette($foreground, toggle-bg);
      }

      &.disabled {
        color: mat.get-color-from-palette($foreground, icons-disabled);
        border-color: mat.get-color-from-palette($foreground, icons-disabled);
      }

      .icon {
        color: mat.get-color-from-palette($foreground, chip-icon-block-primary);
        &.visible {
          color: mat.get-color-from-palette($accent);
        }
      }

      .green {
        color: mat.get-color-from-palette($foreground,  chip-icon-done-green);
      }

      .icon-background {
        background-color: mat.get-color-from-palette($foreground, chip-icon-background);
        &.disabled {
          opacity: 40%;
        }
      }
    }
  }
}
