.nav-container {
    height: 4.5rem;
    margin-right: 1.5rem;
    display: flex;

    .input-group {
        height: 1.5rem;

        .nav-input {
            margin-right: 1.5rem;
        }
    }
}
