<div class="nav-container">
    <mat-radio-group aria-label="Select a viewing angle" class="input-group">
        <mat-radio-button value="Left" class="nav-input">Left</mat-radio-button>
        <mat-radio-button value="Right" class="nav-input">Right</mat-radio-button>
        <mat-radio-button value="Anterior" class="nav-input">Anterior</mat-radio-button>
        <mat-radio-button value="Posterior" class="nav-input">Posterior</mat-radio-button>
    </mat-radio-group>

    <div class="input-group toggle-container">
        Register
        <mat-slide-toggle>
        </mat-slide-toggle>
        3D Preview
    </div>
</div>