.ccf-ontology-tree {
  background: none;
  margin-left: 1.5rem;

  .node {
    min-height: 0;

    .toggle {
      width: 1.5rem;
      height: 1.5rem;
      line-height: normal;
      background: #212121;
      border: 1px solid #424242;
    }

    .autocomplete-open .toggle {
      border-bottom: none;
    }

    .non-expandable {
      margin-left: 1.5rem;
    }

    .text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      color: #fafafa;
      margin-left: 0.5rem;
    }

    .text:hover {
      color: #1e88e5;
    }

    .selected {
      color: #1e88e5;
    }
  }
}
