.ccf-ontology-tree {
  background: none;
  margin-left: 1.5rem;
  scrollbar-width: thin;
  height: calc(100% - 5.625rem);
  width: 25.5rem;
  overflow: auto;

  .node {
    min-height: 0;
    font-size: 1rem;
    margin-bottom: .25rem;

    .toggle {
      width: 1.5rem;
      height: 1.5rem;
      line-height: normal;
    }

    .autocomplete-open .toggle {
      border-bottom: none;
    }

    .non-expandable {
      margin-left: 1.5rem;
    }

    .text {
      white-space: nowrap;
      cursor: pointer;
      margin-left: 0.5rem;
    }
  }
}
