@use '@angular/material' as mat;

@use 'common/utility';

$primary-colors: utility.add-colors(mat.$gray-palette, (
  'white': white,
  'black': black,
  850: #323232,

  contrast: (
    'white': black,
    'black': white,
  )
));

$foreground: map-merge(mat.$light-theme-foreground-palette, (
  logo: map-get($primary-colors, 'white'),
  button-border: map-get($primary-colors, 'black'),
  header-button: map-get($primary-colors, 850),

  organ-off: #CCCCCC,
  organ-numbers: #757575,
  opacity-numbers: #CCCCCC,
  icons-disabled: #CCCCCC,
  icons-hover: #e0e0e0,
  icons-light: #9BA8E6,
  results-numbers: #9e9e9e,
  button-text: map-get($primary-colors, 'white'),
  contrast-button-text: map-get($primary-colors, 'white'),
  text-muted: #757575,
  icon-active:  #f5f5f5,
  button-shadow: rgba(0, 0, 0, 0.749),
  input-bg: rgb(232, 232, 232),
  y-axis: #00C853,
  z-axis: #2979ff,
  slider: #0D47A1,
  slider-thumb: #1976D2
));

$background: map-merge(mat.$light-theme-background-palette, (
  stage-background: map-get($primary-colors, 'black'),
  authentication: map-get($primary-colors, 'white'),
  modal: map-get($primary-colors, 'white'),
  button-toggle-background: map-get($primary-colors, 'white'),
  button-toggle-selected: #C2CAE5
));
