<div class="ccf-main wrapper">
  <div class="container">
    <ccf-header class="header"></ccf-header>

    <div class="contents-area">
      <ccf-navigation class="navigation" [(searchActive)]="searchActive"></ccf-navigation>

      <mat-drawer-container class="drawer">
        <mat-drawer class="search" mode="side" [opened]="searchActive">
          <ccf-sidenav></ccf-sidenav>
        </mat-drawer>

        <mat-drawer-content class="contents">
          <router-outlet class="outlet"></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
