<div class="ccf-main wrapper">
  <div class="container">
    <ccf-header class="header"></ccf-header>

    <div class="contents-area">
      <ccf-navigation class="navigation" [(searchActive)]="searchActive"></ccf-navigation>

      <mat-drawer-container class="drawer">
        <mat-drawer class="search" mode="side" [opened]="searchActive">
          <ccf-search></ccf-search>
        </mat-drawer>

        <mat-drawer-content class="contents">
          <div *ngIf="!(navigation.isHomeActive | async)" class="top-bar">
            <div class="search-criteria">{{ search.searchCriteria | async }}</div>
            <a rel="noreferrer noopener" href="https://sampledata.hubmapconsortium.org/home" target="_blank">
              <mat-icon class="icon font-icon download">cloud_download</mat-icon>
            </a>
          </div>
          <div class="outlet">
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>