@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-registration-content {
    .modal {
      background-color: mat.get-color-from-palette($background, background);

      .registration-button {
        background-color: mat.get-color-from-palette($foreground, button-background);
        color: mat.get-color-from-palette($foreground, sidebar-dividers);
        border: 1px solid mat.get-color-from-palette($background, background);
        
        &:hover {
          background: rgba(0, 0, 0, 0.04);
          color: mat.get-color-from-palette($foreground, 'main');
          border: 1px solid mat.get-color-from-palette($foreground, active-icon);
        }
    
        &.disabled {
          background-color: mat.get-color-from-palette($foreground, icons-disabled);
        }
      }
    }
  }
}
