.modal {
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 47rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .organ-sliders {
    .slider-label {
      font-weight: 600;
    }

    display: flex;
    height: 3rem;
    align-items: center;
  }

  .selector-label {
    font-weight: 600;
    height: 3rem;
    line-height: 3rem;
  }

  .selector-container {
    margin: 0 auto;
  }

  .registration-button {
    transition: 0.6s;
    display: flex;
    width: 10rem;
    height: 2rem;
    padding: 0.25rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.125rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &.disabled {
      pointer-events: none;
    }
  }
}
