.modal {
  padding: 1rem;
  border-radius: 4px;
  width: 35rem;
  height: 22rem;

  .organ-sliders {
    .slider-label {
      font-weight: 600;
    }

    display: flex;
    height: 3rem;
    align-items: center;
  }

  .selector-label {
    font-weight: 600;
    height: 3rem;
    line-height: 3rem;
  }

  .selector-container {
    height: 4rem;
    width: 31rem;
    margin: 0 auto;
  }

  .registration-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
}