@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-registration-content {
    .modal {
      background-color: mat.get-color-from-palette($background, background);

      .registration-button {
        color: mat.get-color-from-palette($primary, 'white');
        background-color: mat.get-color-from-palette($foreground, main);
    
        &.disabled {
          background-color: mat.get-color-from-palette($foreground, icons-disabled);
        }
      }
    }
  }
}
