:host {
    .display-right {
        position: absolute;
        left: 25.5rem;

    }

    .description {
        width: 21rem;
    }

    .h-flex {
        display: flex;
        flex-direction: row;
        width: 25rem;
        justify-content: space-between;

    }

    .h-bar {
        height: 0rem;
        width: 3rem;
        border-top: 1px solid lightgray;
        align-self: center;
    }

    .v-flex {
        display: flex;
        flex-direction: column;
    }

    .v-bar {
        height: 3rem;
        width: 0rem;
        border-left: 1px solid lightgray;
    }

    .align-center {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
}