<div class="display-right" *ngIf="visible && direction === 'right'" [style.margin-top.rem]="offset">
    <div class="h-flex">
        <div class="h-bar"></div>
        <div class="description align-left">
            {{ tooltip }}
        </div>
    </div>
</div>

<div class="display-left" *ngIf="visible && direction === 'left'" [style.margin-top.rem]="offset">
    <div class="h-flex">
        <div class="description align-right">
            {{ tooltip }}
        </div>
        <div class="h-bar"></div>
    </div>
</div>

<div class="display-vertical d-down" *ngIf="visible && direction === 'down'" [style.margin-left.rem]="offset">
    <div class="v-flex">
        <div class="v-bar"></div>
        <div class="description align-center">
            {{ tooltip }}
        </div>
    </div>
</div>

<div class="display-vertical d-up" *ngIf="visible && direction === 'up'" [style.margin-left.rem]="offset">
    <div class="v-flex">
        <div class="description align-center">
            {{ tooltip }}
        </div>
        <div class="v-bar"></div>
    </div>
</div>