<form class="ccf-ontology-search" [class.autocomplete-open]="autoCompleteOpen">
  <mat-form-field appearance="outline" class="field" subscriptSizing="dynamic">
    <mat-icon matPrefix color="primary" class="search">search</mat-icon>
    <input class="input" type="text" [placeholder]="placeholderText" matInput [formControl]="formControl"
           [matAutocomplete]="autocomplete">

    <mat-autocomplete class="ccf-ontology-search detached autocomplete" [displayWith]="displayFormatter"
                      (optionSelected)="onSelect($event)" (opened)="autoCompleteOpen = true"
                      (closed)="autoCompleteOpen = false" #autocomplete>
      <div class="results-container">
        <mat-option *ngFor="let option of filteredResults$ | async" [value]="option">
          <span class="prefix">{{option.displayLabel[0]}}</span>
          <span class="search-term">{{option.displayLabel[1]}}</span>
          <span class="suffix">{{option.displayLabel[2]}}</span>
        </mat-option>
      </div>
    </mat-autocomplete>
  </mat-form-field>
</form>
