.results-browser-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  padding: 0 1.5rem 1.5rem 1.5rem;

  .stat-box {
    margin-bottom: 1.5rem;
    line-height: 1.25;
    min-height: 7.75rem;

    #title {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }

    .stat-row {
      display: flex;
      flex-direction: row;

      .stat-value {
        margin-right: 1rem;
        width: 5.5rem;
        text-align: right;
        font-weight: 600;
      }
      .stat-label {
        font-weight: 300;
      }
    }
  }

  .results-browser-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: .5rem;
    height: calc(100vh - 20rem);

    &.header-hidden {
      height: calc(100vh - 16rem);
    }

    .browser-item-container {
      width: 100%;
    }
  }

  .scroll-gradient {
    position: absolute;
    height: 3rem;
    width: 95%;
    bottom: 0;
    pointer-events: none;


    &.hidden {
      display: none;
    }
  }
}
