.results-browser-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 7rem);
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;

  .stat-box {
    margin-bottom: 1.5rem;
    line-height: 1.25;

    #title {
      margin-bottom: 0.75rem;
      font-weight: bold;
    }

    .stat-row {
      display: flex;
      flex-direction: row;

      .stat-value {
        margin-right: 1rem;
        width: 5.5rem;
        text-align: right;
      }
    }
  }

  .results-browser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  .scroll-gradient {
    position: absolute;
    height: 9rem;
    width: 95%;
    bottom: 0;
    pointer-events: none;

    &.hidden {
      display: none;
    }
  }
}
