@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #title {
    color: mat.get-color-from-palette($primary, text);
  }

  .scroll-gradient {
    background: linear-gradient(
      0deg,
      mat.get-color-from-palette($background, background) 0%,
      mat.get-color-from-palette($background, background) 55%,
      mat.get-color-from-palette($background, background, 0) 100%
    );
  }

  .browser-item-container {
    &.selected {
      background-color: mat.get-color-from-palette($foreground, dividers);
    }
  }
}
