<div class="patient-filters" [class.hidden]="hidden">
  <ccf-dropdown label="Sex" [options]="['Both', 'Male', 'Female']" [selection]="filters?.sex"
                (selectionChange)="updateFilter($event, 'sex')"></ccf-dropdown>

  <ccf-dual-slider label="Age" [valueRange]="[1, 110]" [selection]="filters?.ageRange"
                   (selectionChange)="updateFilter($event, 'ageRange')"></ccf-dual-slider>
  <ccf-dual-slider label="BMI" [valueRange]="[13, 83]" [selection]="filters?.bmiRange"
                   (selectionChange)="updateFilter($event, 'bmiRange')"></ccf-dual-slider>
</div>

<div class="filter" [class.hidden]="hidden">
  <ccf-checkbox label="Technologies" [options]="[ 'IMS', 'MxIF', 'PAS' ]" [selection]="filters?.technologies"
                (selectionChange)="updateFilter($event, 'technologies')"></ccf-checkbox>
</div>

<div class="filter" [class.hidden]="hidden">
  <ccf-checkbox label="Tissue Mapping Center (TMC)"
                [options]="[ 'TMC-CalTech', 'TMC-Florida', 'TMC-Stanford', 'TMC-UCSD', 'TMC-Vanderbilt' ]"
                [selection]="filters?.tmc" (selectionChange)="updateFilter($event, 'tmc')"></ccf-checkbox>
</div>

<div class="button-container" [class.hidden]="hidden">
  <button class="outline-button" (click)="applyButtonClick()">APPLY FILTERS</button>
</div>
