.filter {
  margin-top: 2em;
  padding-right: 4.3em;
}

.button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row-reverse;
}

.outline-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.4em;
  cursor: pointer;
}

.outline-button:hover {
  background-color: #1e88e5;
}

.outline-button:active {
  background: #69f0ae;
  color: black;
}

.outline-button:focus {
  outline: white;
}

.patient-filters {
  display: flex;
  width: 90%;

  ccf-dual-slider {
    margin-left: .5em;
    width: 33%;
  }

  ccf-dropdown {
    width: 33%;
  }
}