.filter {
  margin-top: 2em;
}

.button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row-reverse;
}

.outline-button {
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem #000000;
  border-radius: 4px;
  background: none;
  border-width: 1px;
  border-style: solid;
  padding: 0.4em;
  cursor: pointer;
}

.outline-button:active {
  background: #69f0ae;
  color: black;
}

.patient-filters {
  display: flex;
  width: 90%;

  &.hidden {
    display: none !important;
  }

  ccf-dual-slider {
    margin-left: .5em;
    width: 33%;
  }

  ccf-dropdown {
    width: 33%;
  }
}