.filter {
  margin-top: 2em;
}

.button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row-reverse;
}

.outline-button {
  background: none;
  border-width: 1px;
  border-style: solid;
  padding: 0.4em;
  cursor: pointer;
}

.outline-button:active {
  background: #69f0ae;
  color: black;
}

.patient-filters {
  display: flex;
  width: 90%;

  ccf-dual-slider {
    margin-left: .5em;
    width: 33%;
  }

  ccf-dropdown {
    width: 33%;
  }
}