<ccf-spatial-search-ui [sex]="sex$ | async" [referenceOrgan]="organ$ | async" [radius]="radius$ | async"
  [radiusSettings]="radiusSettings$ | async" [defaultPosition]="defaultPosition$ | async" [position]="position$ | async"
  (addSpatialSearch)="addSpatialSearch()" (radiusChange)="updateRadius($event)" (resetPosition)="resetPosition()"
  (resetSphere)="resetRadius()" (positionChange)="updatePosition($event)" (closeSpatialSearch)="close()"
  (editReferenceOrganClicked)="openSpatialSearchConfig()" (infoClicked)="onDialogButtonClick()">
</ccf-spatial-search-ui>
