:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  height: 95vh;
  width: 78vw;
  border-radius: 0.25rem;
  min-height: 45rem;
  min-width: 60rem;

  .header {
    display: flex;
    width: 100%;
    align-items: center;

    .info, .close {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 0.25rem;
      transition: 0.6s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .close {
      margin-left: auto;
    }
  }

  .content {
    display: flex;
    width: 100%;
    height: calc(100% - 3.5rem);

    mat-divider {
      border-top-width: 1px;
    }

    .button {
      border-width: 1px;
      border-style: solid;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      height: 2rem;
      line-height: 2rem;
      transition: 0.5s;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .info-panel {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      grid-gap: 1rem;
      gap: 1rem;
      width: 25rem;

      .organ-sex-selection {
        display: flex;
        font-size: 1rem;
        justify-content: space-between;

        .sex, .organ {
          display: flex;

          .label {
            font-weight: 300;
            margin-right: 0.5rem;
          }

          .current-sex, .current-organ {
            font-weight: 600;
          }
        }

        .edit {
          cursor: pointer;
        }
      }

      .radius-slider {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 600;
          font-size: 1rem;
        }

        .slider-container {
          display: flex;
          justify-content: space-between;

          .slider {
            width: 19rem;
          }

          .value {
            display: flex;
            align-items: center;
            font-size: 1rem;
          }
        }

        .reset-buttons {
          display: flex;
          justify-content: space-between;

          button {
            width: 11.5rem;
          }
        }
      }

      .results {
        height: calc(100% - 15rem - 2px);
        .list {
          height: 33%;
          display: flex;
          flex-direction: column;

        }
      }
    }

    .spatial-search-scene {
      display: flex;
      width: calc(100% - 25rem);
      background-color: black;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;

      .primary-scene-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .primary-scene {
          flex: auto;
          overflow: hidden;
        }

        .body-ui-hint {
          color: white;
          font-size: 1rem;
          margin: 1rem;
        }
      }

      .sidebar {
        .minimap-scene {
          margin: 1.5rem;
          width: 12.75rem;
          height: 11rem;
          ::ng-deep .body-ui {
            background-color: #232f3a;
          }
        }

        ccf-spatial-search-keyboard-ui-behavior {
          margin: 1.5rem;
          display: flex;
          justify-content: center;
        }

        ccf-xyz-position {
          margin: 1.5rem;
          padding-left: 5rem;
        }
      }
    }
  }
}
