@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-review-button {
    .review-button {
      background-color: mat-color($foreground, button-background);
      color: mat-color($foreground, sidebar-dividers);

      &:hover {
          background-color: mat-color($foreground, button-background-hover);
      }

      &.disabled {
        background-color: mat-color($foreground, disabled);
        color:  mat-color($foreground, disabled-text);
        border: 1px solid mat-color($foreground, disabled);

        &:hover {
          background-color: mat-color($foreground, disabled);
          color:  mat-color($foreground, disabled-text);
        }
    }
    }
  }
}
