:host {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 0.5rem;

  hr {
    width: 100%;
    margin: 0;
    border-style: solid;
    border-width: 1.5px;
  }

  & > :first-child {
    margin-top: 1.5rem;
  }

  .ccf-organ-selector {
    margin-top: 1.5rem;
  }

  .organ-sliders {
    display: flex;
    height: 3rem;
    align-items: center;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0 0.75rem 0;
  }
  
  .extraction-menu, .anatomical-structures-menu {
    .expansion-header {
      -webkit-user-select: none;    
      -moz-user-select: none;
      padding: 0 .5rem 0 0;
      font-weight: bold;
      height: 3rem;
    }
  }

}

