@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-left-sidebar {
    background-color: mat-color($background, sidebar-background);
    scrollbar-color: mat-color($foreground, scrollbar-thumb) mat-color($background, sidebar-background);

    &::-webkit-scrollbar-track {
      background-color: mat-color($background, sidebar-background);
    }

    hr {
      border-color: mat-color($foreground, sidebar-dividers);
    }

    .mat-expansion-indicator {
      color: mat-color($foreground, icon);
    }

    .extraction-site-tooltip {
      border-color: mat-color($foreground, contrast-icon);
      background-color: mat-color($foreground, text);
      color: mat-color($foreground, logo);
    }

    .validation-error-notification {
      background-color: mat-color($foreground, text);
      border: 1px solid mat-color($foreground, slider-red);
      border-left: 6px solid mat-color($foreground, slider-red);

      .validation-error-icon {
        color: mat-color($foreground, contrast-icon);
      }

      .validation-error-message {
        color: mat-color($foreground, logo);
      }
    }
  }
}
