:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    width: 100%;
    // margin-top: 0.75rem;
    // margin-bottom: 1.5rem;
    margin: 0;
    border-style: solid;
    border-width: 1.5px;
  }

  :not(hr) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  *:first-child {
    margin-top: 1.5rem;
  }

  .organ-sliders {
    display: flex;
    height: 3rem;
    align-items: center;

    .toggle {
      margin-top: 0;
      margin-left: 0;
    }
  }

  .extraction-menu, .anatomical-structures-menu {
    margin: 0;

    .mat-expansion-panel-content {
      height: 0;
    }

    .expansion-header {
      padding: 0;
      font-weight: bold;
      height: 3rem;
      margin-top: 0 !important;
      
      .expansion-title {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }


}


