<div class="container">
  <ng-container *ngIf="page.embedded$ | async; else selectors">
    <ccf-details-label [details]="detailsLabels"></ccf-details-label>
  </ng-container>
  <ng-template #selectors>
    <ccf-name-input [name]="page.user$ | async" (nameChange)="page.setUserName($event)">
    </ccf-name-input>

    <hr>

    <ccf-organ-selector></ccf-organ-selector>
    <div class="organ-sliders">
      <ccf-labeled-slide-toggle class="toggle side" [labels]="['L', 'R']"></ccf-labeled-slide-toggle>
      <ccf-labeled-slide-toggle class="toggle gender" [labels]="['Male', 'Female']"></ccf-labeled-slide-toggle>
    </div>
  </ng-template>

  <hr>

  <mat-expansion-panel class="extraction-menu">
    <mat-expansion-panel-header class="expansion-header">
      <mat-panel-title class="expansion-title">Common Extraction Sites</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <ccf-visibility-menu [items]="extractionSites"></ccf-visibility-menu>
    </ng-template>
  </mat-expansion-panel>

  <hr>

  <ccf-visibility-toggle [toggleLabel]="'Show Previous Registration Blocks'"></ccf-visibility-toggle>

  <hr>

  <mat-expansion-panel class="anatomical-structures-menu">
    <mat-expansion-panel-header class="expansion-header">
      <mat-panel-title class="expansion-title">Anatomical Structures</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <ccf-visibility-menu #menu (selectionChange)="slider.changeOpacity($event?.opacity)"
                           [items]="anatomicalStructures">
      </ccf-visibility-menu>
      <ccf-opacity-slider #slider [class.disabled]="menu.disableSlider" (opacityChange)="menu.updateOpacity($event)"
                          (opacityReset)="menu.resetOpacity()"
                          [opacity]="menu.selection ? menu.selection?.opacity : 100">
      </ccf-opacity-slider>
    </ng-template>
  </mat-expansion-panel>

  <hr>
</div>
