.organ-selector {
  display: flex;
  flex-direction: column;

  .organ-sliders {
    height: 3rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;

    .side-slider {
      width: 40%;
    }
  }
}