<div class="scroll-wrapper">
    <div class="container">
        <ng-container *ngIf="page.embedded$ | async; else selectors">
            <ccf-details-label [details]="detailsLabels$ | async"></ccf-details-label>
        </ng-container>
        <ng-template #selectors>
            <ccf-name-input [name]="page.user$ | async" (nameChange)="page.setUserName($event)">
            </ccf-name-input>

            <div class="organ-sliders" matTooltip="Select sex to filter organs.">
                <div class="slider-label">Donor Sex:</div>
                <ccf-labeled-slide-toggle [disabled]="disableSlider" class="toggle gender" [labels]="['Male', 'Female']"
                    [value]="sexByLabel$ | async" (valueChange)="setSexFromLabel($event)">
                </ccf-labeled-slide-toggle>
            </div>
        </ng-template>

        <mat-divider></mat-divider>

        <mat-expansion-panel class="anatomical-structures-menu" expanded>
          <mat-expansion-panel-header class="expansion-header"
              matTooltip="Use opacity icons to change visibility of anatomical structures">
              <mat-panel-title class="expansion-title">Anatomical Structures</mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="expansion-content">
              <ccf-visibility-menu
                  [items]="model.anatomicalStructures$ | async" (itemsChange)="model.setAnatomicalStructures($event)">
              </ccf-visibility-menu>
              <span *ngIf="disableSlider" class="expansion-placeholder">Select an organ to see available structures</span>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel class="extraction-menu" expanded>
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title matTooltip="Some organs have predefined extraction sites--you can turn these on/off."
                    class="expansion-title">Common Extraction Sites</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="organSelected$ | async" class="expansion-content">
                <ccf-extraction-set-dropdown [sets]="model.extractionSets$ | async"
                    (setChange)="model.setExtractionSites($event.sites)" #dropdown>
                </ccf-extraction-set-dropdown>
                <ccf-visibility-menu [items]="model.extractionSites$ | async"
                    (itemsChange)="model.setExtractionSites($event)" (hover)="updateExtractionSiteTooltip($event)">
                </ccf-visibility-menu>
                <span *ngIf="disableSlider" class="expansion-placeholder">Select an organ to see available extraction sites</span>
            </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <ccf-visibility-toggle toggleLabel="Previously Registered Blocks" [visible]="model.showPrevious$ | async"
            [disabled]="disableSlider" 
            (visibilityChanged)="togglePreviousRegistrationBlocks($event)" matTooltip="If you previously registered tissue blocks, you can turn their positions on/off.">
        </ccf-visibility-toggle>

        <div class="space"></div>

        <div class="extraction-site-tooltip mat-elevation-z8" *ngIf="extractionSiteTooltip.length > 0">
            {{ extractionSiteTooltip }}
        </div>

        <div class="filler"></div>

        <ccf-json-file-reader (parsedJson)="updateRegistration($event)" label="UPLOAD PREVIOUS REGISTRATION DATA"></ccf-json-file-reader>
    </div>
</div>
