:host {
  display: block;
  overflow-y: scroll;
  height: 100%;
  margin-right: 0.375rem;

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 0.375rem;

    hr {
      width: 100%;
      margin: 0;
      border-style: solid;
      border-width: 1.5px;
    }

    & > :first-child {
      margin-top: 1.5rem;
    }

    .ccf-organ-selector {
      margin-top: 1.5rem;
    }

    .organ-sliders {
      display: flex;
      height: 3rem;
      align-items: center;
    }

    mat-expansion-panel {
      box-shadow: none;
    }

    .extraction-menu,
    .anatomical-structures-menu {
      .expansion-header {
        -webkit-user-select: none;
        -moz-user-select: none;
        padding: 0 0.5rem 0 0;
        font-weight: bold;
        height: 3rem;
      }

      .expansion-content {
        margin-bottom: 0.75rem;
      }
    }
  }
}
