@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-left-sidebar {
    background-color: mat-color($background, sidebar-background);
    scrollbar-color: mat-color($foreground, scrollbar-thumb) mat-color($background, sidebar-background);

    &::-webkit-scrollbar-track {
      background-color: mat-color($background, sidebar-background);
    }

    hr {
      border-color: mat-color($foreground, sidebar-dividers);
    }

    .mat-expansion-indicator {
      color: mat-color($foreground, icon);
    }
  }
}
