:host {    
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      font-size: .875rem;
    }
    .counter {
      font-size: 1rem;
    }
  }

  .tissue-list {
    height: 14rem;
    overflow: auto;
  }
}