:host {
  padding-top: 1rem;    
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      font-size: .875rem;
    }
    .counter {
      font-size: 1rem;
    }

    .mat-icon {
      line-height: 1.4rem;
    }
  }
  .term-list {
    height: 40%;
    height: 14rem;
    overflow: auto;
    padding-left: 3rem;
    font-size: 1rem;
    .term-bloc {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      overflow: auto;
    }
  }

  .tissue-list {
    height: 14rem;
    overflow: auto;
  }
}