.mat-form-field {
  width: 33%;
  background-color: #424242;
  font-size: 12px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
}

::ng-deep .mat-select-value {
  color: #1e88e5;
}

::ng-deep .mat-select-arrow-wrapper {
  transform: translatey(-.5em);
  color: #616161;
}

::ng-deep .mat-form-field-infix {
  border: 0;
}


::ng-deep .mat-select-panel-wrap {
  transform: translatey(1.85em) translatex(4px);

  div {
    border-radius: 0px;
  }

  .mat-option-text {
    font-size: 14px !important;
  }
}

::ng-deep .mat-option {
  background: #616161;
  border-bottom: 1px solid black;
  padding: 0;
  width: 95% !important;
}

.mat-option:hover {
  background: #9e9e9e;
}

.mat-option.mat-selected.mat-active {
  background: #1e88e5;
  color: white;
}