@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visible {
  animation: fadeIn 0.3s;
  transition-delay: .275s;
  animation-delay: .275s;
}

.invisible {
  opacity: 0;
}

::ng-deep .option-panel {
  animation: slideInHorizontalDropdown .3s;
  animation-fill-mode: forwards;
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;
  position: absolute;
  top: 1.3rem;
  left: .25rem;
  border-radius: 0px;
  font-size: 14px !important;

  @keyframes slideInHorizontalDropdown {
    from {
      width: 0;
    }
    to {
      width: 9.85rem;
    }
  }

  .mat-option {
    background: #616161;
    border-bottom: 1px solid black;
    padding-left: 1em;
  }
  .mat-option:hover {
    background: #9e9e9e;
  }
  .mat-option.mat-selected.mat-active {
    background: #1e88e5;
    color: white;
  }
}

::ng-deep .cdk-overlay-pane {
  min-width: 0px !important;
}

.dropdown-form-field {
  font-size: 12px;
  height: 3rem;
  background: #424242;
  width: 100%;
  ::ng-deep .mat-form-field-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}

::ng-deep .mat-select-value {
  color: #1e88e5;
}

::ng-deep .ccf-dropdown {
  .mat-select-arrow-wrapper {
    transform: translatey(-.5em);
    color: #616161;
  }
}