.results-browser-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 1rem;

    .stat-box {
        margin-bottom: 1.5rem;
        height: 6rem;

        #title {
            margin-bottom: 1rem;
        }

        .stat-row {
            display: flex;
            flex-direction: row;

            .stat-value {
                margin-right: 1.5rem;
                width: 5rem;
                text-align: right;
            }
        }
    }

    .results-virtual-scroll {
        flex-grow: 1;

        .results-browser-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .scroll-gradient {
        position: absolute;
        height: 9rem;
        width: 95%;
        bottom: 0;
        // background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 15%, rgba(33,33,33,0) 100%);
    }
    .scroll-gradient.hidden {
        display: none;
    }
}