<div class="ccf-search-categories wrapper">
  <mat-tab-group class="search-category-group container" [disableRipple]="true">
    <mat-tab *ngFor="let category of categories">
      <ng-template mat-tab-label>
        <div class="tab">
          <span>{{ category }}</span>
        </div>
      </ng-template>

      <div class="search-criteria-content">
        <div *ngFor="let filter of filterCategories.get(category)" class="filter" [matTooltip]="filter.tooltip"
             [class.selected]="isSelected(category, filter.displayName)" (click)="selected(category, filter.displayName)">
          {{ removePrefix(category, filter.displayName) }}
      </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
