:host {
  position: absolute;
  top: calc(50% - 2.0625rem);
  right: -1.0625rem;
  width: 1.0625rem;
  height: 3rem;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  cursor: pointer;
  transition: .25s;

  &.ccf-drawer-toggle-button-end {
    right: unset;
    left: calc(-1rem - 1px);
    border-radius: 0.25rem 0rem 0rem 0.25rem;
  }

  .expand-collapse-icon {
    position: absolute;
    right: 0rem;
    transition: .6s;
    padding-left: .15rem;

    &.hidden {
      opacity: 0;
    }
  }

  &.ccf-drawer-toggle-button-end .expand-collapse-icon {
    right: unset;
    left: -0.25rem;
  }
}

.mat-icon {
  right: 0.3rem;
  top: .675rem;
  padding-top: .05rem;
}
