<div class="direction-arrow">
  <mat-icon class="arrow" [class.active]="currentKey === 'w'">north</mat-icon>
  <mat-icon class="arrow" [class.active]="currentKey === 's'">south</mat-icon>
  <mat-icon class="arrow" [class.active]="currentKey === 'a'">east</mat-icon>
  <mat-icon class="arrow" [class.active]="currentKey === 'd'">west</mat-icon>
  <mat-icon class="arrow" [class.active]="currentKey === 'e'">north_east</mat-icon>
  <mat-icon class="arrow" [class.active]="currentKey === 'q'">south_west</mat-icon>
</div>
<div class="keys">
  <div class="keyrow">
    <div class="key blue" [class.highlighted]="currentKey === 'q'">Q</div>
    <div class="key green" [class.highlighted]="currentKey === 'w'">W</div>
    <div class="key blue" [class.highlighted]="currentKey === 'e'">E</div>
  </div>
  <div class="keyrow">
    <div class="key red" [class.highlighted]="currentKey === 'a'">A</div>
    <div class="key green" [class.highlighted]="currentKey === 's'">S</div>
    <div class="key red" [class.highlighted]="currentKey === 'd'">D</div>
  </div>
</div>