<div class="ccf-slider wrapper">
  <div class="container">
    <div *cdk-portal class="ccf-slider detached" #popover>
      <div class="label min fade-in {{contentsVisible}}">
        <div class="label floor"> {{ options.floor }}> </div>
        <input class="input-low" type="text" value="{{lowValue}}" (keyup)="onKeyLow($event)">
      </div>

      <ngx-slider class="slider fade-in {{contentsVisible}}" [options]="options" [(value)]="lowValue"
                  [(highValue)]="highValue" (userChangeEnd)="sliderValueChanged()">
      </ngx-slider>

      <div class="label max fade-in {{contentsVisible}}">
        <div class="label ceil"> {{ options.ceil }} </div>
        <input class="input-high" type="text" value="{{highValue}}" (keyup)="onKeyHigh($event)">
      </div>
    </div>

    <mat-form-field class="slider-form-field" [class.highlight]="isSliderOpen" (click)="toggleSliderPopover()" subscriptSizing="dynamic">
      <div class="slider-labels">
        <span class="name-label">{{ label }}</span>
        <span class="range-label">{{ rangeLabel }}</span>
      </div>
      <mat-select></mat-select>
    </mat-form-field>
  </div>
</div>
