<mat-tree class="ccf-ontology-tree" [dataSource]="dataSource" [treeControl]="control">
  <!-- Templates with common structures for inner and leaf nodes -->
  <ng-template #selectableRegion let-node="node">
    <div
      class="text"
      [class.filtered-out]="!occurenceData[node.original.id] && !!termData[node.original.id]"
      [class.unavailable]="!termData[node.original.id]"
      [class.selected]="isSelected(node)"
      (click)="select($event.ctrlKey, node, true, !isSelected(node))"
    >{{ node.label }}</div>
  </ng-template>
  
  <!-- Leaf node template -->
  <mat-tree-node *matTreeNodeDef="let node" class="node leaf-node" matTreeNodePadding
  [matTreeNodePaddingIndent]="indent" (mouseleave)="mouseOut()">

    <mat-icon class="icon opacity" [class.fade]="!node.visible" (mouseenter)="mouseOver(node)" svgIcon="app:opacity"></mat-icon>
    <div class="slider" [class.hidden]="node.label != highlightedNode?.label">
      <ccf-opacity-slider [visible]="node.visible" [opacity]="highlightedNode ? highlightedNode?.opacity : 20"
      (opacityChange)="updateOpacity($event)" (opacityReset)="resetNode()" (visibilityToggle)="toggleVisibility(node)">
      </ccf-opacity-slider>
    </div>

    <!-- Disabled button used to add equal amount of space as an inner node's button -->
    <div class="non-expandable"></div>
    <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
    <div class="num-results">{{node.numResults ? node.numResults : 0}}</div>

  </mat-tree-node>

  <!-- Inner node template -->
  <mat-tree-node *matTreeNodeDef="let node; when: isInnerNode" class="node inner-node" matTreeNodePadding
                 [matTreeNodePaddingIndent]="indent"  (mouseleave)="mouseOut()">

    <mat-icon class="icon opacity" [class.fade]="!node.visible" (mouseenter)="mouseOver(node)" svgIcon="app:opacity"></mat-icon>
    <div class="slider" [class.hidden]="node.label != highlightedNode?.label">
      <ccf-opacity-slider [visible]="node.visible" [opacity]="highlightedNode ? highlightedNode?.opacity : 20"
        (opacityChange)="updateOpacity($event)" (opacityReset)="resetNode()" (visibilityToggle)="toggleVisibility(node)">
      </ccf-opacity-slider>
    </div>

    <button class="toggle" mat-icon-button matTreeNodeToggle attr.aria-label="Toggle {{ node.label }}">
      <mat-icon class="icon font-icon">
        {{ control.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>

    <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
    <div class="num-results">{{node.numResults ? node.numResults : 0}}</div>

  </mat-tree-node>
</mat-tree>
