.ccf-ontology-tree {
  background: none;
  scrollbar-width: thin;
  overflow: hidden;

  &.header-hidden {
    max-height: 40vh;
  }

  .node:first-of-type {
    .toggle {
      z-index: -1;
      opacity: 0;
    }
    .text {
      margin-left: 0.5rem;
    }
  }
  .node-container {
    display: flex;
  }

  .biomarkers-toggle::ng-deep {
    margin: 0.5rem;
    padding-left: 1rem;
  }

  .node {
    min-height: 0;
    font-size: 1rem;
    margin-bottom: .25rem;

    .slider {
      width: 100%;
      transition-duration: .25s;
      transition-timing-function: ease-in-out;
      transition-property: width;
      position: relative;
      z-index: 1;

      &.hidden {
        width: 0;
        ccf-opacity-slider {
          display: none;
        }
      }

      ::ng-deep ccf-opacity-slider {
        height: 1.5rem;
        margin-left: 1rem;

        .slider-box {
          width: 100%;

          .slider-and-label {
            width: 100%;
          }
        }

        .mat-slider {
          height: 1.5rem;
          width: 15rem;

          .mat-slider-wrapper {
            top: 12px;
          }
        }

        .opacity-value {
          width: 3rem;
        }
      }
    }

    .num-results {
      margin-right: 0.25rem;
    }

    &.inner-node {
      button {

        &.hidden {
          display: none;
        }
      }
    }

    .opacity {
      position: relative;
      min-width: 1.5rem;
    }

    .toggle {
      width: 1.5rem;
      height: 1.5rem;
      line-height: normal;
      padding: 0;
    }

    .autocomplete-open .toggle {
      border-bottom: none;
    }

    .non-expandable {
      margin-left: 1.5rem;
    }

    .text {
      cursor: pointer;
      margin-left: 1rem;
      opacity: 1;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;
      transition-property: opacity, width;

      &.hidden {
        opacity: 0;
        width: 0%;
      }

      &.unavailable {
        pointer-events: none;
      }
    }

    .num-results {
      margin-left: auto;
    }
  }

  .block {
    display: block;
  }
}

.scroll-gradient {
  position: absolute;
  height: 3rem;
  width: 90%;
  bottom: 0;
  pointer-events: none;

  &.hidden {
    display: none;
  }
}
