<mat-tree class="ccf-ontology-tree" [class.header-hidden]="!header" [dataSource]="dataSource" [treeControl]="control"
  (scroll)="onScroll($event)">

  <!-- Templates with common structures for inner and leaf nodes -->
  <ng-template #selectableRegion let-node="node">
    <div class="text"
      [class.filtered-out]="!occurenceData[node.original.id] && !!termData[node.original.id]"
      [class.unavailable]="!termData[node.original.id]" [class.selected]="isSelected(node)"
      (click)="select($event.ctrlKey, node, true, !isSelected(node))">{{ getNodeLabel(node.label) }}</div>
  </ng-template>

  <!-- Leaf node template -->
  <mat-tree-node *matTreeNodeDef="let node" class="node leaf-node block" matTreeNodePadding
    [matTreeNodePaddingIndent]="indent">
    <!-- Disabled button used to add equal amount of space as an inner node's button -->
    <div class="non-expandable"></div>
    <div class="node-container">
      <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
      <div class="num-results" [class.suborgan]="node.level > 1">{{ getCountLabel(node) }}{{
          occurenceData[node.original.id] || 0 }}</div>
    </div>
  <div class="biomarkers-toggle" *ngIf="showtoggle && node.original.id==='biomarkers'">
    <ccf-button-toggle [menuOptions]="menuOptions" [selectedItems]="selectedtoggleOptions"
      (selectionChange)="toggleSelection($event)"></ccf-button-toggle>
  </div>
  </mat-tree-node>

  <!-- Inner node template -->
  <mat-tree-node *matTreeNodeDef="let node; when: isInnerNode" class="node inner-node block" matTreeNodePadding
    [matTreeNodePaddingIndent]="indent">
    <div class="node-container">
      <button class="toggle" mat-icon-button matTreeNodeToggle
        attr.aria-label="Toggle {{ node.label }}">
        <mat-icon class="icon font-icon">
          {{ control.isExpanded(node) ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </button>
      <ng-container *ngTemplateOutlet="selectableRegion; context: { node: node }"></ng-container>
      <div class="num-results" [class.suborgan]="node.level > 1">{{ getCountLabel(node) }}{{
        occurenceData[node.original.id] || 0 }}</div>
    </div>
    <div class="biomarkers-toggle" *ngIf="showtoggle && node.original.id==='biomarkers'">
      <ccf-button-toggle [tooltips]="tooltips" [enableTooltip]="true" [menuOptions]="menuOptions" [selectedItems]="selectedtoggleOptions ?? menuOptions"
        (selectionChange)="toggleSelection($event)"></ccf-button-toggle>
    </div>
  </mat-tree-node>

</mat-tree>
