@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .ccf-ontology-tree {
    .node {
      .opacity {
        color: mat-color($foreground, main);
  
        &:hover {
          background: mat-color($foreground, icons-hover);
        }
  
        &.fade {
          color: mat-color($foreground, icons-disabled);
        }
      }

      .slider {
        background-color: white;
        
        mat-slider {
          .mat-slider-thumb {
            background-color: mat-color($foreground, main);
          }
    
          .mat-slider-track-background {
            background-color: mat-color($foreground, icons-disabled);
          }
    
          .mat-slider-track-fill {
            background-color: mat-color($foreground, main);
          }
        }
  
        .opacity-value {
          color: mat-color($foreground, opacity-numbers);
        }
    
        .icon {
          color: mat-color($foreground, main);
          &:hover {
            background: mat-color($foreground, icons-hover);
          }
        }
    
        .visibility {
          &.invisible {
            color: mat-color($foreground, icons-disabled);
          }
        }
      }

      .num-results {
        &.suborgan {
          color: mat-color($foreground, results-numbers);
        }
      }
  
      .text {
        color: mat-color($foreground, text);
      }
  
      .text:hover {
        color: mat-color($accent);
      }
  
      .selected {
        color: mat-color($accent);
      }
    }
  }
}
