:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  transform: translate3d(-100%, 0, 0);
  background-color: white;

  &.ccf-drawer-end {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  .cff-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
  }
}
