:host {
  display: flex;

  .field {
    &:not(:last-child) {
      padding-right: 0.75rem;
    }

    .input {
      text-align: left;
      width: 100%;
      font-size: 1rem;
    }

    ::ng-deep .mdc-text-field {
      padding: 0;
    }
  }
}
