@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  .ccf-name-input {
    .label {
      color: mat-color($foreground, placeholder-text);
    }

    .mat-form-field-ripple {
      background-color: mat-color($accent) !important;
    }
  }
}