<mat-form-field class="field">
  <mat-label class="text label">First Name</mat-label>
  <input matInput class="input" [value]="name.firstName" (input)="updateName($event, 'firstName')">
</mat-form-field>

<mat-form-field class="field">
  <mat-label class="text label">Last Name</mat-label>
  <input matInput class="input" [value]="name.lastName" (input)="updateName($event, 'lastName')">
</mat-form-field>
<ccf-toggleable-tooltip
  [visible]="true"
  [direction]="'right'"
  [marginTop]="2"
  [tooltip]="'Add your first and last name.'"
></ccf-toggleable-tooltip>