:host {
  display: flex;

  .label::after {
    content: "*";
    color: red;
  }

  .field {
    width: 50%;

    &:not(:last-child) {
      padding-right: 0.75rem;
    }

    .input {
      text-align: left;
    }
  }
}