<ccf-registration-modal></ccf-registration-modal>
<ccf-header [class.header-hidden]="(header$ | async) === false" [logoTooltip]="(logoTooltip$ | async) ?? ''"
  [homeUrl]="(homeUrl$ | async) ?? ''"></ccf-header>

<ccf-drawer-container>
  <ccf-drawer opened>
    <ccf-left-sidebar [modalClosed]="registrationStarted">
    </ccf-left-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>
  <ccf-drawer position="end" opened>
    <ccf-right-sidebar [modalClosed]="registrationStarted"
      (registrationExpanded)="registrationToggle($event)"></ccf-right-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>

  <ccf-drawer-content>
    <ccf-content class="stage-content" [disablePositionChange]="disablePositionChange"></ccf-content>
  </ccf-drawer-content>
</ccf-drawer-container>
