:host {
  display: flex;
  flex-direction: column;
  margin-left: .5rem !important;
  margin-top: .5rem !important;

  .site-entry {
    display: flex;
    cursor: pointer;

    .highlighted {
      color: blue;
    }
    .site-name {
      margin-left: 1rem;
      font-size: 14px;
    }
  }
}