.viewer-sidebar {
  .viewer-close-header {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    
    .viewer-close-button {
      border: none;
      padding: 0;
      background: inherit;
      cursor: pointer;
    }
  }
}
  
.sample-info {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  
  .sample-region {
    font-weight: bold;
  }
}