.ccf-ontology-search {
  width: 25rem;

  .field {
    margin-left: 1.5rem;
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0 500px 500px 0;
    }

    .mat-form-field-outline-start {
      border-radius: 500px 0 0 500px;
      min-width: 40px;
	  }

	  .mat-form-field-outline {
		  top: 0.7em;
	  }
  }
}

::ng-deep .ccf-ontology-search.detached {
  background: #212121;
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;

  .search-term {
    text-decoration: underline;
  }
}

::ng-deep .ccf-ontology-search.detached {
  background: #212121;

  .search-term {
    text-decoration: underline;
  }
}

.autocomplete-open {
  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-start {
      border-radius: 50% 0 0 0;
      border-bottom: none;
    }

    .mat-form-field-outline-end {
      border-radius: 0 1rem 0 0;
      border-bottom: none;
    }
  }
}
