.ccf-ontology-search {
  width: 25rem;
  margin-top: 1.5rem;

  .field {
    margin-left: 1.5rem;
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0 500px 500px 0;
      margin: 0;
    }

    .mat-form-field-wrapper {
      margin: 0;

      .mat-form-field-flex {
        .mat-form-field-infix {
          border: none;
          height: 3rem;

          input {
            margin-left: .4rem;
          }
        }
        .mat-form-field-suffix {
          top: .5rem;
          border: none;
        }
      }
    }

    .mat-form-field-outline-start {
      border-radius: 500px 0 0 500px;
      min-width: 40px;
	  }
  }
}

::ng-deep .ccf-ontology-search.detached {
  max-width: 380px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;

  mat-option {
    height: 1.5rem;
  }

  .search-term {
    text-decoration: underline;
  }
}

::ng-deep .ccf-ontology-search.detached {

  .search-term {
    text-decoration: underline;
  }
}

.autocomplete-open {
  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-start {
      border-radius: 50% 0 0 0;
      border-bottom: none;
    }

    .mat-form-field-outline-end {
      border-radius: 0 1rem 0 0;
      border-bottom: none;
    }
  }
}

::ng-deep #cdk-overlay-2 {
  z-index: 3;
  border: 2px solid;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  max-height: 17.5rem;
}
