<div class="ccf-ui-body wrapper">
  <div class="container">
    <div class="organ-metadata">
      {{ metaData$ | async }}
    </div>

    <div class="body-details-container">
      <!-- <div class="details">
        <div class="heart">
        </div>
        <div class="kidney">
        </div>
      </div> -->

      <svg class="body" viewBox="0 0 500 1000">
        <use attr.href="{{ bodyImagePath$ | async }}body.svg#body"></use>
        <g *ngFor="let overlay of bodyOverlays$ | async" [routerLink]="navigator.createOrganPath(overlay.id)">
          <use attr.href="{{ overlay.path }}#overlay"></use>
        </g>
      </svg>
    </div>
  </div>
</div>
