<div class="ccf-ui-body wrapper">
  <div class="container">
    <div class="body-container">
      <div class="body">
        <div class="heart">
          <img class="heart-icon" src="assets/images/organ-heart.jpg"/>
        </div>
        <div class="kidney-container">
          <div class="left-kidney">
            <img class="kidney-icon" src="assets/images/organ-kidney-left.jpg"/>
          </div>
          <div class="right-kidney">
            <img class="kidney-icon" src="assets/images/organ-kidney-right.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
