<div class="ccf-ui-body wrapper">
  <div class="container">
      <div class="organ-metadata" *ngIf="metadata">
        <div class="header">
          <div class="heading">ORGAN:</div>
          <div class="organ">{{ capitalize(hoverOrganName) }}</div>
        </div>
        <div class="body">
          <ccf-metadata [metadata]="metadata"></ccf-metadata>
        </div>
    </div>

    <div class="body-details-container">
      <!-- TODO: Add callout here. Could benefit from ccf-metadata? -->
          <div class="organ" *ngFor="let overlay of bodyOverlays$ | async">

      <svg class="body" viewBox="0 0 500 1000">
        <use attr.href="{{ bodyImagePath$ | async }}body.svg#body"></use>
        <use *ngFor="let overlay of bodyOverlays$ | async" class="overlay" attr.href="{{ overlay.path }}#overlay"
             [routerLink]="navigator.createOrganPath(overlay.id)"></use>
      </svg>
    </div>
  </div>
</div>
