.popup-box {
  width: 0em;
  position: absolute;
  height: 23em;
  z-index: 1;
  top: 0;
  right: 27.5em;
  background-color: #323232;
  box-shadow: 0.4em 0.4em 0.8em 0em #000000;

  .popup-body {
    position: relative;
    padding: 1em;
    opacity: 0%;
  }
}

.show-hide {
  width: 3em;
  height: 3em;
  color: #9e9e9e;
  background: none;
  border: none;
  z-index: 10;
  position: relative;
  cursor: pointer;
  outline: none;
}
.show-hide:hover {
  color: #1e88e5;
}

.slide-in {
  transition-property: width;
  transition-duration: .3s;
}

@keyframes slideInHorizontal {
  from {
    width: 0;
  }

  to {
    width: 35em;
  }
}

.fade-in {
  transition-property: opacity;
  transition-duration: .3s;
  transition-delay: .3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
