.slide-in {
  animation: slideInHorizontal 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideInHorizontal {
  from {
    width: 0;
  }

  to {
    width: 35em;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-hide {
  width: 4em;
  height: 4em;
  color: white;
  background: none;
  border: none;
  z-index: 10;
  position: relative;
  cursor: pointer;
  outline: none;
}
.show-hide:hover {
  color: #69f0ae;
}

.popup-box {
  position: absolute;
  height: 23em;
  z-index: 1;
  top: 0;
  right: 24.5em;
  background-color: #222;

  .popup-body {
    position: relative;
    padding: 1em;
  }
}

.icon {
  fill: white;
}
