<div [ngClass]="setFilterBoxClasses()">
  <button (click)="toggleFilterVisible()" class="show-hide">
    <div *ngIf="filtersBoxVisible; else notShow">
      <mat-icon class="icon">close</mat-icon>
    </div>
    <ng-template #notShow>
      <mat-icon svgIcon="filter" class="icon"></mat-icon>
    </ng-template>
  </button>
  <div id="filterContainer" class="popup-box slide-in">
    <div id="popupBody" class="popup-body fade-in">
      <ccf-filters-content (applyFilters)="applyFilters($event)"></ccf-filters-content>
    </div>
  </div>
</div>