:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  overflow: hidden;

  .top-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;

    .reset {
      transform: scaleX(-1);
      cursor: pointer;
      transition: .6s;
    }
  }

  .main-content {
    display: flex;

    .body-ui {
      flex: auto;
      transition: opacity 1s;

      .hidden {
        opacity: 0;
        z-index: 0;
      }
    }

    .gizmo-area {
      width: 4rem;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      z-index: 10;

      .position-display {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
      }

      .gizmo {
        height: 5.5rem;
        .hidden {
          opacity: 0;
          z-index: 0;
        }
      }
    }
  }

  // Temporary for displaying dev information
  .ccf-store-debug {
    color: white;
    position: absolute;
    top: .5rem;
    max-width: 55rem;
  }
}
