@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-content {
    background-color: mat-color($background, stage-background);

    .top-bar {
      .icon {
        color: mat-color($foreground, icon);

        &:hover {
          color: mat-color($foreground, active-icon);
        }
      }
    }

    .position-display {
      color: mat-color($foreground, contrast-text);
    }
  }
}
