:host {
  width: 100%;

  .main-container {
    display: flex;
    min-height: 3rem;
    width: 100%;
    align-items: center;
    padding-left: 0.5rem;
  }

  .checkbox-background {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.highlighted {
      ::ng-deep .mdc-checkbox__ripple {
        opacity: .04;
      }
    }
  }

  .align-end {
    margin-left: auto;
  }

  .info-block {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    width: 100%;
    align-items: center;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    .text-content {
      .title {
        font-weight: 600;
      }
    }
  }

  .donor {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    flex-grow: 1;
    height: 2.5rem;

    &:hover, &.highlighted {
      box-shadow: 0px 6px 2px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.14), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .hover-state {
      width: 19.5rem !important;
    }

    .donor-info {
      .title {
        font-weight: 600;
      }
    }
  }

  .hoverable {
    position: relative;
  }

  .hover-enabled {
    position: relative;

    &:hover {
      .hover-state {
        opacity: 1;
      }
    }
  }

  .hover-state {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    margin-left: -0.5rem;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: 0.75rem;

    .hover-title {
      font-weight: lighter;
    }

    .hover-icon {
      margin-left: 1rem;
    }
  }

  .default-padding {
    padding: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .expanded-view {
    margin-top: 0.25rem;
    width: 85%;
    margin-bottom: 0.25rem;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .icon-size {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
  }

  .selectable {
    cursor: pointer;
  }

  .w-80 {
    width: 80% !important;

    .info-block {
      .text-content {
        .description {
          width: 16rem !important;
        }
      }
    }
  }

  .ml-5 {
    margin-left: 0.5rem;
  }

  .mr-5 {
    margin-right: 0.5rem;
  }

  .mt-05 {
    margin-top: 0.5rem;
  }

  .description {
    width: 17rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
