<div class="tissues-browser-grid-popover-content wrapper">
  <div class="container">
    <div class="header">
      <div class="age">Age {{ age }}</div>
      <mat-icon class="icon svg-icon gender" [svgIcon]="genderIcon"></mat-icon>
    </div>

    <div class="body">
      <div *ngFor="let item of metadata; trackBy: trackByLabel" class="metadata">
        {{ item[0] }}: {{ item[1] }}
      </div>
    </div>

    <div class="footer">
      <a rel="noreferrer noopener" href="https://sampledata.hubmapconsortium.org/home" target="_blank">
        <mat-icon class="font-icon download">cloud_download</mat-icon>
      </a>
    </div>
  </div>
</div>