@import 'global/colors';

.tissues-browser-grid-popover-content.wrapper {
  .container {
    .icon {
      color: $icon-color;
      outline: none;
    }

    .header {
      font-size: 16px;
      font-weight: bold;

      .gender {
        position: absolute;
        top: 8px;
        right: 8px;
      }
    }

    .body {
      font-size: 12px;
    }

    .footer {
      .download {
        position: absolute;
        bottom: 4px;
        right: 8px;
        cursor: pointer;
        color: $download-icon-color;
        outline: none;
      }
    }
  }
}
