<div class="tissues-browser-grid-popover-content wrapper">
  <div class="container">
    <div class="header">
      <div class="age">Age {{ age }}</div>
      <mat-icon class="gender" [svgIcon]="genderIcon"></mat-icon>
    </div>

    <div class="body">
      <div *ngFor="let item of data; trackBy: trackByLabel" class="metadata">
        {{ item[0] }}: {{ item[1] }}
      </div>
    </div>

    <div class="footer">
      <mat-icon class="download">cloud_download</mat-icon>
    </div>
  </div>
</div>
