::ng-deep .extraction-set-panel {
  position: absolute !important;
  box-shadow: 0rem 0rem 0.3rem 0.1rem #9e9e9e !important;
  top: -3.5rem;

  .extraction-set-options {
    height: 2.5rem;
    min-height: inherit;
  }
}

:host {
  ::ng-deep .mat-mdc-form-field {
    width: 10.5rem;

    .mat-mdc-text-field-wrapper {
      padding: 0;
    }
  }
}

::ng-deep .cdk-overlay-pane {
  min-width: 0rem !important;
}
