@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  .extraction-dropdown-label {
    color: mat.get-color-from-palette($foreground, placeholder-text);
  }

  .mat-form-field-ripple {
    background-color: mat.get-color-from-palette($accent) !important;
  }

  .extraction-set-panel {
    background-color: mat.get-color-from-palette($primary, 'white');

    .mat-option {
      border-color: mat.get-color-from-palette($foreground, borders);
      
      .mat-option-text {
        color: mat.get-color-from-palette($foreground, placeholder-text);
      }

      &:hover {
        background-color: mat.get-color-from-palette($background, hover-background);
      }

      &.mat-selected.mat-active {
        background-color: mat.get-color-from-palette($background, background);
      }
    }
  }

  .dropdown-form-field {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background-color: mat.get-color-from-palette($background, background);
      }
    }
  }

  .mat-select-value {
    color: mat.get-color-from-palette($foreground, placeholder-text);
  }

  .mat-select-arrow {
    color: mat.get-color-from-palette($foreground, icon);
  }
}
