<div class="ccf-about wrapper">
  <div class="container">
    <div class="close">
      <mat-icon class="material-icons close-icon" (click)=close()>clear</mat-icon>
    </div>
    <div class="content">
      <h2 class="title" mat-dialog-title>Registration Review</h2>

      <mat-dialog-content class="mat-typography">
        <div class="display-fields">
          <div class="field" *ngIf="!embeddedMode">
            <div class="label">First Name</div>
            <div class="data">{{ registrationData.firstName }}</div>
          </div>

          <div class="field">
            <div class="label">Last Name</div>
            <div class="data">{{ registrationData.lastName }}</div>
          </div>

          <div class="field">
            <div class="label">Reference Organ Name</div>
            <div class="data">{{ registrationData.referenceOrgan }}</div>
          </div>

          <div class="field">
            <div class="label">Tissue Block Size (mm)</div>
            <div class="data">{{ registrationData.tissueBlockSize }}</div>
          </div>

          <div class="field">
            <div class="label">Tissue Block Rotation (mm)</div>
            <div class="data">{{ registrationData.tissueBlockRotation }}</div>
          </div>

          <div class="field">
            <div class="label">Extraction Sites</div>
            <div class="data">{{ registrationData.extractionSites }}</div>
          </div>

          <div class="field">
            <div class="label">Anatomical Structure Tags</div>
            <div class="data">{{ registrationData.anatomicalStructureTags }}</div>
          </div>

          <div class="field">
            <div class="label">Time Stamp</div>
            <div class="data">{{ registrationData.timestamp }}</div>
          </div>

          <div class="field">
            <div class="label">Alignment ID</div>
            <div class="data">{{ registrationData.alignmentID }}</div>
          </div>
        </div>
      </mat-dialog-content>

      <div class="footer">
        <button mat-button class="download-button" (click)="dialogRef.close(true)">{{ embeddedMode ? 'REGISTER' : 'DOWNLOAD REGISTRATION DATA' }}</button>
      </div>
    </div>
  </div>
</div>