<div class="ccf-about wrapper">
  <div class="container">
    <div class="close">
      <mat-icon class="material-icons close-icon" (click)=close()>clear</mat-icon>
    </div>
    <div class="content">
      <h2 class="title" mat-dialog-title>Registration Review</h2>

      <mat-dialog-content class="mat-typography">
        <div class="display-fields">
          <div class="field" *ngFor="let data of metaData">
            <div class="label">{{ data.label }}</div>
            <div class="data">{{ data.value }}</div>
          </div>
        </div>
      </mat-dialog-content>

      <div class="footer">
        <button mat-button class="download-button" (click)="dialogRef.close(true)">{{ registrationCallbackSet ? 'REGISTER' : 'DOWNLOAD REGISTRATION DATA' }}</button>
      </div>
    </div>
  </div>
</div>