<!-- <ccf-ontology-search (selected)="selected($event)" [placeholderText]="placeholderText"></ccf-ontology-search> -->
<ccf-ontology-tree
    *ngIf="ontologySearchService.rootNode$ | async as rootNode"
    class="tree"
    [nodes]="[rootNode]"
    [rootNode]="rootNode.id"
    [getChildren]="ontologySearchService.getChildren"
    (nodeSelected)="ontologySelection.emit($event)"
    [occurenceData]="occurenceData"
    [termData]="termData"
    [ontologyFilter]="ontologyFilter"
    [header]="header"
></ccf-ontology-tree>
