:host {
  .hidden {
    visibility: hidden;
  }
  mat-button-toggle {
    min-width: 8.75rem;
    text-align: center;
    width: inherit;
    line-height: 0px;
  }
  .mat-button-toggle-checked {
    background-color: rgb(255, 255, 255);
  }
  .selected {
    background-color: #c2cae5;
  }
  .toggleGroup {
    border-radius: 35px;
    width: 100%;
    overflow-x: auto;
  }
  ::ng-deep .mat-button-toggle-label-content {
    line-height: 2rem !important;
  }
}
