:host {
  .run-spatial-search-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    height: 2rem;
    width: 13rem;

    .mat-icon {
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  }
}
