:host {
  .run-spatial-search-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;

    .mat-icon {
      margin-left: 9.75px;
    }
  }
}
