.ccf-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  ccf-drawer-container {
    flex-grow: 1;
    position: fixed;
    top: 4rem;
    height: 100%;
    width: 100%;
    opacity: 1;

    ccf-drawer-content {
      overflow: hidden;
    }

    ccf-drawer {
      width: 27rem;
      margin: 0 1.5rem;

      .drawer-icons {
        display: flex;

        .button {
          width: 3rem;
          height: 3rem;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;

          mat-icon {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7.5rem;
}
