.ccf-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  ccf-drawer-container {
    flex-grow: 1;

    ccf-drawer {
      width: 27rem;
      margin: 0 1.5rem;
    }

    ccf-drawer-content {
      overflow: hidden;
      .body {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.fullscreen {
  width: 3em;
  height: 3em;
  color: #9e9e9e;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
}
.fullscreen:hover {
  color: #1e88e5;
}

::-webkit-scrollbar {
  width: 120px;
}

