.ccf-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  ccf-drawer-container {
    flex-grow: 1;
    position: fixed;
    top: 4rem;
    height: 100%;
    width: 100%;
    opacity: 1;

    ccf-drawer-content {
      overflow: hidden;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    ccf-drawer {
      width: 28.5rem;

      .drawer-icons {
        display: flex;
        padding-left: 1.5rem;

        .scheme-toggle {
          mat-icon {
            font-size: 2rem !important;
          }
        }

        .button {
          width: 3rem;
          height: 3rem;
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;

          mat-icon {
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7.5rem;
}
