.ccf-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  ccf-drawer-container {
    flex-grow: 1;

    ccf-drawer-content {
      overflow: hidden;
      .body {
        width: 100%;
        height: 100%;
      }
    }

    ccf-drawer {
      width: 27rem;
      margin: 0 1.5rem;

      .drawer-icons {
        display: flex;
        
        .button {
          width: 3rem;
          height: 3rem;
          color: #9e9e9e;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
          z-index: 1;

          :hover {
            color: #1e88e5;
          }

          mat-icon {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 120px;
}

