<div class="ccf-app mat-app-background">
  <ccf-header></ccf-header>

  <ccf-drawer-container>
    <ccf-drawer opened #left>
      Search
      <button (click)="left.close()">Close</button>
      <button (click)="left.toggleExpanded()">Toggle Expand</button>
      <div>foo</div>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>
    <ccf-drawer position="end" opened #right>
      Tissue Browser
      <button (click)="right.close()">Close</button>
      <button (click)="right.toggleExpanded()">Toggle Expand</button>
      <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
    </ccf-drawer>

    <ccf-drawer-content>
      <img class="body" src="assets/img-both-sexes-torso.jpg" />
    </ccf-drawer-content>
  </ccf-drawer-container>
</div>
