@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-right-sidebar {
    background-color: mat-color($background, sidebar-background);
    scrollbar-color: mat-color($foreground, scrollbar-thumb) mat-color($background, sidebar-background);
    &::-webkit-scrollbar-track {
      background-color:mat-color($background, sidebar-background);
    }

    &.scroll {
      scrollbar-color: mat-color($foreground, scrollbar-thumb) mat-color($foreground, scrollbar-track);
      &::-webkit-scrollbar-track {
        background-color: mat-color($foreground, scrollbar-track);
      }
    }

    hr {
      border-color: mat-color($foreground, sidebar-dividers);
    }

    .tags-container {
      .search .icon.add {
        color: mat-color($foreground, contrast-icon);
      }

      .legend {
        background-color: mat-color($background, legend-background);

        .dot.assigned {
          background-color: mat-color($primary, text);
        }

        .dot.added {
          background-color: mat-color($foreground, legend-contrast);
        }
      }
    }
  }
}
