<div class="container">
  <ccf-block-size-input [blockSize]="model.blockSize$ | async" (blockSizeChange)="model.setBlockSize($event)">
  </ccf-block-size-input>
  <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-4"
                          tooltip="Enter tissue block dimensions."></ccf-toggleable-tooltip>

  <hr>

  <ccf-slices-input [slicesConfig]="model.slicesConfig$ | async" (slicesConfigChange)="model.setSlicesConfig($event)">
  </ccf-slices-input>
  <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-4"
                          tooltip="Enter the thickness and number of planned tissue slices."></ccf-toggleable-tooltip>

  <hr>

  <ccf-rotation-slider [rotation]="model.rotation$ | async" (rotationChange)="model.setRotation($event)">
  </ccf-rotation-slider>
  <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-9"
                          tooltip="Rotation tissue block in 3D as needed to register."></ccf-toggleable-tooltip>

  <hr>

  <mat-expansion-panel class="tags-container" expanded>
    <mat-expansion-panel-header class="header">
      <mat-panel-title>Anatomical Structure Tags</mat-panel-title>
    </mat-expansion-panel-header>

    <ccf-text-search class="search" [autoCompleter]="fakeAutocomplete">
      <mat-icon matSuffix class="icon add">add_box</mat-icon>
    </ccf-text-search>

    <ccf-tag-list class="tag-list" [tags]="astags.tags$ | async" (tagRemoved)="astags.removeByEntity($event)">
    </ccf-tag-list>

    <div class="legend">
      <span class="dot assigned"></span>
      <span class="text assigned">Assigned</span>
      <span class="dot added"></span>
      <span class="text added">Added</span>
    </div>
  </mat-expansion-panel>

  <hr>

  <div class="filler"></div>

  <ccf-review-button [metaData]="registration.metadata$ | async" (registerData)="registration.register()">
  </ccf-review-button>
  <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-2"
                          tooltip="Review registration and submit/download.">
  </ccf-toggleable-tooltip>
</div>
