@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-right-sidebar {
    background-color: mat.get-color-from-palette($background, sidebar-background);
    scrollbar-color: mat.get-color-from-palette($foreground, scrollbar-thumb) mat.get-color-from-palette($background, sidebar-background);

    &::-webkit-scrollbar-track {
      background-color: mat.get-color-from-palette($background, sidebar-background)
    }

    mat-divider {
      border-color: mat.get-color-from-palette($foreground, mat-divider);
    }

    .tags-container {
      .search .icon.add {
        color: mat.get-color-from-palette($foreground, contrast-icon);
      }

      .tag-list-placeholder {
        color: mat.get-color-from-palette($foreground, icons-disabled);
      }

      .legend {
        .dot.assigned {
          background-color: mat.get-color-from-palette($primary, text);
        }

        .dot.added {
          background-color: mat.get-color-from-palette($foreground, legend-contrast);
        }
      }
    }
  }
}
