:host {
  display: block;
  overflow-y: scroll;
  height: 100%;
  margin-right: 0.375rem;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 1.5rem;
    margin-right: 0.375rem;

    hr {
      width: 100%;
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;
      border-style: solid;
      border-width: 1.5px;
    }

    & > :first-child {
      margin-top: 1.5rem;
    }

    & > :last-child {
      margin-bottom: 1.5rem;
    }

    .filler {
      flex-grow: 1;
    }
  }
}
