<div class="scroll-wrapper">
  <div class="container">
    <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="0.25"
                            tooltip="Enter tissue block dimensions."></ccf-toggleable-tooltip>
    <ccf-block-size-input [blockSize]="model.blockSize$ | async" (blockSizeChange)="model.setBlockSize($event)">
    </ccf-block-size-input>

    <mat-divider></mat-divider>

    <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-0.5"
                            tooltip="Enter the thickness and number of planned tissue slices."></ccf-toggleable-tooltip>
    <ccf-slices-input [slicesConfig]="model.slicesConfig$ | async" (slicesConfigChange)="model.setSlicesConfig($event)">
    </ccf-slices-input>

    <mat-divider></mat-divider>

    <ccf-rotation-slider [rotation]="model.rotation$ | async" (rotationChange)="model.setRotation($event)">
    </ccf-rotation-slider>
    <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-9"
                            tooltip="Rotation tissue block in 3D as needed to register."></ccf-toggleable-tooltip>

    <mat-divider></mat-divider>

    <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="0.25"
                            tooltip="Review tags generated via collision detection. Add or delete tags as needed."></ccf-toggleable-tooltip>
    <mat-expansion-panel class="tags-container">
      <mat-expansion-panel-header class="header">
        <mat-panel-title>Anatomical Structure Tags</mat-panel-title>
      </mat-expansion-panel-header>

      <ccf-tag-search [search]="astags.searchExternal" (added)="astags.addTags($event)">
      </ccf-tag-search>

      <ccf-tag-list class="tag-list" [tags]="astags.tags$ | async" (tagRemoved)="astags.removeTag($event)">
      </ccf-tag-list>

      <div class="legend">
        <span class="dot assigned"></span>
        <span class="text assigned">Assigned</span>
        <span class="dot added"></span>
        <span class="text added">Added</span>
      </div>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <div class="filler"></div>

    <ccf-review-button
      [embeddedMode]="page.embedded$ | async"
      [displayErrors]="registration.displayErrors$ | async"
      [registrationIsValid]="registration.valid$ | async"
      [metaData]="registration.metadata$ | async"
      (registerData)="registration.register()"
      (enterErrorMode)="registration.setDisplayErrors(!registration.isValid)">
    </ccf-review-button>
    <ccf-toggleable-tooltip [visible]="page.tutorialMode$ | async" direction="left" [offset]="-2"
                            tooltip="Review registration and submit/download.">
    </ccf-toggleable-tooltip>
  </div>
</div>
