:host {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 0.375rem;

  hr {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-width: 1.5px;
  }

  & > :not(hr) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  & > :first-child {
    margin-top: 1.5rem;
  }

  & > :last-child {
    margin-bottom: 1.5rem;
  }

  .filler {
    flex-grow: 1;
  }
}
