@use '~@angular/material/theming' as *;

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

@mixin theme {
  @include angular-material-theme($theme)
}
