<div class="scheme-container" [class.selected-scheme]="selected" *ngIf="colorScheme.type === 'discrete'">
  <div class="discrete" *ngFor="color of colorScheme.colors; index as i"
    [class.selected-color]="selectedColorIndex === i" [style.background-color]="colorScheme.colors[i]"
    (click)="colorChanged(i)">
  </div>
</div>

<div class="scheme-container" [class.selected-scheme]="selected" [class.highlighted]="gradientHighlight()"
  *ngIf="colorScheme.type === 'gradient'">
  <div class="gradient" [style.background-image]="gradientStyle" (click)="colorChanged(0)"></div>
</div>