.carousel {
  display: flex;
  align-items: center;
  
  mat-icon {
    &.disabled {
      color: gray;
    }
  }

  .carousel-item-container {
    overflow: hidden;
    width: 15rem;
    
    .carousel-item-list {
      position: relative;
      left: 0px;
      display: flex;
      transition: all .5s ease-in-out;
  
      .carousel-item {
        display: flex;
        flex-direction: column;

        &.selected {
          color: blue;
        }
        
        .carousel-icon {
          text-align: center;
          width: 3rem;
        }

        .carousel-text {
          text-align: center;
        }
      }
    }
  }
}