.carousel {
  display: flex;
  align-items: center;
  height: 4.5rem;
  margin: 1.5rem;
  justify-content: space-between;
  border-radius: 3px;
  
  mat-icon {
    font-size: 32px;
    transform: scale(1, 1.2);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    
    &.disabled {
      cursor: default;
    }
  }

  .carousel-left-icon {
    text-align: right;
  }

  .carousel-right-icon {
    text-align: left;
  }

  .carousel-item-container {
    overflow: hidden;
    
    .carousel-item-list {
      position: relative;
      left: 0px;
      display: flex;
      transition: all .25s ease-in-out;
      width: 17.5rem;
  
      .carousel-item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        
        .carousel-icon {
          text-align: center;
          width: 3.5rem;
          height: 2.75rem;
        }

        .carousel-text {
          text-align: center;
          font-size: 10px;
        }
      }
    }
  }
}