<div class="ccf-about-icon-wrapper">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 24 24">
      <title>info-inactive-24px</title>
      <rect class="cls-1" width="24" height="24" />
      <circle class="cls-2" cx="12" cy="12" r="10" />
      <path class="cls-3" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" />
      <rect class="cls-3" x="11" y="10" width="2" height="8" />
      <circle class="cls-3" cx="12" cy="7.01" r="1" />
    </svg>
  </div>
</div>