@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .ccf-drawer {
    background-color: mat-color($background, dialog);
    border-right-color: mat-color($foreground, divider);
    border-left-color: mat-color($foreground, divider);
  }

  .ccf-drawer-toggle-button {
    color: mat-color($foreground, icon);
    background-color: mat-color($background, dialog);
    border-color: mat-color($foreground, divider);

    &:hover {
      background-color: mat-color($accent);
      color: white;
    }
  }
}
