.color-scheme-contents-container {
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: 10rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: -1.125rem;
  top: -1.125rem;

  &.bottom {
    top: auto;
    bottom: 0rem;
  }

  .scheme-contents {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .swatch {
      display: flex;
      width: 7rem;
      height: 1rem;
      margin-bottom: 0.5rem;

      :hover {
        cursor: pointer;
      }
    }

    .brightness-slider-label {
      margin-top: .5rem;
    }
  }

  ::ng-deep .slider {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    .ng5-slider-bar {
      opacity: .2;
      height: 0.15rem;
    }

    .ng5-slider-selection {
      opacity: 1;
    }

    .ng5-slider-pointer {
      $pointer-size: 1rem;

      width: $pointer-size;
      height: $pointer-size;
      top: -0.5rem;
      border-width: 0.1rem;
      border-style: solid;

      &:after {
        display: none;
      }
    }
  }
}
