<mat-toolbar class="ccf-header">
  <mat-icon class="logo" aria-hidden="false" aria-label="Reset tool" matTooltip="Human Body Molecular Atlas Project"
            matTooltipPosition="right" svgIcon="app:logo" (click)="logoClicked.emit()"></mat-icon>

  <div class="filler"></div>

  <div>Other stuff</div>
  <mat-icon class="download" aria-hidden="false" aria-label="Download content" (click)="downloadClicked.emit()">
    cloud_download</mat-icon>
  <mat-icon class="info" aria-hidden="false" aria-label="Page information" (click)="infoClicked.emit()">
    info_outline</mat-icon>
</mat-toolbar>
