@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);

  .ccf-header {
    border-bottom-color: mat-color($foreground, divider);

    .download {
      color: map-get($mat-amber, A400);
    }

    .info {
      color: mat-color($foreground, icon);
    }
  }
}
