@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-header {
    border-bottom-color: mat-color($foreground, divider);
    background-color: mat-color($background, header);
    color: mat-color($foreground, headers);

    .logo:hover {
      color: mat-color($accent);
    }

    .download {
      color: map-get($mat-amber, A400);

      &:hover {
        color: mat-color($accent);
      }
    }

    .info {
      color: mat-color($foreground, icon);

      &:hover {
        color: mat-color($accent);
      }
    }
  }
}
