@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-header {
    border-bottom-color: mat-color($foreground, header-border);
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, headers);

    .logo {
      color: mat-color($foreground, logo);
    }

    .logo:hover {
      color: mat-color($accent);
    }

    .download {
      color: mat-color($foreground, download-icon);
      text-decoration: none;
      
      &:hover {
        color: mat-color($accent);
      }
    }

    .info {
      color: mat-color($foreground, icon);

      &:hover {
        color: mat-color($accent);
      }
    }
  }
}
