.ccf-header {
  height: 3rem;
  padding: 0 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  :not(:last-child) {
    margin-right: 1.5rem;
  }

  .filler {
    flex-grow: 1;
    margin: 0;
  }

  .download, .info {
    cursor: pointer;
  }
}
