<div class="ccf-dropdown wrapper">
  <mat-form-field class="dropdown-form-field" subscriptSizing="dynamic">
    <div class="label">
      {{ label }}
    </div>
    <mat-select class="selected-value" [value]="selection" (selectionChange)="selectionChanged($event.value)"
                disableOptionCentering=true panelClass="option-panel" (openedChange)="toggleOptions()"
                disableRipple=true hideSingleSelectionIndicator="true">
      <mat-option *ngFor="let option of options" [value]="option">
        <div class="{{optionsVisible}}">
          {{ option }}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
