.mat-form-field {
  width: 33%;
  background-color: #424242;
  font-size: 12px;
}

.mat-option {
  background-color: gray;
  border: 1px solid black;
  font-size: 14px;
}

.mat-option:hover {
  background: red;
}

.mat-select-value {
  color: blue;
}

.mat-option.mat-selected.mat-active {
  background: #1e88e5;
  color: white;
}