.container {
  right: 0px;
}

.scheme-options {
  ::ng-deep .mat-option-text {
    display: flex !important;
    justify-content: center;

    .scheme-radio-button {
      .swatch {
        background-color: black;
        display: flex;
        width: 7rem;
        height: 1rem;
    
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}