<div class="container">
  <mat-form-field class="scheme">
    <mat-label>
      <ccf-color-bar class="swatch" [colorScheme]="colorScheme"></ccf-color-bar>
    </mat-label>
    <mat-select disableRipple panelClass="scheme-option-panel" disableOptionCentering="true">
      <mat-option *ngFor="let scheme of schemeOptions; index as i" class="scheme-options" [value]="i"
        (click)="schemeChanged(i)">
        <mat-radio-button class="scheme-radio-button" [checked]="i === schemeIdx">
          <ccf-color-bar class="swatch" [colorScheme]="schemeOptions[i]"></ccf-color-bar>
        </mat-radio-button>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
