<div class="container">
  <mat-form-field class="scheme">
    <mat-label>
      <ccf-color-bar class="swatch" [colorScheme]="colorScheme"></ccf-color-bar>
    </mat-label>
    <mat-select disableRipple panelClass="scheme-option-panel">
      <mat-option *ngFor="scheme of schemeOptions; index as i" class="scheme-options" [value]="i" (click)="schemeChanged(i)">
        <mat-radio-button class="scheme-radio-button" [checked]="i === schemeIdx">
          <ccf-color-bar class="swatch" [colorScheme]="schemeOptions[i]"></ccf-color-bar>
        </mat-radio-button>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- <div class="container">
  <mat-form-field class="scheme">
    <mat-label>
      <ccf-color-bar class="swatch" [(colorScheme)]="colorScheme"></ccf-color-bar>
    </mat-label>
    <mat-select disableRipple panelClass="scheme-option-panel">
      <mat-option>
        <mat-radio-group  [value]="colorScheme.name">
          <mat-radio-button *ngFor="scheme of schemeOptions; index as i" class="scheme-radio-button" (MatRadioChange)="schemeChanged(i)" [value]="schemeOptions[i].name">
            <ccf-color-bar class="swatch" [colorScheme]="schemeOptions[i]"></ccf-color-bar>
          </mat-radio-button>
        </mat-radio-group>
      </mat-option>
    </mat-select>
  </mat-form-field>

      <ccf-color-bar class="swatch" [colorScheme]="colorScheme"></ccf-color-bar>
    <mat-radio-group [value]="colorScheme.name">
      <mat-radio-button *ngFor="scheme of schemeOptions; index as i" class="scheme-radio-button" (MatRadioChange)="schemeChanged(i)" [value]="schemeOptions[i].name">
        <ccf-color-bar class="swatch" [colorScheme]="schemeOptions[i]"></ccf-color-bar>
      </mat-radio-button>
    </mat-radio-group>

</div> -->