:host {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 4rem);
  top: 4rem;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.4s ease-in-out;

  mat-spinner {
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
  }

  &.active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;

    mat-spinner {
      opacity: 1;
    }
  }
}
