@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);

  .ccf-spinner-overlay {
    .content {
      color: mat-color($foreground, text);
    }
  }
}
