@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-video-modal {
    .video-modal.wrapper {
      .container {
        .content {
          background-color: mat.get-color-from-palette($background, background);
        }
        .close-icon {
          color: mat.get-color-from-palette($foreground, contrast-icon);

          &:hover {
            color: mat.get-color-from-palette($accent);
          }
        }
      }
    }
  }
}
