<div class="tissues-browser-grid wrapper">
  <div class="container">
    <popover-content class="popover-container" [attr.data-num-columns]="numColumns" placement="right"
                     [closeOnMouseOutside]="true" #popover>
      <ccf-tissues-browser-grid-popover-content [item]="activePopoverItem">
      </ccf-tissues-browser-grid-popover-content>
    </popover-content>

    <div class="grid">
      <ccf-tissues-browser-grid-item *ngFor="let item of items" class="item" [attr.data-num-columns]="numColumns"
                                     [popover]="popover" popoverSize="auto" [popoverCloseOnMouseOutside]="true"
                                     [item]="item" (onShown)="setActivePopoverItem(item)"
                                     (onHidden)="clearActivePopoverItem()">
      </ccf-tissues-browser-grid-item>
    </div>
  </div>
</div>
