:host {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .hamburger {
    display: none;
  }

  .view-slider {
    margin-left: -1rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
  }

  .input-group {
    margin-right: 1.5rem;

    .nav-input {
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 500px) {
  :host {
    .hamburger {
      color: white;
      display: unset;
    }

    .hidden {
      display: none;
    }
  }
}
