@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  .view-slider {
    .mat-slide-toggle-bar {
      background-color: mat-color($foreground, toggle-bar);
    }
    .mat-slide-toggle-thumb {
      background-color: mat-color($foreground, toggle-thumb);
    }
  }

  .highlighted {
    color: mat-color($foreground, active-icon);
  }
}