:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .dropdown-label {
    display: none;
  }

  hr {
    display: none;
  }

  .view-slider {
    margin-left: -1rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
  }

  .input-group {
    margin-right: 1.5rem;

    .nav-input {
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 500px) {
  :host {
    .dropdown-label {
      display: unset;
      color: white;
    }
    
    .stage-nav {
      display: flex;
      flex-direction: column;

      &.hidden {
        display: none;
      }
      
      .input-group {
        margin-right: 0;
      }
    }


    hr {
      display: unset;
      width: 100%;
      margin: 0;
      border-style: solid;
      border-width: 1.5px;
    }

    .stage-nav {
      background-color: white;
      width: 240px;
    }
  }
}
