@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-stage-nav {
    .input-group {
      .nav-input:hover {
        color: mat-color($accent);
      }
    }

    mat-radio-button {
      color: mat-color($foreground, contrast-text);

      &.mat-radio-checked {
        color: mat-color($accent);
      }
    }

    .slide-label {
      color: mat-color($foreground, contrast-text);

      &.highlighted {
        color: mat-color($accent);
      }
    }

    .dropdown-label {
      &.dropdown {
        color: mat-color($foreground, contrast-text);
      }
    }

    .dropdown-label:hover {
      color: mat-color($accent);
    }
  
    .stage-options {
      &.dropdowncontainer {
        background-color: white;
  
        mat-divider {
          color: mat-color($foreground, icon);
        }
      }
    }
  }
}
