:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .dropdown-label {
    display: none;
    align-items: center;

    mat-label, mat-icon {
      line-height: 1.5rem;
    }

    &.dropdown {
      display: flex;
      cursor: pointer;
      align-items: start;
    }
  }

  .stage-options {
    .input-group {
      margin-right: 1.5rem;
      
      .nav-input {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .view-slider {
      margin-left: -1rem;
      margin-bottom: 1.5rem;
      white-space: nowrap;
    }

    &.dropdowncontainer {
      display: flex;
      flex-direction: column;
      border-radius: 0.25rem;
      width: 16.5rem;
      position: absolute;
      top: 2rem;
      z-index: 1;
      transition: opacity 0.25s;
  
      :first-child {
        margin-top: 0.5rem;
      }
  
      :last-child {
        margin-bottom: 0.5rem;
      }

      .input-group {
        margin-left: 1.5rem;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        
        .nav-input {
          display: flex;
          margin: 0;
          margin-right: 1.5rem;
          height: 2.5rem;
        }
      }

      .view-slider {
        display: flex;
        align-items: center;
        height: 3rem;
        margin: 0 0.5rem;
      }

      mat-divider {
        visibility: visible;
        border-top: 2px solid;
      }
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.25s, opacity 0.25s;

      mat-divider {
        visibility: hidden;
      }
    }
  }
}

