@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-stage-nav {
    .input-group {
      .nav-input:hover {
        color: mat.get-color-from-palette($accent);
      }
    }

    mat-radio-button {
      color: mat.get-color-from-palette($foreground, contrast-text);

      .mat-radio-outer-circle {
        border-color: white;
      }

      &.mat-radio-checked {
        border-color: mat.get-color-from-palette($accent);
        color: mat.get-color-from-palette($accent);
      }
    }

    .slide-label {
      color: mat.get-color-from-palette($foreground, contrast-text);

      &.highlighted {
        color: mat.get-color-from-palette($accent);
      }
    }

    .dropdown-label {
      &.dropdown {
        color: mat.get-color-from-palette($foreground, contrast-text);
      }
    }

    .dropdown-label:hover {
      color: mat.get-color-from-palette($accent);
    }

    .stage-options {
      &.dropdowncontainer {
        background-color: white;

        mat-radio-button, .slide-label {
          color: mat.get-color-from-palette($foreground, text);
        }

        .mat-radio-outer-circle {
          border-color: mat.get-color-from-palette($foreground, text);
        }

        .mat-radio-checked {
          color: mat.get-color-from-palette($accent);

          .mat-radio-outer-circle {
            border-color: mat.get-color-from-palette($accent);
          }
        }

        mat-divider {
          color: mat.get-color-from-palette($foreground, icon);
        }
      }
    }

    .mat-slide-toggle-bar {
      background-color: mat.get-color-from-palette($accent, 900) !important;
    }
    .mat-slide-toggle-thumb {
      background-color: mat.get-color-from-palette($accent) !important;
    }
    
    .highlighted {
      color: mat.get-color-from-palette($accent) !important;
    }
  }
}
