:host {
  display: flex;
  align-items: center;

  .input-group .nav-input {
    margin-right: 1.5rem;
  }

  .slider-container .view-slider {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
