:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .dropdown-label {
    display: none;
    align-items: center;

    mat-label,
    mat-icon {
      line-height: 1.5rem;
    }

    &.dropdown {
      display: flex;
      cursor: pointer;
      align-items: start;
    }
  }

  .stage-options {
    display: flex;
    align-items: center;

    .input-group {
      .nav-input {
        margin-right: 1rem;
        margin-bottom: 1.5rem;
      }

      mat-radio-button {
        ::ng-deep .mdc-label {
          font-size: 1.25rem;
        }
      }
    }

    .view-slider {
      white-space: nowrap;
      display: flex;

      ::ng-deep .slider {
        display: flex;
      }

      ::ng-deep .slide-label {
        font-size: 1.25rem;
      }
    }

    &.dropdowncontainer {
      display: flex;
      flex-direction: column;
      border-radius: 0.25rem;
      position: absolute;
      top: 3.5rem;
      z-index: 11;
      transition: opacity 0.25s;

      :first-child {
        margin-top: 0.5rem;
      }

      :last-child {
        margin-bottom: 0.5rem;
      }

      .input-group {
        margin-left: .875rem;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;

        .nav-input {
          display: flex;
          margin: 0;
          margin-right: 0.875rem;
          height: 2.5rem;

          ::ng-deep .mdc-label {
            padding-left: 0;
          }
        }
      }

      .view-slider {
        display: flex;
        align-items: center;
        height: 3rem;
        margin: 0 0.5rem;
      }

      mat-divider {
        visibility: visible;
        border-top: 2px solid;
      }
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.25s, opacity 0.25s;

      mat-divider {
        visibility: hidden;
      }
    }
  }
}
