@use '~@angular/material/theming' as ng;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/light';
@use 'themes/dark';

@include ng.mat-core(typography.$config);

.light-theme {
  @include theming.ccf-theme(light.$theme);
}

.dark-theme {
  @include theming.ccf-theme(dark.$theme);

  ::-webkit-scrollbar {
    background: #757575;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: white;
}

a:any-link {
  color: white;
}

mat-icon {
  user-select: none;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.modal-backdrop-dark {
  background: rgba(0, 0, 0, 0.9);
}