@use '@angular/material' as mat;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/_default_light';
@use 'themes/_default_dark';
@use 'themes/hubmap_light';
@use 'themes/hubmap_dark';
@use 'themes/sennet_light';
@use 'themes/sennet_dark';
@use 'themes/gtex_light';
@use 'themes/gtex_dark';

@include mat.legacy-core();
@include mat.all-component-typographies(typography.$config);

.default-theme-light {
  @include theming.ccf-theme(default_light.$theme);
}

.default-theme-dark {
  @include theming.ccf-theme(default_dark.$theme);
}

.default-theme-light, .default-theme-dark {
  .portal {
    width: 19rem !important;
  }

  .logo {
    background-image: url('./assets/icons/default-logo.svg');
    background-size: cover !important;
  }
}

.hubmap-theme-light {
  @include theming.ccf-theme(hubmap_light.$theme);
}

.hubmap-theme-dark {
  @include theming.ccf-theme(hubmap_dark.$theme);
}

.hubmap-theme-light, .hubmap-theme-dark {
  .logo {
    background-image: url('./assets/icons/logo-rui.svg')
  }
}

.sennet-theme-light {
  @include theming.ccf-theme(sennet_light.$theme);
}

.sennet-theme-dark {
  @include theming.ccf-theme(sennet_dark.$theme);
}

.sennet-theme-light, .sennet-theme-dark {
  .portal {
    width: 15rem !important;
  }

  .logo {
    background-image: url('./assets/icons/sennet-logo.svg');
    height: 100% !important;
  }
}

.gtex-theme-light {
  @include theming.ccf-theme(gtex_light.$theme);
}

.gtex-theme-dark {
  @include theming.ccf-theme(gtex_dark.$theme);
}

.gtex-theme-light, .gtex-theme-dark {
  .portal {
    width: 11rem !important;
  }

  .logo {
    height: 100%;
    background-image: url('./assets/icons/gtex-logo.png')
  }

  .ccf-header {
    border-bottom-width: 20px;
    box-shadow: none;
  }
}

.default-theme-dark, .sennet-theme-dark, .hubmap-theme-dark, .gtex-theme-dark  {
  ::-webkit-scrollbar {
    background: #757575;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: white;
}

mat-icon {
  user-select: none;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Global Angular Material Modal Style Overrides */
@keyframes fadeOut {
  100% {
    transform: scale(0.75);
    opacity: 0;
  }
}

.modal-backdrop-dark {
  background: rgba(0, 0, 0, 0.9);
}

.modal-animate-fade-out {
  animation: fadeOut 0.25s forwards;
}

// Workaround for https://github.com/angular/components/issues/16503 and related bugs
.ng-animating mat-expansion-panel mat-expansion-panel-header {
  height: 3rem;
}

.ng-animating mat-expansion-panel div.mat-expansion-panel-content {
  height: 0rem;
  visibility: hidden;
}

.light-theme .mat-tooltip {
  background: rgba(97, 97, 97);
}

.dark-theme .mat-tooltip {
  background: rgba(97, 97, 97);
}

.cdk-global-overlay-wrapper {
  z-index: 1001;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Inter,sans-serif;
  letter-spacing: normal
}

.mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0.84375em solid transparent;
}

.mat-button,.mat-fab,.mat-flat-button,.mat-icon-button,.mat-mini-fab,.mat-raised-button,.mat-stroked-button {
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 500
}

.mat-tooltip {
  font-family: Inter,sans-serif;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px
}

.mat-form-field-wrapper {
  padding-bottom: 1.34375em;
}

input.mat-input-element {
  margin-top: -.0625em
}

.mat-form-field-label-wrapper {
  top: -.84375em;
  padding-top: .84375em;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-1.28125em) scale(.75);
  width: 133.3333333333%
}

.mat-form-field-label {
  top: 1.34375em;
}

.mat-form-field-underline {
  bottom: 1.25em
}

.mat-form-field-subscript-wrapper {
  margin-top: .5416666667em;
  top: calc(100% - 1.6666666667em)
}

.mat-form-field-flex {
  padding-top: 0.75em;
}

.mat-chip {
  font-size: 14px;
  font-weight: 500;
}

.mat-slider-thumb-label-text {
  font-size: 12px;
  font-weight: 500;
}

.mat-dialog-title {
  font: 500 20px/32px Inter,sans-serif;
  letter-spacing: normal;
}
