@use '~@angular/material/theming' as ng;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/light';
@use 'themes/dark';

@include ng.mat-core(typography.$config);

.light-theme {
  @include theming.ccf-theme(light.$theme);
}

.dark-theme {
  @include theming.ccf-theme(dark.$theme);
  ::-webkit-scrollbar {
    background: #757575;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: white;
}

mat-icon {
  user-select: none;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} 
