@use '~@angular/material/theming' as ng;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/light';
@use 'themes/dark';

@include ng.mat-core(typography.$config);

.light-theme {
  @include theming.ccf-theme(light.$theme);
}

.dark-theme {
  @include theming.ccf-theme(dark.$theme);

  ::-webkit-scrollbar {
    background: #757575;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: white;
}

a:any-link {
  color: white;
}

mat-icon {
  user-select: none;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Global Angular Material Modal Style Overrides */
@keyframes fadeOut {
  100% {
    transform: scale(0.75);
    opacity: 0;
  }
}

.modal-backdrop-dark {
  background: rgba(0, 0, 0, 0.9);
}

.modal-animate-fade-out {
  animation: fadeOut 0.25s forwards;
}

// Workaround for https://github.com/angular/components/issues/16503 and related bugs
.ng-animating mat-expansion-panel mat-expansion-panel-header {
  height: 3rem;
}

.ng-animating mat-expansion-panel div.mat-expansion-panel-content {
  height: 0rem;
  visibility: hidden;
}
