<div class="wrapper">
  <div class="toolbar">
    <div class="loading">
      <span *ngIf="loading">Loading...</span>
    </div>
   <div class="right">
    <div class="launch">
      <mat-icon class="icon" (click)="openLink()">launch</mat-icon> Open in Portal
     </div>
      <mat-icon class="icon close" (click)="closeViewer.emit();">clear</mat-icon>
   </div>
  </div>
  <iframe style="height: 100%; width: 100%;" #iframe id="iframe" (onload)="onLoad()" title="Portal Data Viewer"></iframe>
</div>