<div class="toolbar">
  <a mat-flat-button class="launch" target="_blank" rel="noopener noreferrer" [href]="safeUrl"
     [disabled]="!safeUrl">
    <mat-icon class="icon">launch</mat-icon>
    <span class="text">Open in Portal</span>
  </a>
  <button mat-flat-button class="close" (click)="closed.emit()">
    <mat-icon class="icon">clear</mat-icon>
  </button>
</div>

<div class="overlay" *ngIf="loading">
  <mat-spinner class="spinner"></mat-spinner>
  <span class="text">Loading External Site</span>
</div>

<iframe *ngIf="safeUrl" class="frame" title="Portal Data Viewer" referrerpolicy="no-referrer" [attr.src]="safeUrl"
        (load)="loading = false">
</iframe>
