@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .viewer-wrapper {
    background-color: mat-color($background, background);
    box-shadow: -0.25rem 0rem 0.6rem 0.1rem map-get($foreground, header-shadow);

    .toolbar {
      box-shadow: -0.25rem 0rem 0.2rem 0.1rem map-get($foreground, header-shadow);
    }

    .overlay {
      background-color: mat-color($background, background);
    }
  }
}
