@use '~@angular/material/theming' as *;
@use 'common/utility';


$primary-colors: utility.add-colors($mat-gray, (
  "white": white,
  "black": black,
  light-header: #444A65,
  light-disabled: #E0E0E0,

  contrast: (
    "white": black,
    "black": white,
    light-header: $dark-primary-text,
    light-disabled: $dark-primary-text,
  ),

));

$primary: mat-palette($primary-colors, $text: 900);
$accent: mat-palette($mat-blue, 700);
$warn: mat-palette($mat-red);

$foreground: map-merge($mat-light-theme-foreground, (
  active-icon: map-get($mat-blue, 700),
  contrast-icon: map-get($primary-colors, 500), // #9E9E9E (icons on light background)
  contrast-text: map-get($primary-colors, 500), // #9E9E9E (text on dark background)
  disabled: map-get($primary-colors, light-disabled), // #E0E0E0
  divider: map-get($primary-colors, 600), // #757575
  header-border: map-get($primary-colors, 800), // #424242
  icon: map-get($primary-colors, 500), // #9E9E9E
  info-icon: map-get($primary-colors, 'white'),
  input-label: map-get($primary-colors, 600), // #757575
  logo: map-get($primary-colors, 'white'),
  placeholder-text: map-get($primary-colors, 600), // #757575
  secondary-text: map-get($primary, 500), // #9E9E9E
  sidebar-dividers: map-get($primary-colors, 'white'),
  slider-blue: map-get($mat-blue, A400), // #2979FF
  slider-green: map-get($mat-green, A700), // #00C853
  slider-red: map-get($mat-red, A700), // #D50000
  slider-blue-light: map-get($mat-blue, A100),
  slider-green-light: map-get($mat-green, A200),
  slider-red-light: map-get($mat-red, A100),
  text: map-get($primary-colors, 900), // #212121

  modal-borders: map-get($primary-colors, 'black'),
  borders: map-get($primary-colors, 300), // #E0E0E0
  button-text: map-get($accent, 700),
  button-border: map-get($primary-colors, 'black'),
  headers: map-get($primary-colors, 300), // #E0E0E0
  search-result-text: map-get($primary-colors, 600), // #757575
  download-icon: map-get($primary-colors, 600), // #757575
  highlight: map-get($primary-colors, 'black'),
));

$background: map-merge($mat-light-theme-background, (
  app-bar: map-get($primary-colors, light-header), // #444A65
  modal: map-get($primary-colors, 100), // #F5F5F5
  sidebar-background: map-get($primary-colors, 100), // #F5F5F5
  stage-background: map-get($primary-colors, 'black'),

  background: map-get($primary-colors, 50),
  hover-background: map-get($primary-colors, 300), // #E0E0E0
  dialog: map-get($primary-colors, 50), // #FAFAFA
  authentication: map-get($primary-colors, 50), // #FAFAFA
  dropdown-menu: map-get($primary-colors, 300), // #E0E0E0
  dropdown-hover: map-get($primary-colors, 300), // #E0E0E0
  image-placeholder: map-get($primary-colors, light-disabled), // #BDBDBD
));

$theme: (
  is-dark: false,
  primary: $primary,
  accent: $accent,
  warn: $warn,
  foreground: $foreground,
  background: $background
);
