:host {    
  .tissue-block-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      font-size: .875rem;
    }

    .info {
      padding: 0;
      background: none;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      transition: 0.6s;
    }
  }

  .tissue-list {
    overflow: auto;
  }

  .donor {
    min-height: 3rem;
    padding-left: 0.5rem;
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    flex-grow: 1;
    height: 2.5rem;
    width: 22rem;
    padding: 0.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: .5rem;

    .icon {
      margin-right: 0.5rem;
    }

    .donor-info {
      .title {
        font-weight: 600;
      }

      .description {
        width: 17rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}