:host {
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 !important;
  margin-top: 1rem !important;
  border-radius: 3px;

  &.disabled {
    opacity: 30%;
    cursor: not-allowed !important;
    .slider-box {
      pointer-events: none;
    }
  }

  .slider-box {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .label {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }

  .slider {
    width: 40%;
    height: 3px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 15x;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider::-moz-range-track {
    opacity: 0.5;
  }

  .opacity-value {
    width: 1.5rem;
    margin-left: 0.5rem;
    &.hidden {
      display: none;
    }
  }

  .reset {
    margin-left: auto;
    margin-right: 1rem;
    transform: scaleX(-1);
    cursor: pointer;
  }
}