:host {
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 !important;
  margin-top: 1rem !important;
  border-radius: 0.1875rem;

  &.disabled {
    opacity: 30%;
    cursor: not-allowed !important;
    .slider-box {
      pointer-events: none;
    }
  }

  .slider-box {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .label {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }

  ::ng-deep .slider {
    width: 40%;

    .mat-slider-track-wrapper, .mat-slider-track-fill {
      height: .2rem;
    }
    .mat-slider-track-fill {
      opacity: 0.5;
    }

    .mat-slider-thumb {
      transform: none !important;
    }
  }

  .opacity-value {
    width: 1.5rem;
    margin-left: 0.5rem;
  }

  .reset {
    margin-left: auto;
    margin-right: 1rem;
    transform: scaleX(-1);
    cursor: pointer;
  }
}