:host {
  height: 2.25rem;
  display: flex;
  align-items: center;
  margin: 0 !important;
  border-radius: 3px;

  &.disabled {
    opacity: 30%;

    pointer-events: none;
  }

  .opacity-value {
    &.hidden {
      display: none;
    }
  }

  .reset {
    transform: scaleX(-1);
    cursor: pointer;
  }
}