<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="layers.length !== 0; else noLayers">
    <ccf-scheme-dropdown (schemeChange)="schemeChange.emit($event)">
    </ccf-scheme-dropdown>

    <div class="layers-container">
      <div class="layer" *ngFor="let layer of layers; trackBy: trackById">
        <mat-checkbox [checked]="layer.selected" (change)="checkboxOnChange(layer)">
          {{ layer.label }}
        </mat-checkbox>
        <ccf-color-picker-launcher [class.hidden]="!layer.selected" [layer]="layer"
                                   (layerChange)="layerChanged($event)">
        </ccf-color-picker-launcher>
      </div>
    </div>
  </ng-container>
  <ng-template #noLayers>
    <div class="no-layers-text">
      RGB Images are not customizable.
    </div>
  </ng-template>
</ng-container>
