:host {
  display: flex;
  flex-direction: column;

  input[type=number] {
    -moz-appearance: textfield;
  }

  .header {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: .5rem 0;

    .title {
      font-weight: 400;
    }

    .refresh {
      transform: scaleX(-1);
      cursor: pointer;
      transition: .6s;

      &:hover {
        border-radius: 2px;
      }
    }
  }

  .size-inputs {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 0 auto;

    .field {
      width: 4.5rem;

      &:not(:last-child) {
        padding-right: 0.75rem;
      }

      .input {
        text-align: center;
      }

      .suffix {
        display: none;
      }

      ::ng-deep .mdc-text-field {
        padding: 0;

        .mat-mdc-form-field-infix {
          padding-bottom: 0;
          min-height: inherit;
        }

        .mat-mdc-form-field-icon-suffix {
          padding: 1rem 0 0px .25rem;
        }
      }
    }
  }

  .filler {
    flex-grow: 1;
  }
}
