.image-viewer-container {
  position: fixed;
  top: 4rem;
  overflow: hidden;
  z-index: 10;
  flex-grow: 1;
  height: calc(100% - 1.5rem);
  width: 100%;
  left: 100%;
  transition-property: left;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;

  &.expanded {
    left: 0%;
  }

  .image-viewer-window {
    margin-top: 1.5rem;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;

    .viewer-image {
      position: relative;
      padding: 1rem 0rem;
      right: 1rem;
      height: calc(100% - 8rem);
      display: flex;
      flex-direction: column;

      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }
  }

  .image-viewer-drawer {
    width: 25.5rem;
  }
}