.image-viewer-container {
  position: fixed;
  top: 4rem;
  overflow: hidden;
  z-index: 10;
  flex-grow: 1;
  height: calc(100% - 1.5rem);
  width: 100%;
  left: 100%;
  transition-property: left;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;

  &.expanded {
    left: 0%;
  }

  .image-viewer-window {
    display: flex;
    flex-direction: column;

    .viewer-image {
      padding-top: 1.5rem;
      height: calc(100% - 9rem);

      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }

    .scale-bar {
      height: 1.5rem;
      width: 100%;
    }

    .legend {
      height: 3rem;
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .image-viewer-drawer {
    width: 27rem;
    margin: 0 1.5rem;
  }
}