@keyframes slideInViewer {
  from { left: 100%; }
  to   { left: 0%; }
}

@keyframes slideOutViewer {
  from { left: 0%; }
  to   { left: 100%; }
}

.image-viewer-container {
  overflow: hidden;
  left: 100%;
  top: 3rem;
  z-index: 10;
  flex-grow: 1;
  background-color: black;
  position: fixed;
  height: calc(100% - 1.5rem);
  width: 100%;

  &.firstload {
    display: none;
  }

  &.expanded {
    left: 0%;
    animation: slideInViewer .5s;
    animation-timing-function: ease-in-out;
  }

  &.hidden {
    left: 100%;
    animation: slideOutViewer .5s;
    animation-timing-function: ease-in-out;
  }

  .image-viewer-window {
    display: flex;
    flex-direction: column;

    .viewer-image {
      padding-top: 1.5rem;
      height: calc(100% - 9rem);

      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }

    .scale-bar {
      height: 1.5rem;
      width: 100%;
    }

    .legend {
      height: 3rem;
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .image-viewer-drawer {
    width: 27rem;
    margin: 0 1.5rem;

    .drawer-icons {
      display: flex;
      
      .button {
        width: 3rem;
        height: 3rem;
        color: #9e9e9e;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        :hover {
          color: #1e88e5;
        }

        mat-icon {
          font-size: 2.2rem;
        }
      }
    }
  }
}