<ccf-drawer-container class="image-viewer-container" [class.expanded]="viewerVisible">
  <ccf-drawer-content class="image-viewer-window">
    <ccf-viewer class="viewer" [sources]="sourceUrls" [layers]="state.layers$ | async"
                (channelsChange)="state.createLayers($event)">
    </ccf-viewer>
    <div class="legend">
      <ccf-image-viewer-legend [layers]="state.activeLayers$ | async"></ccf-image-viewer-legend>
    </div>
  </ccf-drawer-content>
  <ccf-drawer class="image-viewer-drawer" position="end" opened>
    <ccf-image-viewer-content [layers]="state.layers$ | async" [data]="data"
                              (layerChange)="state.updateLayer($event.id, $event)"
                              (schemeChange)="state.setDefaultScheme($event)" (closeViewer)="close()">
    </ccf-image-viewer-content>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>
</ccf-drawer-container>
