.image-viewer-container {
  position: fixed;
  top: 3rem;
  overflow: hidden;
  z-index: 10;
  flex-grow: 1;
  background-color: black;
  height: calc(100% - 1.5rem);
  width: 100%;
  left: 100%;
  transition-property: left;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;

  &.expanded {
    left: 0%;
  }

  .image-viewer-window {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .viewer {
      width: 100%;
      height: calc(100% - 5rem);
      margin-left: 1.5rem;
    }

    .legend {
      width: 100%;
      height: 3.5rem;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  .image-viewer-drawer {
    width: 27rem;
    margin: 0 1.5rem;

    .drawer-icons {
      display: flex;

      .button {
        width: 3rem;
        height: 3rem;
        color: #9e9e9e;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        :hover {
          color: #1e88e5;
        }

        mat-icon {
          font-size: 2.2rem;
        }
      }
    }
  }
}
