@use '~@angular/material/theming'as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .result-item {
    border-top-color: mat-color($foreground, divider) !important;

    .result-image-placeholder {
      background-color: mat-color($foreground, disabled);
    }

    .download {
      color: mat-color($foreground, download-icon);

      &:hover {
        color: mat-color($accent);
      }
    }

    .no-download {
      color: mat-color($foreground, disabled);
    }
  }
}
