@use '~@angular/material/theming' as *;

.result-item {
    border-top: 1px solid;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    height: 4.5rem;

    .result-image {
        width: 6rem;
        height: auto;
    }

    .result-image-placeholder {
        width: 5rem;
    }

    .result-description {
        width: 14rem;
        font-size: .6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.4;

        .description-label {
            font-weight: bold !important;
        }

        .description-data {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: lighter;
        }
    }

    .result-download {
        width: 1.5rem;
    }
}