:host {
  position: absolute;
  top: calc(50% - 2.0625rem);
  right: -1.0625rem;
  width: 1.0625rem;
  height: 3rem;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.6s;

  &.ccf-drawer-toggle-button-end {
    right: unset;
    left: calc(-1rem - 1px);
    border-radius: 0.25rem 0rem 0rem 0.25rem;
  }

  .expand-collapse-icon {
    position: relative;
    right: 0.25rem;
    transition: all 0.5s;
  }

  &.ccf-drawer-toggle-button-end .expand-collapse-icon {
    right: unset;
    left: -0.25rem;
  }
}

