.ccf-ontology-search.wrapper {
  width: 100%;

  .field {
    width: 100%;
  }

  .help-icon {
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      border-radius: 0 500px 500px 0;
    }

    .mat-form-field-outline-start {
      border-radius: 500px 0 0 500px;
      min-width: 40px;
    }

    .mat-form-field-outline {
      top: 0.7em;
    }
  }
  
}
