.ccf-leftbar.wrapper {
  .container {
    height: calc(100vh - 3.1875rem);
    width: 4.25rem;
    background: #fafafa;
    border: 0.0625rem solid #e0e0e0;
    border-top: none;
    border-left: none;
    display: flex;
    flex-direction: column;

    .search {
      width: 36px;
      height: 36px;
      padding: 1rem;
      cursor: pointer;

      &.expanded {
        background: #20558a;
      }
    }

    .breadcrumb {
      margin-top: 1rem;

      .item {
        margin-bottom: 1rem;
        cursor: pointer;

        ::ng-deep .mat-list-item-content {
          display: block;
        }

        .icon {
          margin: auto;
        }

        .label {
          font-size: 0.625rem;
          text-align: center;
        }
      }
    }

    .feedback-icon {
      margin-top: 62vh;

      .label {
        font-size: 0.625rem;
        text-align: center;
      }
    }
  }
}
