.ccf-leftbar-wrapper {
    .container {
        .leftbar {
            height: calc(100vh - 3.1875rem);
            width: 3.125rem;
            background: #fafafa;
            border: 0.0625rem solid #e0e0e0;
        }
    }
}