.ccf-leftbar-wrapper {
    .container {
        .leftbar {
            height: calc(100vh - 3.1875rem);
            width: 4.25rem;
            background: #fafafa;
            border: 0.0625rem solid #e0e0e0;
            border-top: none;
            border-left: none;
            display: flex;
            flex-direction: column;
            .breadcrumb {
                 margin-top: 1rem;
                .breadcrumb-item {
                    .breadcrumb-item-icon {
                        margin: auto;
                    }
                }
            }
            .search {
                padding: 0.5rem 0 0.5rem 0;
                cursor: pointer;
            }
            .search-expanded {
                background: #20558a;
            }
            .feedback-icon {
                margin-top: 65vh;
            }
        }
    }
}