<div class="ccf-leftbar wrapper">
  <div class="container">
    <div class="item search" [class.active]="sidenavExpanded" (click)="emitToggleEvent()">
      <mat-icon class="icon font-icon">search</mat-icon>
    </div>

    <div class="item home" [routerLink]="navigator.homePath | async" routerLinkActive="active">
      <mat-icon class="icon font-icon">home</mat-icon>
      <div class="label"> HOME </div>
    </div>

    <div class="item body" [routerLink]="navigator.bodyPath | async" routerLinkActive="active">
      <mat-icon class="icon svg-icon" svgIcon="toolbar:body"></mat-icon>
      <div class="label"> BODY </div>
    </div>

    <div *ngIf="navigator.organPath | async as organPath" class="item organ" [routerLink]="organPath"
         routerLinkActive="active">
      <!-- FIXME: Correct the icon -->
      <mat-icon class="icon svg-icon" svgIcon="toolbar:body"></mat-icon>
      <div class="label"> ORGAN </div>
    </div>

    <div class="item tissues-browser" [routerLink]="navigator.tissuesBrowserPath | async" routerLinkActive="active">
      <mat-icon class="icon font-icon">view_comfy</mat-icon>
      <div class="label"> TISSUE </div>
    </div>

    <div *ngIf="navigator.tissuePath | async as tissuePath" class="item organ" [routerLink]="tissuePath"
         routerLinkActive="active">
      <!-- FIXME: Correct the icon -->
      <mat-icon class="icon svg-icon" svgIcon="toolbar:body"></mat-icon>
      <div class="label"> CELL </div>
    </div>

    <!-- Element used to push all elements after itself to the end of the container -->
    <div class="filler"></div>

    <div class="item feedback" (mouseover)="isCommentItemHovered = true" (mouseout)="isCommentItemHovered = false">
      <mat-icon *ngIf="!isCommentItemHovered; else hoveredCommentIcon" class="icon svg-icon"
                svgIcon="toolbar:comment-outline">
        comment
      </mat-icon>
      <ng-template #hoveredCommentIcon>
        <mat-icon class="icon font-icon">comment</mat-icon>
      </ng-template>
      <div class="label"> Comment </div>
    </div>
  </div>
</div>
