<div class="ccf-leftbar-wrapper">
  <div class="container">
    <div class="leftbar">
      <div class="search">
        <ccf-search-icon (click)="emitToggleEvent()"></ccf-search-icon>
      </div>
      <mat-list class="breadcrumb">
        <mat-list-item>
          <ccf-body-icon></ccf-body-icon>
        </mat-list-item>
        <mat-list-item>
          <ccf-tissue-icon></ccf-tissue-icon>
        </mat-list-item>
        <mat-list-item>
          <ccf-tissue-icon></ccf-tissue-icon>
        </mat-list-item>
      </mat-list>
      <div class="feedback-icon">
        <ccf-feedback-icon></ccf-feedback-icon>
      </div>
    </div>
  </div>
</div>