<div class="tissue wrapper">
  <div class="view">
    <div class="mount-point" #viewerEl></div>

    <div class="overlay-toggles">
      <mat-button-toggle *ngFor="let overlay of tissueOverlay$ | async" class="button"
                         [class.toggled]="isVisible(overlay)" (click)="setVisibility(overlay, 'toggle', 'always')"
                         (mouseenter)="setVisibility(overlay, 'on')" (mouseleave)="setVisibility(overlay, 'off')">
        {{ overlay.label }}
      </mat-button-toggle>
    </div>
  </div>

  <div class="metadata">
    <span class="organ-name">{{ organName$ | async }}</span>

    <div class="details">
      <mat-expansion-panel class="panel">
        <mat-expansion-panel-header class="header">
          <mat-panel-title class="title">
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ccf-metadata [metadata]="metadata$ | async"></ccf-metadata>
      </mat-expansion-panel>
    </div>
  </div>

  <!-- Note: This element will be moved into OpenSeadragon's view -->
  <svg class="overlays" preserveAspectRatio="none" x="0" y="0" [attr.width]="overlayWidth" [attr.height]="overlayHeight"
       [attr.viewBox]="overlayViewBox" [style.display]="displayState(viewer)" #overlayEl>
    <use *ngFor="let overlay of tissueOverlay$ | async" class="overlay"
         [attr.display]="displayState(isVisible(overlay))" [attr.href]="overlay.overlayUrl + '#overlay'"></use>
  </svg>
</div>
