<div class="tissue wrapper">
  <div id="tissue-view" class="view item" #tissueView></div>
  <div class="metadata item" *ngIf="tissueMetadata && tissueMetadata.length">
    <span *ngIf="organName" class="organ-name">{{organName}}</span>

    <div class="details">
      <mat-expansion-panel class="panel">
        <mat-expansion-panel-header class="header">
          <mat-panel-title class="title">
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ccf-metadata [metadata]="tissueMetadata"></ccf-metadata>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<div>
  <button class="overlay-button" (mouseenter)="showTissueOverlay(overlay)" *ngFor="let overlay of tissueOverlays$ | async">{{overlay.label}}</button>
</div>