@import 'global/colors', 'global/mixins';

.tissue.wrapper {
  display: flex;
  height: 100%;

  .view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 0.5rem;

    .mount-point {
      flex-grow: 1;
      padding-bottom: 1rem;
    }

    .overlay-toggles .button {
      margin: 0.25rem;
      background: $alternative-button-background-color;

      &.toggled {
        color: $active-button-contrast-color;
        background: $active-button-color;
      }

      ::ng-deep .mat-button-toggle-label-content {
        line-height: 2.25rem;
      }
    }
  }

  .metadata {
    width: 24%;
    padding-left: 0.5rem;

    .organ-name {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: normal;
    }

    .details {
      @include default-border(bottom);

      .panel {
        box-shadow: none;

        .header {
          padding-left: 0;
        }

        .title {
          font-size: 0.85rem;
          font-weight: bold;
        }
      }
    }
  }
}
