<ccf-header></ccf-header>

<ccf-drawer-container>
  <ccf-drawer opened>
    <ccf-left-sidebar></ccf-left-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>
  <ccf-drawer position="end" opened>
    <ccf-right-sidebar></ccf-right-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>

  <ccf-drawer-content>
    <ccf-organ-selector [multiselect]="true" [organList]="organList" 
                        (organsChanged)="model.setOrgan($event[0])" [selectedOrgans]="[model.organ$ | async]"></ccf-organ-selector>
    <ccf-content></ccf-content>
  </ccf-drawer-content>
</ccf-drawer-container>
