<ccf-header></ccf-header>

<ccf-drawer-container>
  <ccf-drawer opened>
    <ccf-left-sidebar [disableSlider]="!organSelector.selectedOrgans[0]?.hasSex"></ccf-left-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>
  <ccf-drawer position="end" opened>
    <ccf-right-sidebar></ccf-right-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>

  <ccf-drawer-content>
    <div [class.closed]="!open" class="selector-drawer">
        <ccf-organ-selector #organSelector [organList]="organList" (organsChanged)="model.setOrgan($event[0])"
          [selectedOrgans]="[model.organ$ | async]" [class.closed]="!open"></ccf-organ-selector>
          <div  class="expand-collapse-icon" >
            <mat-icon aria-hidden="false" aria-label="Close carousel drawer" (click)="open = !open">
              {{ open ? 'arrow_drop_up': 'arrow_drop_down' }}
            </mat-icon>
          </div>
    </div>
    
    <!-- <ccf-drawer-toggle-button></ccf-drawer-toggle-button> -->
    <!-- <div class="close-button-wrapper" [class.closed]="!open">
      <div class="close-button" (click)="open = !open">
     
      </div>
    </div> -->
    <ccf-content class="stage-content"  [class.expanded-stage]="!open" ></ccf-content>
  </ccf-drawer-content>
</ccf-drawer-container>
