:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: overlay;

  ccf-drawer-container {
    height: 100%;

    ccf-drawer {
      width: 25.5rem;

      ::ng-deep .cff-drawer-inner-container {
        height: calc(100% - 3rem);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
