<ccf-header></ccf-header>

<ccf-drawer-container>
  <ccf-drawer opened>
    <ccf-left-sidebar [disableSlider]="!organSelector.selectedOrgans[0]?.hasSex"></ccf-left-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>
  <ccf-drawer position="end" opened>
    <ccf-right-sidebar></ccf-right-sidebar>
    <ccf-drawer-toggle-button></ccf-drawer-toggle-button>
  </ccf-drawer>

  <ccf-drawer-content>
    <div [class.closed]="!open" class="selector-drawer">
      <ccf-organ-selector #organSelector [organList]="organList" (organsChanged)="model.setOrgan($event[0])" 
      [selectedOrgans]="[model.organ$ | async]" [hidden]="!open"></ccf-organ-selector>
      <div class="close-button" (click)="toggle()">
        <mat-icon class="expand-collapse-icon" aria-hidden="false" aria-label="Close carousel drawer">
          {{ icon }}
        </mat-icon>
      </div>
    </div>
    <ccf-content></ccf-content>
  </ccf-drawer-content>
</ccf-drawer-container>
