<div class="ccf-toolbar wrapper">
  <div class="container">
    <a href="https://hubmapconsortium.org/" target="_blank" rel="noreferrer noopener">
      <mat-icon class="icon svg-icon logo" svgIcon="app:hubmap-logo"></mat-icon>
    </a>

    <div class="item about" (mouseover)="isAboutItemHovered = true" (mouseout)="isAboutItemHovered = false" (click)=openAboutModal()>
      <mat-icon *ngIf="!isAboutItemHovered; else hoveredAboutIcon" class="icon font-icon">info_outline</mat-icon>
      <ng-template #hoveredAboutIcon>
        <mat-icon class="icon font-icon">info</mat-icon>
      </ng-template>
    </div>
  </div>
</div>
