.block-size-header {
  margin: 1em;
}

.size-input-form {
  display: flex;
  justify-content: space-between;
  margin: 1em;

  .form-dimension {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}

.form-input {
  text-align: center
}

::ng-deep .mat-form-field-label-wrapper {
  top: -2.5em;
  .mat-form-field-label {
    transform: none !important;
  }
}

::ng-deep .mat-form-field-underline {
  background-color: black;
}