<div class="block-size-header">
  Tissue Block Size (mm)
  <mat-icon class="block-size-refresh">refresh</mat-icon>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label class="form-label">Width (X)</mat-label>
    <input class="form-input" matInput placeholder="" value="10">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label class="form-label">Height (Y)</mat-label>
    <input class="form-input" matInput placeholder="" value="10">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label class="form-label">Depth (Z)</mat-label>
    <input class="form-input" matInput placeholder="" value="10">
  </mat-form-field>
</form>