<div class='dropdown-label' [class.dropdown]="isDropdownActive" #label>
  <mat-label>Options</mat-label>
  <mat-icon>arrow_drop_down</mat-icon>
</div>

<div class='stage-options' [class.dropdowncontainer]="isDropdownActive"
     [class.hidden]="isDropdownActive && isDropdownHidden" #options>
  <mat-radio-group class="input-group" [value]="side" (change)="updateSide($event.value)">
    <mat-radio-button value="left" class="nav-input">Left</mat-radio-button>
    <mat-radio-button value="right" class="nav-input">Right</mat-radio-button>
    <mat-radio-button value="anterior" class="nav-input" checked>Anterior</mat-radio-button>
    <mat-radio-button value="posterior" class="nav-input">Posterior</mat-radio-button>
  </mat-radio-group>

  <ccf-labeled-slide-toggle
    matTooltip="Change view."
    class="view-slider"
    [labels]="['Register', '3D\u00A0Preview']"
    [value]="view3D ? '3D\u00A0Preview' : 'Register'"
    (valueChange)="updateView($event !== 'Register')"
  ></ccf-labeled-slide-toggle>

</div>
