@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-stage-nav {
    .input-group {
      .mdc-form-field:hover {
        color: mat.get-color-from-palette($accent);
      }
    }

    .mdc-form-field {
      color: mat.get-color-from-palette($foreground, contrast-text);

      .mdc-radio__outer-circle {
        border-color: white !important;
      }
    }

    .mat-mdc-radio-checked {
      color: mat.get-color-from-palette($accent);

      .mdc-radio__outer-circle {
        border-color: mat.get-color-from-palette($accent) !important;
      }
    }

    .slide-label {
      color: mat.get-color-from-palette($foreground, contrast-text);

      &.highlighted {
        color: mat.get-color-from-palette($accent);
      }
    }

    .dropdown-label {
      &.dropdown {
        color: mat.get-color-from-palette($foreground, contrast-text);
      }
    }

    .dropdown-label:hover {
      color: mat.get-color-from-palette($accent);
    }

    .stage-options {
      &.dropdowncontainer {
        background-color: white;

        .mdc-form-field, .slide-label {
          color: mat.get-color-from-palette($foreground, text);

          .mdc-radio__outer-circle {
            border-color: mat.get-color-from-palette($foreground, text) !important;
          }
        }


        .mat-mdc-radio-checked {
          color: mat.get-color-from-palette($accent);

          .mdc-radio__outer-circle {
            border-color: mat.get-color-from-palette($accent) !important;
          }
        }

        mat-divider {
          color: mat.get-color-from-palette($foreground, icon);
        }
      }
    }

    .mdc-switch__track::before, .mdc-switch__track::after {
      background-color: mat.get-color-from-palette($accent, 900) !important;
    }

    .mdc-switch__shadow {
      background-color: mat.get-color-from-palette($accent) !important;
    }

    .highlighted {
      color: mat.get-color-from-palette($accent) !important;
    }
  }
}
