.filter-label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .option {
    display: flex;
    height: 2rem;
    align-items: center;
  }

  &.three {
    .option {
      width: 33%;
      flex-grow: 0;
    }
  }

  &.six {
    .option {
      width: 16.5%;
      flex-grow: 0;
    }
  }
}
