@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  .mat-checkbox-label, .filter-label {
    color: mat.get-color-from-palette($primary, text)
  }

  .mat-checkbox-frame {
    border-color: mat.get-color-from-palette($foreground, checkbox-color);
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: mat.get-color-from-palette($background, checkbox-color);
  }
}
