::ng-deep  .mat-checkbox.mat-accent {
  .mat-checkbox-checkmark-path {
    stroke: white !important;
  }

  .mat-checkbox-inner-container {
    margin-right: 1rem;
  }
}

.filter-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.three {
    .option {
      width: 33%;
    }
  }

  &.four {
    .option {
      width: 25%;
    }
  }
}
