<div class="ccf-search wrapper">
  <div class="container">
    <div class="age-gender-container">
      <ccf-gender-selector class="gender selector"></ccf-gender-selector>
      <ccf-age-selector class="age selector"></ccf-age-selector>
    </div>

    <ccf-ontology-tree *ngIf="ontology.rootNode | async as rootNode" [nodes]="[rootNode]"
                       [getChildren]="ontology.getChildren">
    </ccf-ontology-tree>

    <ccf-search-categories [filterCategories]="filterCategories" class="search-categories">
    </ccf-search-categories>
  </div>
</div>
