.ccf-search.wrapper {
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    width: 100%;
    background: #f5f5f5;

    .age-gender-container {
      padding-top: 1rem; // temporary until search
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-start;
      
      .selector {
        padding-left: 0.75rem;
      }
    }
  }
}
