@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-video-modal-launcher {
    .description {
      color: mat.get-color-from-palette($foreground, contrast-text);
    }

    .play-icon-button {
        color: mat.get-color-from-palette($foreground, contrast-text);

        &:hover {
            color: mat.get-color-from-palette($background, drawer-hover);
        }
    }
  }
}
