<div class="ccf-organ wrapper">
  <div class="container">
    <div class="organ">
      <svg width="800" height="1000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use [attr.xlink:href]="organImagePath+'organ.svg#organ'" x="0" y="0"></use>
        <g routerLink="/tissues">
          <use [attr.xlink:href]="organImagePath+'overlays/sample-1.svg#overlay'" x="0" y="0"></use>
        </g>
      </svg>
    </div>

    <div class="metadata">
      <ccf-metadata [metadata$]="organService.getMetadata()" ></ccf-metadata>
    </div>
  </div>
</div>