<div class="ccf-organ wrapper">
  <div class="container">
    <svg class="organ-group" viewBox="0 0 800 1000">
      <use class="organ" [attr.href]="dataService.organImagePath | async" #image></use>
      <ng-container *ngFor="let sample of dataService.organOverlays | async">
        <use class="centroid" attr.href="{{ sample.overlayUrl }}#centroid" #centroid></use>
        <use class="overlay" attr.href="{{ sample.overlayUrl }}#overlay" routerLink="/tissues"
             (mouseenter)="activeMetadata = [sample.metadata]" (mouseleave)="activeMetadata = []"></use>
      </ng-container>
    </svg>

    <ccf-metadata class="metadata" [metadata]="activeMetadata"></ccf-metadata>
  </div>
</div>
