@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  .ccf-tissue-section-vis {
    color: mat.get-color-from-palette($foreground, z-axis);

    .container {
      border-left: 1px solid mat.get-color-from-palette($foreground, icons-disabled);
      border-right: 1px solid mat.get-color-from-palette($foreground, icons-disabled);

      .line-tick-visible {
        background-color: mat.get-color-from-palette($foreground, y-axis);
      }

      .x-axis {
        background-color: mat.get-color-from-palette($foreground, z-axis);
      }
    }
  }
}