<div class="rui-about wrapper">
  <div class="container">
    <div class="close">
      <mat-icon class="material-icons close-icon" (click)=close()>clear</mat-icon>
    </div>
    <div class="content">
      <h2 class="title" mat-dialog-title>HuBMAP CCF Registration User Interface 1.0</h2>
      
      <mat-dialog-content class="mat-typography dialog-content">
        <div *ngFor="let content of documentationComtents; let i = index;" class="panel">
          <ccf-info-panel [content]="content" [index]="i"></ccf-info-panel>
        </div>
      </mat-dialog-content>
    </div>
  </div>
</div>
