::ng-deep .mat-dialog-container {
  padding: 0;
}

.rui-about.wrapper {
  .container {
    .content {
      padding: 3rem;
    }

    .description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    .close {
      .close-icon {
        float: right;
        margin-top: 1rem;
        margin-right: 1rem;
        cursor: pointer;
      }
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 2.25rem;
      text-align: center;
    }

    .subtitle {
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .panel {
      margin-bottom: 1.5rem;
    }
  }
}
