<div class="rui-about wrapper">
  <div class="container">
    <div class="close">
      <mat-icon class="material-icons close-icon" (click)=close()>clear</mat-icon>
    </div>
    <div class="content">
      <h2 class="title" mat-dialog-title>HuBMAP CCF Registration User Interface Prototype</h2>

      <mat-dialog-content class="mat-typography">
        <p class="description">
          This Registration User Interface (RUI) supports the registration of three-dimensional (3D) tissue blocks within 3D reference organs. Surgeons and
          others involved in the tissue procurement process can use the interface to
        </p>
        <ul>
          <li>
            Enter their name and select a reference organ (kidney; soon heart, lung, spleen, colon).
          </li>
          <li>
            Size the tissue block in three dimensions.
          </li>
          <li>
            Position and rotate the 3D tissue block within a 3D reference organ so its placement correctly mirrors the tissue block extraction site.
          </li>
          <li>
            Save all registration information into a clipboard for easy pasting into custom templates in REDCap (or other systems) used to keep track
            of tissue and tissue registration data. If using the RUI integrated into the HuBMAP Ingestion Portal, registration information is automatically
            saved with the associated tissue block.
          </li>
        </ul>

        <p class="description">
          A first prototype of the CCF RUI became available in September 2019.  The CCF RUI specification is available
          <a class="link-blue" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1K8vEcxLLOjho4zD2V4S1WFP1CX4_e30P" target="_blank">here</a>
          and code is available on <a class="link-blue" rel="noopener noreferrer" href="https://github.com/hubmapconsortium/ccf-3d-registration" target="_blank">GitHub</a>.
          A demo video is on YouTube <a class="link-blue" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=-ABy5IeCEk4" target="_blank">here</a>.
        </p>

        <p class="description">
          The registration data is used in current versions of the Common Coordinate Framework (CCF) and the CCF Exploration User Interface (EUI) developed within HuBMAP,
          see CCF Portal at <a class="link-blue" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=-ABy5IeCEk4" target="_blank">ttps://hubmapconsortium.github.io/ccf</a>.
        </p>

        <br />

        <h2>Acknowledgements</h2>
        <p class="description">
          The CCF and associated user interfaces are developed by the MC-IU team within the HuBMAP HIVE. The MC-IU team includes Katy Börner, Lisel Record, Bruce Herr II,
          Leonard Cross, Ellen Quardokus, and Andreas Bueckle, Indiana University, Bloomington, IN and Griffin Weber, Harvard Medical School, Boston, MA. Former members of
          the team are Paul Macklin, Randy Heiland, and Jim Sluka at Indiana University, Bloomington, IN and Samuel Friedman, Opto-Knowledge Systems, Inc. We acknowledge
          expert input from Jeffrey Spraggins and Sanjay Jain and their teams as well as the overall HuBMAP consortium.
        </p>

        <p class="description">
          The three-dimensional kidney data models were kindly provided by Kristen Browne, U.S. National Library of Medicine using data from the
          <a class="link-blue" rel="noopener noreferrer" href="https://www.nlm.nih.gov/research/visible/visible_human.html" target="_blank">Visible Human Project</a>.
        </p>

        <p class="description">
          The work is funded by NIH Award <a class="link-blue" rel="noopener noreferrer" href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9687220" target="_blank">OT2OD026671</a>.
        </p>
      </mat-dialog-content>
    </div>
  </div>
</div>