@keyframes slideInHorizontalDropdown {
  from {
    width: 0;
  }
  to {
    width: 9.85rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-form-field {
  width: 100%;
  height: 3rem;

  ::ng-deep .mat-form-field-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    height: 3rem;

    .mat-form-field-flex {
      .mat-form-field-infix {
        font-size: 14px;
        border: none;

        mat-select {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    .mat-form-field-underline {
      left: 0rem;
      bottom: 0rem;
      background-color: black;
      transform: none;
      height: 2px;
    }
  }
}

.visible {
  animation: fadeIn 0.3s;
  transition-delay: .275s;
  animation-delay: .275s;
}

.invisible {
  opacity: 0;
}

::ng-deep .option-panel {
  animation: slideInHorizontalDropdown .3s;
  animation-fill-mode: forwards;
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;
  position: absolute !important;
  top: 1.55rem;
  max-width: 152px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;


  .mat-option {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 1em;
  }

  :last-child {
    border-bottom: none;
  }
}

::ng-deep .cdk-overlay-pane {
  min-width: 0px !important;
}

.dropdown-form-field {
  height: 3rem;
  width: 100%;
  ::ng-deep .mat-form-field-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}

::ng-deep .ccf-dropdown {
  .mat-select-arrow-wrapper {
    transform: translatey(-.5em);
  }
}