@keyframes slideInHorizontalDropdown {
  from {
    width: 0;
  }
  to {
    width: 9.85rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-form-field {
  width: 100%;
  height: 3rem;

  ::ng-deep .mat-mdc-text-field-wrapper {
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        font-size: 0.875rem;
        border: none;

        .label {
          height: 19.25px;
        }

        mat-select {
          font-size: 1rem;
          font-weight: bold;

          .mat-mdc-select-arrow-wrapper {
            position: relative;
            bottom: 0.25rem;
            right: 0.25rem;
          }
        }
      }
    }

    .mdc-line-ripple::before {
      border-bottom-width: 2px;
    }
  }
}

.visible {
  animation: fadeIn 0.3s;
  transition-delay: .275s;
  animation-delay: .275s;
}

.invisible {
  opacity: 0;
}

::ng-deep .option-panel {
  animation: slideInHorizontalDropdown .3s;
  animation-fill-mode: forwards;
  flex-grow: 1;
  padding: 0 !important;

  mat-option {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 1em;
    font-size: 16px;
  }

  :last-child {
    border-bottom: none;
  }
}

::ng-deep .cdk-overlay-pane {
  min-width: 0rem !important;
}

::ng-deep .ccf-dropdown {
  .mat-select-arrow-wrapper {
    transform: translatey(-.5em);
  }
}
