@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .option-panel {
    background-color: mat-color($foreground, modal-borders);

    .mat-option {
      background-color: mat-color($background, modal);
      border-color: mat-color($foreground, borders);

      &:hover {
        background-color: mat-color($background, dropdown-hover);
      }

      &.mat-selected.mat-active {
        background-color: mat-color($background, mat-selected-option);
        color: mat-color($foreground, contrast-text);
      }
    }
  }

  .dropdown-form-field {
    .label {
      color: mat-color($foreground, text-muted)
    }

    .mat-form-field-wrapper {
      .mat-form-field-underline {
        background-color: mat-color($foreground, contrast-icon);
      }
    }
  }

  .mat-select-value {
    color: mat-color($foreground, text);
  }

  .mat-select-arrow {
    color: mat-color($foreground, contrast-icon);
  }
}
