@use '@angular/material' as mat;
@use '@angular/material/theming' as *;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .option-panel {
    background-color: mat.get-color-from-palette($foreground, modal-borders);

    .mat-option {
      background-color: mat.get-color-from-palette($background, modal);
      border-color: mat.get-color-from-palette($foreground, borders);

      &:hover {
        background-color: mat.get-color-from-palette($background, dropdown-hover);
      }

      &.mat-selected.mat-active {
        background-color: mat.get-color-from-palette($background, mat-selected-option);
        color: mat.get-color-from-palette($foreground, contrast-text);
      }
    }
  }

  .dropdown-form-field {
    .label {
      color: mat.get-color-from-palette($foreground, text-muted)
    }

    .mat-form-field-wrapper {
      .mat-form-field-underline {
        background-color: mat.get-color-from-palette($foreground, contrast-icon);
      }
    }
  }

  .mat-select-value {
    color: mat.get-color-from-palette($foreground, text);
  }

  .mat-select-arrow {
    color: mat.get-color-from-palette($foreground, contrast-icon);
  }
}
