@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-drawer {
    background-color: mat.get-color-from-palette($background, background);
    border-right-color: mat.get-color-from-palette($foreground, divider);
    border-left-color: mat.get-color-from-palette($foreground, divider);
  }

  .ccf-drawer-toggle-button {
    color: mat.get-color-from-palette($foreground, contrast-icon);
    background-color: mat.get-color-from-palette($background, modal);

    &:hover {
      background-color: mat.get-color-from-palette($background, info-button-hover);
    }
  }

  .drawer-icons {
    .button {
      color: mat.get-color-from-palette($foreground, contrast-icon);
    }
  }

  .ccf-drawer-content {
    background-color: mat.get-color-from-palette($background, content-background);

    ccf-run-spatial-search {
      button {
        color: mat.get-color-from-palette($foreground, contrast-button-text) !important;
        background-color: mat.get-color-from-palette($background, button-bg);
        border-color: mat.get-color-from-palette($foreground, button-border);

        &:hover {
          color: mat.get-color-from-palette($foreground, color-hover) !important;
          background-color: mat.get-color-from-palette($background, button-background-hover);
        }
      }
    }
  }
}
