<div class="organ-sliders">
  <div class="side-toggle">
    <span class="slide-label" [class.highlighted]="left">L</span>
    <mat-slide-toggle [disabled]="sideDisabled" (change)="updateSide($event.checked)" class="side-slider"></mat-slide-toggle>
    <span class="slide-label" [class.highlighted]="!left">R</span>
  </div>

  <div class="gender-toggle">
    <span class="slide-label" [class.highlighted]="isMale">Male</span>
    <mat-slide-toggle [disabled]="genderDisabled" (change)="updateGender($event.checked)" class="gender-slider"></mat-slide-toggle>
    <span class="slide-label" [class.highlighted]="!isMale">Female</span>
  </div>
</div>