:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
  overflow: auto;

  &.cff-drawer-content-animations {
    transition: {
      duration: .5s;
      timing-function: ease-in-out;
      property: margin-left, margin-right;
    }
  }
}
