::ng-deep .cdk-overlay-container {
  position: absolute;
  font-size: 1.2rem;
}

:host {
  display: block;
  position: relative;
}

.ccf-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-size: 1rem;
  position: relative;
  text-align: left;

  ccf-header {
    z-index: 99;

    &.hide {
      display: none;
    }
  }

  ccf-drawer-container {
    height: calc(100% - 5rem);
    width: 100%;
    opacity: 1;
    overflow: hidden;
    transform: scale(1);

    &.header-hidden {
      height: 100%;
    }

    ccf-drawer {
      width: 28.5rem;

      div {
        .button-toggle-group {
          height: 4rem;
          display: flex;
          align-items: center;
        }
      }

      .drawer-icons {
        display: flex;
        padding-left: 1.5rem;
        height: 5rem;
        padding-right: 1.5rem;
        align-items: center;
        justify-content: space-between;

        .drawer-icons-left {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .button {
            padding: 0;
            border: none;
            cursor: pointer;
            outline: none;
            border-radius: 0.25rem;
            padding: 0.65rem;
            transition: 0.6s;
          }
        }
      }
    }

    ccf-drawer-content {
      overflow: hidden;
      border-radius: 0.5rem;
      height: calc(100vh - 4rem);

      .selector-drawer {
        top: 0rem;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.5s ease-in-out;
        height: 5rem;
        justify-content: flex-start;

        &.expanded {
          height: 15rem;
          overflow-y: auto;
        }

        &.closed {
          height: 1.5rem;
          top: -5rem;
        }
      }

      ccf-run-spatial-search {
        position: relative;
        float: right;
        height: 0px;
        z-index: 1;
        top: 1.5rem;
        right: 0.5rem;
      }

      .stage-content {
        transition: all 0.5s ease-in-out;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      .expanded-stage {
        height: calc(100% - 3rem);
      }

      .selector-expanded {
        height: calc(100% - 16.5rem);
      }

      &.header-hidden {
        height: calc(100vh - 1rem);
      }
    }

    .close-button-wrapper {
      display: flex;
      justify-content: center;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      height: 0;

      .close-button {
        display: flex;
        justify-content: center;
        height: 1.0625rem;
        width: 3rem;
        align-self: center;
        border-radius: 0rem 0rem 0.25rem 0.25rem;
        cursor: pointer;
        transition: 0.6s;
        position: relative;
        top: 0.5rem;
        z-index: 1;

        .mat-icon {
          position: relative;
          bottom: 0.2rem;
        }
      }
    }

    .left-drawer {
      padding-left: 1.5rem;
      padding-right: 1rem;

      .left-drawer-container {
        height: 100%;

        .ontologies {
          height: calc(100% - 9rem);
          display: flex;
          gap: 1.5rem;
          flex-direction: column;

          ccf-ontology-selection {
            flex: 1 1;
            overflow: auto;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
              width: 0.25rem;
            }

            &.firefox {
              padding-right: 0.5rem;
            }

            &.biomarker-selection {
              flex-basis: 30%;
            }
          }

          .no-selection-notice {
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      ::ng-deep .cff-drawer-inner-container {
        overflow: hidden;
      }

      .filter-data {
        height: 5rem;
        display: flex;
        align-items: center;

        .filter-text {
          display: flex;
          justify-content: space-between;
          width: 75%;
          margin-left: 1.5rem;

          .filter-tag {
            font-weight: 300;
            strong {
              font-weight: 600 !important;
            }
          }
        }
      }
    }
  }

  .right-drawer {
    .portal-view {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 425%;
      height: calc(100% + -1.5rem);
      transform: translateX(-425%);
      width: calc(100% - 28.5rem);

      transition: transform 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);

      &.opened {
        transform: translateX(0);
        transition: width 0s 0.5s;
      }
    }

    &:not(.ccf-drawer-opened) .portal-view {
      width: 100vw;

      &.opened {
        transition: width 0s;
      }
    }

    .shaded-toggle {
      box-shadow: -1px 0 4px #212121;
    }

    ::ng-deep .cff-drawer-inner-container {
      overflow: hidden;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::ng-deep .mdc-snackbar__surface {
  box-shadow: none !important;
}
