<div style="margin-bottom: 4rem; display: flex; ">
  <div>
    <h3>Body UI WC.</h3>

    <div>HighlightID: {{ highlightID$ | async }}</div>
    <div>Data: {{ data$ | async }}</div>
    <div>ZoomToID: {{ zoomToID$ | async }}</div>
  </div>
  <div
    style="margin-left: 3rem; border: 1px solid black; padding: 2rem; width: 3rem; cursor: pointer;"
    (click)="testScene()">Scene</div>

  <div
    style="margin-left: 3rem; border: 1px solid black; padding: 2rem; width: 3rem; cursor: pointer;"
    (click)="onClick.emit('test click')"
    (mouseenter)="onMouseEnter.emit('test hover')"
    (mouseleave)="onMouseLeave.emit('test hover')"
  >Output Tests</div>
</div>

<ccf-body-ui #bodyUI [scene]="scene$ | async" [interactive]="true" camera="perspective">
</ccf-body-ui>