@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);

  .ccf-labeled-slide-toggle {
    .mat-slide-toggle-bar {
      background-color: mat-color($foreground, toggle-bg) !important; // adding !important otherwise the color reverts to blue
    }
    .mat-slide-toggle-thumb {
      background-color: mat-color($foreground, toggle-thumb) !important;  // adding !important otherwise the color reverts to blue
    }
    .highlighted {
      color: mat-color($foreground, toggle-thumb);
    }
  }
}