@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  .ccf-labeled-slide-toggle {
    .mat-slide-toggle-bar {
      background-color: mat.get-color-from-palette($foreground, donor-sex-bg) !important;
    }
    .mat-slide-toggle-thumb {
      background-color: mat.get-color-from-palette($foreground, donor-sex-toggle-nob) !important;
    }

    .slide-label {
      color: mat.get-color-from-palette($foreground, inactive-sex);
    }

    .highlighted {
      color: mat.get-color-from-palette($foreground, active-sex);
    }
  }
}