<div class='info-button-container'>
  <ccf-info-button videoID="j4f9_xdBrK0" infoTitle="CCF Registration User Interface"
    documentationUrl="assets/docs/README.md"></ccf-info-button>
</div>
<div class="scroll-wrapper">
  <div class="container">
    <mat-expansion-panel class="registration-metadata-panel" (opened)="registrationExpanded.emit(true)"
      (closed)="registrationExpanded.emit(false)">
      <mat-expansion-panel-header class="header">
        <mat-panel-title matTooltip="">Registration Metadata</mat-panel-title>
      </mat-expansion-panel-header>

      <ccf-registration-metadata></ccf-registration-metadata>

    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel class="tissue-block-controls-panel" [expanded]="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title matTooltip="">Tissue Block Controls</mat-panel-title>
      </mat-expansion-panel-header>

      <ccf-block-size-input [blockSize]="(model.blockSize$ | async)!" (blockSizeChange)="model.setBlockSize($event)">
      </ccf-block-size-input>

      <ccf-slices-input [slicesConfig]="$any(model.slicesConfig$ | async)"
        (slicesConfigChange)="model.setSlicesConfig($event)">
      </ccf-slices-input>

      <ccf-rotation-slider [rotation]="$any(model.rotation$ | async)" (rotationChange)="model.setRotation($event)">
      </ccf-rotation-slider>

    </mat-expansion-panel>

    <mat-divider></mat-divider>
    <mat-expansion-panel class="tags-container" [expanded]="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title
          matTooltip="Review tags generated via collision detection. Add or delete tags as needed.">Anatomical Structure
          Tags</mat-panel-title>
      </mat-expansion-panel-header>

      <ccf-tag-search [search]="astags.searchExternal" (added)="astags.addTags($event)">
      </ccf-tag-search>

      <ccf-tag-list *ngIf="(model.organ$ | async)?.name; else: tagListPlaceholder" class="tag-list"
        [tags]="(astags.tags$ | async) ?? []" (tagRemoved)="astags.removeTag($event)">
      </ccf-tag-list>
      <ng-template #tagListPlaceholder>
      </ng-template>

      <div class="legend">
        <span class="dot assigned"></span>
        <span class="text assigned">Assigned</span>
        <span class="dot added"></span>
        <span class="text added">Added</span>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <div class="filler"></div>

    <ccf-review-button class="review-button"
      [registrationCallbackSet]="(page.registrationCallbackSet$ | async) ?? false"
      [displayErrors]="(registration.displayErrors$ | async) ?? false"
      [userValid]="(registration.valid$ | async) ?? false" [metaData]="(registration.metadata$ | async) ?? []"
      (registerData)="registration.register()" (enterErrorMode)="registration.setDisplayErrors(!registration.isValid)">
    </ccf-review-button>
  </div>
</div>
