<div class="ccf-about wrapper">
    <div class="container">
        <div class="close">
            <mat-icon class="material-icons close-icon" (click)=close()>clear</mat-icon>
        </div>
        <div class="content">
            <h2 class="title" mat-dialog-title>HuBMAP</h2>
            <h5 class="subtitle">The Human Biomolecular Atlas Project</h5>

            <mat-dialog-content class="mat-typography">
                <p class="description">
                    The Human Biomolecular Atlas Project (HuBMAP) will develop the next generation of molecular analysis
                    technologies,
                    computational tools, and to generate foundational tissue maps in order to accelerate the
                    construction of an atlas of
                    the human body for the understanding the relationship between tissue organization and function.
                    <br /><a rel="noopener noreferrer" class="hubmap-link" href="https://hubmapconsortium.org"
                        target="_blank">https://hubmapconsortium.org</a>
                </p>


                <h2 class="heading">Common Coordinate Framework (CCF)</h2>
                <p class="description">
                    The HuBMAP common coordinate (reference) framework is under active development. It aims to spatially
                    annotate and index
                    HuBMAP data so this data can be spatially located and explored efficiently. The CCF v0.5.0 became
                    available in March 2019.
                    CCF Ontology documentation is available <a rel="noopener noreferrer"
                        href="https://docs.google.com/document/d/1X21O5DgGkq9ngPOsBZa-qy1-6Y2MiohJD7Bt-JFyysY/edit"
                        target="_blank">here</a>
                    and OWL file is available on <a rel="noopener noreferrer"
                        href="https://github.com/hubmapconsortium/hubmap-ontology" target="_blank">GitHub.</a>
                </p>

                <h2 class="heading">CCF Exploration User Interface (EUI)</h2>
                <p class="description">
                    The CCF EUI represents data across multiple scales, supporting navigation by multiple coordinate
                    systems,
                    including spatial, physiologic, and organ-based browsing. The first proof-of-concept user interface
                    for the CCF
                    v0.5.0 became available in June 2019 and continues to evolve as more data becomes available. CCF EUI
                    specification is
                    available <a rel="noopener noreferrer"
                        href="https://drive.google.com/drive/folders/1K8vEcxLLOjho4zD2V4S1WFP1CX4_e30P"
                        target="_blank">here</a>
                    and code is available on <a rel="noopener noreferrer"
                        href="https://github.com/hubmapconsortium/ccf-ui" target="_blank">GitHub</a>.
                    A demo video is on YouTube <a rel="noopener noreferrer"
                        href="https://www.youtube.com/watch?v=rWMqKQc_00w&feature=youtu.be" target="_blank">here</a>.
                </p>

                <h2 class="heading">Acknowledgements</h2>
                <p class="description">
                    The CCF work was completed by Katy Börner, Bruce Herr II, Paul Macklin, Randy Heiland & Ellen
                    Quardokus,
                    Indiana University, Bloomington, IN; Griffin Weber, Harvard Medical School, Boston, MA; and Samuel
                    Friedman,
                    Opto-Knowledge Systems, Inc. with expert input by the HuBMAP team. Data was provided by the Tissue
                    Mapping Center (TMC)
                    at Vanderbilt University. The work was funded by NIH Award <a rel="noopener noreferrer"
                        href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9687220"
                        target="_blank">OT2OD026671.</a>
                </p>
            </mat-dialog-content>

            <div class="footer">
                <img class="nih-logo" src="assets/images/nih_master_logo.svg" alt="NIH logo" />
            </div>

        </div>
    </div>
</div>