@use '@angular/material' as mat;

@use 'common/utility';


$primary-colors: utility.add-colors(mat.$gray-palette, (
  "white": white,
  "black": black,
  850: #323232,

  contrast: (
    "white": black,
    "black": white,
    850: white
  )
));

$primary: mat.define-palette($primary-colors, $text: 50);
$accent: mat.define-palette(mat.$blue-palette, 600);
$warn: mat.define-palette(mat.$red-palette);

$foreground: map-merge(mat.$dark-theme-foreground-palette, (
  logo: map-get($primary-colors, 'white'),
  header-border: map-get($primary-colors, 800), //#424242
  modal-borders: map-get($primary-colors, 'black'),
  divider: map-get($primary-colors, 500), //#9E9E9E
  borders: map-get($primary-colors, 800), //#424242
  icon: map-get($primary-colors, 500), //#9E9E9E
  contrast-icon: map-get($primary-colors, 500), //#9E9E9E
  button-text: map-get($primary-colors, 50), //#FAFAFA
  button-border: map-get($primary-colors, 'white'),
  headers: map-get($primary-colors, 50), //#FAFAFA
  search-result-text: map-get($primary-colors, 50), //#FAFAFA
  text: map-get($primary-colors, 50), //#FAFAFA
  contrast-text: map-get($primary-colors, 50), //#FAFAFA
  download-icon: map-get(mat.$amber-palette, A400),
  disabled: map-get($primary-colors, 800), //#424242
  highlight: map-get($primary-colors, 'white'),
  header-download-icon: map-get(mat.$amber-palette, A400)
));

$background: map-merge(mat.$dark-theme-background-palette, (
  background: map-get($primary-colors, 900), //#212121
  stage-background: map-get($primary-colors, 'black'),
  dialog: map-get($primary-colors, 900), //#212121
  authentication: map-get($primary-colors, 50), //#FAFAFA
  app-bar: map-get($primary-colors, 850), //#323232
  modal: map-get($primary-colors, 850), //#323232
  dropdown-menu: map-get($primary-colors, 800), //#424242
  dropdown-hover: map-get($primary-colors, 500), //#9E9E9E
  image-placeholder: map-get($primary-colors, 500) //#9E9E9E
));

$theme: (
  is-dark: true,
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    foreground: $foreground,
    background: $background
  )
);
