:host {
  display: block;
  position: relative;

  .spacer {
    // Calculated by adding up all padding/margin/height of material form fields
    height: 3.25rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .search-box {
      display: flex;
      width: 100%;

      .add-button {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }

    .results {
      margin-top: 0.5rem;

      .count {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        text-align: end;
      }
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        border-radius: 0.5rem;
        // box-shadow: 0rem 0rem 0.3rem 0.1rem #9e9e9e;
      }

      .mat-form-field-outline {
        opacity: 1 !important;
      }

      .mat-form-field-outline-thick {
        opacity: 0 !important;
      }

      .mat-form-field-infix {
        padding: 0 0 0.5rem 0;
      }
    }

    &.expanded {
      ::ng-deep {
        .mat-form-field-wrapper {
          box-shadow: 0rem 0rem 0.3rem 0.1rem #9e9e9e;
        }
      }
    }
  }
}
