<div class="spacer"></div>

<mat-form-field class="overlay" [class.expanded]="resultsVisible" appearance="outline" subscriptSizing="dynamic">
  <div class="search-box">
    <input matInput type="search" [placeholder]="placeholder" [formControl]="searchControl" #search>
    <button class="add-button" [class.active]="hasCheckedTags()" [disabled]="!hasCheckedTags()" (click)="addTags(); search.focus()" matSuffix #closeSearch>
      <mat-icon class="icon">add</mat-icon>
    </button>
  </div>

  <div *ngIf="resultsVisible" class="results">
    <div *ngFor="let result of searchResults.results; trackBy: tagId" class="item">
      <mat-checkbox labelPosition="after" [(ngModel)]="checkedResults[result.id]">
        {{ result.label }}
      </mat-checkbox>
    </div>

    <div class="count">
      {{ searchResults.totalCount | i18nPlural:countMapping }}
    </div>
  </div>
</mat-form-field>
