:host {
  display: block;
  position: relative;

  .spacer {
    // Calculated by adding up all padding/margin/height of material form fields
    height: 3.25rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .search-box {
      display: flex;
      width: 100%;
      align-items: center;
      height: 3rem;

      .add-button {
        border-radius: 0.25rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
      }
    }

    .results {
      margin-top: 0.5rem;

      .count {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        text-align: end;
      }
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        border-radius: 0.5rem;

        .mat-form-field-flex {
          padding-right: 0 !important;
        }
      }

      .mat-form-field-outline {
        opacity: 1 !important;
      }

      .mat-form-field-outline-thick {
        opacity: 0 !important;
      }

      .mat-form-field-infix {
        padding: 0.063rem;
        padding-top: 0.313rem;
        border: 0;
      }
    }

    &.expanded {
      ::ng-deep {
        .mat-form-field-wrapper {
          box-shadow: 0rem 0rem 0.3rem 0.1rem #9e9e9e5e;
        }
      }
    }
  }
}
