@use '~@angular/material/theming' as ng;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/default';

@include ng.mat-core(typography.$config);

@include theming.ccf-theme(default.$theme);

/**
 * Additional themes can be placed here. Example:
 *
 * .my-other-theme {
 *   @include theming.ccf-theme(other.$theme);
 * }
 *
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: #212121;
}

mat-icon {
  user-select: none;
}

// Reference: https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar {
  width: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

