@use '~@angular/material/theming' as ng;
@use 'themes/default';

@include ng.mat-core(); // Include only once!

@include default.theme;

/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
