@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

// The following values can be easily overridden for the popover (current values are the defaults)
$popover-bg: rgba(0, 0, 0, .80);
$popover-inner-padding: 16px;
// $zindex-popover: 1060;
// $popover-arrow-width: 2.2rem;
// $popover-arrow-height: 1.1rem;
// $popover-arrow-outer-width: ($popover-arrow-width + 0.1rem);
// $popover-arrow-outer-color: fade-in($popover-bg, .05);
// $popover-arrow-color: $popover-bg;
// $popover-header-bg: darken($popover-bg, 3%);
// $popover-border-width: 0rem;
$popover-border-radius: 4px;
// $popover-box-shadow: 0 .25rem .5rem rgba(black, .2);
// $popover-body-color: white;
// $popover-header-color: white;
// $font-family: 'Helvetica';
@import '~ngx-smart-popover/scss/popover-content.component';

.popover-content {
  // Required for the popover to work correctly.
  // For some reason this is missing from the popover-content.component scss!?
  position: absolute;
}
