@use '~@angular/material/theming' as ng;
@use 'themes/common/typography';
@use 'themes/common/theming';
@use 'themes/default';

@include ng.mat-core(typography.$config);

@include theming.ccf-theme(default.$theme);

/**
 * Additional themes can be placed here. Example:
 *
 * .my-other-theme {
 *   @include theming.ccf-theme(other.$theme);
 * }
 *
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  user-select: none;
}
