.mat-expansion-panel {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0 !important;
  position: unset;

  .mat-expansion-panel-header {
    padding: 0;

    ::ng-deep .mat-expansion-indicator {
      position: relative;
      right: 1em;
    }
  }

  .data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;

    .data-entry {
      display: flex;
      text-overflow: ellipsis;
      justify-content: center;
      margin-bottom: .25rem;

      .label,
      .value {
        display: flex;
        height: 1rem;
        line-height: 1rem;
      }

      .label {
        justify-content: flex-end;
        width: 50%;
      }

      .value {
        justify-content: flex-start;
        margin-left: 1rem;
        width: 50%;
        flex-wrap: wrap;
        height: 100%;
      }
    }
  }
}
