@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  .ccf-spinner-overlay {
    background-color: mat.get-color-from-palette($background, background);
  }

  .ccf-spinner-overlay {
    .content {
      color: mat.get-color-from-palette($foreground, text);
    }
  }
}
