.slider-form-field {
  width: 100%;
  height: 3rem;

  ::ng-deep .mat-form-field-wrapper {
    padding-left: 1em;
    padding-right: 1em;

    .mat-form-field-flex {
      .mat-form-field-infix {
        border: none;
      }
    }
  }
}


.slider-labels {
  display: flex;
  flex-direction: column;
  .name-label {
    font-size: 14px;
  }

  .range-label {
    font-weight: bold;
  }
}

::ng-deep .ccf-slider.wrapper {
  .mat-select-arrow-wrapper {
    transform: translatey(-1.5em);
  }
}

// Styles for the popover slider
// NOTE: This must NOT be nested inside the wrapper/container!

@keyframes slideInHorizontalSlider {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visible {
  animation: fadeIn 0.3s;
  transition-delay: .275s;
  animation-delay: .275s;
}

.invisible {
  opacity: 0;
}

::ng-deep .slider-pane {
  border-width: 1px;
  border-style: solid;
}

.ccf-slider.detached {
  animation: slideInHorizontalSlider 0.3s;
  animation-fill-mode: forwards;
  box-shadow: 0.4rem 0.4rem 0.8rem 0rem #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 0rem;
  height: 70px;
  padding: 1rem; // NOTE: Use padding instead of margin!

  .slider ::ng-deep {
    visibility: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    .ng5-slider-bar {
      opacity: .2;
      height: .15rem;
    }

    .ng5-slider-selection {
      opacity: 1;
    }

    .ng5-slider-pointer {
      $pointer-size: 1rem;

      width: $pointer-size;
      height: $pointer-size;
      top: 0.095rem - ($pointer-size / 2);
      border-width: .1rem;
      border-style: solid;

      &:after {
        display: none;
      }
    }
  }

  .label {
    display: flex;
    flex-direction: column;
    width: 32px;
    
    &.min {
      margin-right: 1rem;
    }
    
    &.max {
      margin-left: 1rem;
      align-items: flex-end;

      .ceil, input {
        text-align: right;
      }
    }

    .floor, .ceil {
      font-size: 14px;
    }

    input {
      border: none;
      width: 28px;
      font-size: 16px;
      font-weight: bold;
      padding: 0;
    }

  }
}