@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .slider-form-field {
    background-color: mat-color($background, dropdown-menu);
  }

  .mat-select-arrow-wrapper {
    color: mat-color($foreground, icon);
  }

  .name-label {
    color: mat-color($accent);
  }
  
  .range-label {
    color: mat-color($background, text);
  }

  .ccf-slider {
    background-color: mat-color($background, dropdown);

    .slider {
      .ng5-slider-bar,
      .ng5-slider-selection,
      .ng5-slider-pointer {
        background-color: mat-color($accent);
      }

      .ng5-slider-pointer {
        border-color: mat-color($background, dropdown);
      }
    }

    .label {
      &.min,
      &.max {
        input {
          color: mat-color($primary, text);
        }
      }

      &.ceil,
      &.floor {
        color: mat-color($accent);
      }
    }
  }
}
