@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .ccf-slices-input {
    .icon {
      color: mat.get-color-from-palette($foreground, main);

      &:hover {
        background: mat.get-color-from-palette($foreground, icons-hover);
      }
    }

    .label {
      color: mat.get-color-from-palette($foreground, icon-disabled);
    }

    .mat-form-field-ripple {
      background-color: mat.get-color-from-palette($accent) !important;
    }
  }
}
