<div class="header">
  <span class="text title">Tissue Slices</span>
  <div class="filler"></div>
  <mat-icon matRipple [matRippleUnbounded]="true"class="icon refresh" (click)="refreshSlices()">refresh</mat-icon>
</div>

<div class="slices-inputs">
  <mat-form-field class="field">
    <mat-label class="text label">Thickness</mat-label>
    <input matInput class="input" type="number" [value]="slicesConfig.thickness"
           (input)="updateSlicesData($event, 'thickness')">
    <div matSuffix class="suffix" [class.show]="hasThicknessValue">μm</div>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label class="text label"># Slices</mat-label>
    <input matInput class="input" type="number" [value]="slicesConfig.numSlices"
           (input)="updateSlicesData($event, 'numSlices')">
  </mat-form-field>
</div>
