
.slices-input {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;

  .slices-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
  
    .slices-refresh {
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  .slices-input-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  
    .form-entry {
      display: flex;
      flex-direction: column;
      width: 30%;
      .form-input {
        text-align: center;
      }
      
      ::ng-deep .mat-form-field-label-wrapper {
        top: -1.5em;
      }
    }
  }
}