:host {
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .header {
    display: flex;
    align-items: center;
    height: 1.5rem;

    .title {
      font-weight: bold;
    }

    .refresh {
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  .slices-inputs {
    display: flex;

    .field {
      width: 33.33%;

      &:not(:last-child) {
        padding-right: 0.75rem;
      }

      .input {
        text-align: center;
      }

      .suffix {
        display: none;
      }

      &.mat-focused .suffix, .suffix.show {
        display: initial;
      }
    }
  }

  .filler {
    flex-grow: 1;
  }
}
