@import 'global/sizes', 'global/colors', 'global/mixins';

.ccf-navigation.wrapper {
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;
    background: $background-color;
    @include default-border(right);

    .icon {
      $icon-padding-left: 0.75rem;
      $icon-padding-right: 0.75rem;
      $icon-size: $navigation-width - $icon-padding-left - $icon-padding-right;

      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      padding-left: $icon-padding-left;
      padding-right: $icon-padding-right;
    }

    .svg-icon {
      box-sizing: content-box;
    }

    .item {
      margin-bottom: 0.5rem;
      color: $icon-color;
      outline: none;
      cursor: pointer;

      .label {
        font-size: 0.625rem;
        text-align: center;
      }

      &.active {
        color: $active-icon-color;
      }
    }

    .search {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0;

      &.active {
        background: $active-button-color;

        .icon {
          color: $active-button-contrast-color;
        }
      }
    }

    .home {
      margin-top: 0.5rem;
    }

    .feedback {
      margin-bottom: 0;
      text-decoration: none;
    }

    .filler {
      flex-grow: 1000000; // Huge number to make it consume extra space
    }
  }
}
