@use '@angular/material' as mat;


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($color-config, primary);
  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);

  ccf-registration-metadata {
    mat-label {
      color: mat.get-color-from-palette($foreground, placeholder-text);
    }

    .mdc-line-ripple::before,
    .mdc-line-ripple::after {
      border-bottom-color: mat.get-color-from-palette($foreground, placeholder-text) !important;
    }

    .orcid-input, .organ-selector {
      .mat-mdc-text-field-wrapper,
      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }
    }

    mat-radio-button {
      .mdc-radio__outer-circle {
        border-color: mat.get-color-from-palette($foreground, button-background) !important;
      }
    }

    .mat-mdc-radio-checked {
      .mdc-radio__inner-circle {
        border-color: mat.get-color-from-palette($foreground, button-background) !important;
      }
    }

    .mat-mdc-select-value-text {
      color: mat.get-color-from-palette($foreground, main);
    }

    .mat-mdc-select-arrow {
      color: mat.get-color-from-palette($foreground, text);
    }

    .upload-button {
      background-color: mat.get-color-from-palette($foreground, button-background);
      color: mat.get-color-from-palette($foreground, sidebar-dividers) !important;
      border: 1px solid mat.get-color-from-palette($background, background);

      &:hover {
        background: rgba(0, 0, 0, 0.04);
        color: mat.get-color-from-palette($foreground, 'main') !important;
        border: 1px solid mat.get-color-from-palette($foreground, active-icon);
      }
    }
  }
}
