<div class="author-section">
  <h2 class="section-title">Author Data</h2>

  <ccf-name-input [name]="$any(page.user$ | async)" (nameChange)="page.setUserName($event); checkNameValid($event)">
  </ccf-name-input>

  <mat-form-field class="orcid-input">
    <mat-label>ORCID identifier (optional)</mat-label>
    <input matInput class="input" [value]="orcId" [formControl]="orcidControl"
      (input)="updateOrcid($any($event.target).value)" matTooltip="Add ORCID id." maxlength="19">
    <mat-error *ngIf="orcidControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div class="donor-section">
  <h2 class="section-title">Donor Data</h2>

  <div class="sex-toggle">
    <div class="label">Donor Sex: </div>
    <mat-radio-group class="radio-group" [value]="model.sex$ | async" (change)="setSexFromLabel($event.value)">
      <mat-radio-button class="radio" value="male">Male</mat-radio-button>
      <mat-radio-button class="radio" value="female">Female</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="organ-selector">
    <div class="label">Select an organ: </div>
    <mat-form-field class="form-field" appearance="fill" subscriptSizing="dynamic">
      <div *ngIf="(model.organ$ | async) === undefined" class="label">Organs</div>
      <mat-select disableOptionCentering="true" panelClass="organ-select" [value]="model.organ$ | async"
        (selectionChange)="model.setOrgan($event.value); model.setOrganDefaults()" hideSingleSelectionIndicator="true">
        <mat-option class="organ-select-option" *ngFor="let organ of (page.organOptions$ | async)" [value]="organ">
          {{organ.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="upload-registration">
    <div class="label">Upload previous registration data (optional):</div>

    <ccf-json-file-reader (parsedJson)="handleRegistrationUpload($any($event))" label="Upload"
      matTooltip="Upload a preexisting registration"></ccf-json-file-reader>

    <div>{{uploadText}}</div>

  </div>
</div>
