@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .ccf-header {
    border-bottom-color: mat-color($foreground, header-border);
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, headers);

    .icon {
      color: mat-color($foreground, icon);
    }

    .text {
      color: mat-color($foreground, logo);
    }

    .home:hover * {
      color: mat-color($accent);
    }

    .info {
      color: mat-color($foreground, info-icon);
    }
  }
}
