<ng-container *ngIf="page.useCancelRegistrationCallback$ | async; then backButton else logo">
</ng-container>

<ng-template #backButton>
  <div class="link home" (click)="page.cancelRegistration()" rel="noreferrer noopener">
    <mat-icon class="icon backbutton">chevron_left</mat-icon>
    <span class="text">BACK</span>
  </div>
</ng-template>

<ng-template #logo>
  <a class="link portal" [href]="homeUrl" rel="noreferrer noopener"
    [matTooltip]="logoTooltip" matTooltipPosition="right">
    <div class="logo" aria-hidden="false" aria-label="Reset tool">
    </div>
  </a>
</ng-template>

<div class="filler"></div>
