:host {
  display: block;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
  height: -webkit-fill-available;

  .stage-options {
    position: relative;
    bottom: 1.5rem;
  }
}
