<ccf-body-ui #bodyUI class="body-ui"
  [scene]="scene$ | async"
  [interactive]="true"
  camera="perspective"
></ccf-body-ui>

<div class='stage-options'>
  <ccf-slide-toggle
    class="view-slider"
    [labels]="['Male', 'Female']"
    [value]="sex"
    (valueChange)="updateSex($event)"
  ></ccf-slide-toggle>

  <ccf-slide-toggle
    class="view-slider"
    [labels]="['Left', 'Right']"
    [value]="side"
    [disabled]="!side"
    (valueChange)="updateSide($event)"
  ></ccf-slide-toggle>
</div>
