<div class="ccf-age-selector wrapper">
  <div class="container">
    <!-- NOTE: Do NOT remove the ccf-age-selector class! -->
    <div *cdk-portal class="ccf-age-selector detached" [class.hidden]="!isSliderOpen" #popover>
      <div class="label min">{{ options.floor }}</div>
      <ng5-slider class="slider" [options]="options" [(value)]="lowValue" [(highValue)]="highValue"
        (userChangeEnd)="sliderValueChanged()">
      </ng5-slider>
      <div class="label max">{{ options.ceil - 1 }}+</div>
    </div>

    <mat-form-field class="form-field" [class.highlight]="isSliderOpen">
      <mat-select [placeholder]="ageRangeLabel" (click)="toggleSliderPopover()">
      </mat-select>
    </mat-form-field>
  </div>
</div>