@import 'global/colors';

.ccf-age-selector.wrapper {
  .container {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #757575;

    .button {
      &.highlight {
        background: $age-slider-background-color;
      }
    }
  }
}

// Styles for the popover slider
// NOTE: This must NOT be nested inside the wrapper/container!
.ccf-age-selector.detached {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625rem;
  padding: 1rem; // NOTE: Use padding instead of margin!
  border: 1px solid $border-color;
  box-shadow: 0.125rem 0.125rem 0.25rem #9e9e9e;
  background: $age-slider-background-color;

  &.hidden {
    visibility: hidden;

    ::ng-deep * {
      // Force all slider elements to become hidden
      visibility: hidden !important;
    }
  }

  .slider ::ng-deep {
    margin-top: 15px;
    margin-bottom: 15px;

    .ng5-slider-bar {
      background: $age-slider-bar-color;
    }

    .ng5-slider-selection {
      background: $age-slider-selection-color;
    }

    .ng5-slider-pointer {
      $pointer-size: 0.75rem;

      width: $pointer-size;
      height: $pointer-size;
      top: 0.125rem - ($pointer-size / 2);
      background-color: $age-slider-selection-color;
      border: 0.0625rem solid $background-color;

      &:after {
        display: none;
      }
    }
  }

  .label {
    &.min {
      margin-right: 1rem;
    }

    &.max {
      margin-left: 1rem;
    }
  }
}
