@use '~@angular/material' as mat;
@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .checkbox {
    &.selected {
      color: mat.get-color-from-palette($primary, 'white');
    }

    &.unselected {
      color: mat.get-color-from-palette($background, checkbox-color);
    }
  }

  .donor {
    .hover-state {
      border-right: 1px solid mat.get-color-from-palette($foreground, icons-disabled);
    }
  }

  .hover-state {
    background-color: mat.get-color-from-palette($background, donor-card-background);

    .hover-title {
      color: mat.get-color-from-palette($primary, text);
    }

    .hover-icon {
      color: mat.get-color-from-palette($background, checkbox-color);
    }
  }

  .icon-light {
    color: mat.get-color-from-palette($foreground, icons-light);
  }

  .icon-dark {
    color: mat.get-color-from-palette($foreground, main);
  }
}
